h1 a {  background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/media/img/logo_rollover4.png", sizingMethod="crop"); }

body.home div#header { background:transparent url(/media/img/header_top_8.png) no-repeat scroll left 154px;}

div#header { background: url(../img/header_topInterior_8.png) left 154px no-repeat; height: 213px;}

div#columns { zoom: 1;}
body.home div#columns { width: 954px;}
div#rtColumn, div#ltColumn { overflow: hidden;}

div.post { background:transparent url(/media/img/icon_post_8.png) no-repeat scroll left top;}
span.tweet { background:transparent url(/media/img/icon_tweet_8.png) no-repeat scroll left top; }

body.home div#columns { background:transparent url(/media/img/column_ltHome_8.png) repeat-y scroll left top;}
div#columns { background:transparent url(/media/img/column_lt_8.png) repeat-y scroll left top;}

a.continueReading { background:transparent url(/media/img/arrow_8.png) no-repeat scroll right 3px;}

div.calendarDate { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/media/img/calendar_bg.png", sizingMethod="crop");}

a#sunlightFoundation { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/media/img/logo_sunlightFoundation.png", sizingMethod="crop");}

div#copyright { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/media/img/copyright_bg.png", sizingMethod="crop");}
div#copyrightWrapper { background:transparent url(/media/img/copyright_wrapper_8.png) repeat-x scroll left top;}

div.mainModule { background:transparent url(/media/img/break_mainModule_8.png) repeat-x scroll left bottom;}
li.module, div.module { background:transparent url(/media/img/break_module_8.png) repeat-x scroll left bottom;}

div#footer{ background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/media/img/bar_bottom.png", sizingMethod="crop");}

#featureBox { background:url("../img/bg_feature_8.png") left top no-repeat;}
#featureHeader { position: relative; z-index: 2;}

.featureModule{ margin-bottom: 0px;}

#featureMainNav { background:url("../img/bg_secondaryNav_8.png") left top no-repeat; } 
button.goBtn { background:url("../img/btn_go_8.png") left top no-repeat; } 
button.goBtn:hover { background: url(../img/btn_go_8.png) left -27px no-repeat;} 

body.fullWidth div#columns { background: url(../img/column_ltFull_8.png) top left repeat-y;}
body.fullWidth div#header{ background: url(../img/header_full_8.png) left 154px no-repeat;}