h1 a {  background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/media/img/logo_3.png", sizingMethod="crop"); }
h1 a:hover {  background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/media/img/logo_rollover3.png", sizingMethod="crop"); }
h1 { margin-top: -26px;}

body.home div#header { background:transparent url(/media/img/header_top_8.png) no-repeat scroll left 154px;}

div#columns { zoom: 1;}
body.home div#columns { width: 954px;}
body.home div#rtColumn, body.home div#ltColumn { overflow: none;}
body.home div#ltColumn  { margin: 0 25px 0 0; width: 340px;}
body.home div#rtColumn { width: 500px;}

div.post { background:transparent url(/media/img/icon_post_8.png) no-repeat scroll left top;}
span.tweet { background:transparent url(/media/img/icon_tweet_8.png) no-repeat scroll left top; }

body.home div#columns { background:transparent url(/media/img/column_ltHome_8.png) repeat-y scroll left top;}
div#columns { background:transparent url(/media/img/column_lt_8.png) repeat-y scroll left top;}

a.continueReading { background:transparent url(/media/img/arrow_8.png) no-repeat scroll right 3px;}

div.calendarDate { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/media/img/calendar_bg.png", sizingMethod="crop");}