body {
    font-family: Helvetica, Arial, sans-serif;
}
table.dfTimeline {
    border-collapse: collapse;
}
table.dfTimeline th {
    font-weight: normal;
    text-align: left; 
    font-size: 90%;
    padding: 5px;
    border-bottom: 5px solid #fff;
    width: 200px;
}
table.dfTimeline td { 
    border-bottom: 5px solid #fff;
    width: 5px;
}
table.dfTimeline td span.date {
    display: none;
}
.cftc {
    background-color: red;
}
.fdic {
    background-color: blue;
}
.federal-reserve {
    background-color: green;
}
.sec {
    background-color: yellow;
}
.treasury {
    background-color: purple;
}
.multiple {
    background-color: gray;
}

table#key td {
    width: 20px;
}
