<!doctype html>
{% load cache %}
<html>
  <head>

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="3wa4E5iGsKSwN886ts897uQBnZWj_kXWxnnQ2EOaheE" />
    
    <script>var _sf_startpt=(new Date()).getTime()</script>

    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="http://assets.sunlightfoundation.com/favicon.ico" type="image/x-icon">



  </head>

<body>
	
{% block content %}

{% endblock content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
{% block js %}
{% endblock js %}
<script>
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
   document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
 </script>
 <script>
   try {
     var pageTracker = _gat._getTracker("UA-1265484-45");
     pageTracker._trackPageview();
   } catch(err) {}
 </script>
 </body>
</html>