{% extends "outside_spending/buckley_base.html" %}

{% load buckley %}
{% load humanize %}
{% load charts %}

{% block title %}{{ committee.name }} - {{ block.super }}{% endblock %}

{% block body %}{{ block.super }} {% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>{{ committee.name }}</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "outside_spending/tabs.html" %}

request is: {{ request.get_full_path }} host: {{ request.get_host }}
<H2>INDEPENDENT EXPENDITURES</H2>
<p><b>ALL independent expenditures</b></p>
<div id="{{div_name_9}}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<H2>INDEPENDENT EXPENDITURES WEEKLY</H2>
<p><b>ALL independent expenditures</b></p>
<div id="{{div_name_4}}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<H2>PRESIDENTIAL SPENDING BY PARTY</H2>
<p><b>Pres general election expenditures</b></p>
<div id="{{div_name_1}}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<H2>SENATE SPENDING BY PARTY</H2>
<p><b>Senate general election expenditures. Money "backing" republicans is the amount of outside money supporting republicans plus the money spent opposing democrats, and vice versa.</b></p>
<div id="{{div_name_3}}" class="chart_container" style="width: 507px; height: 330px;" ></div>


<H2>HOUSE SPENDING BY PARTY</H2>
<p><b>House general election expenditures. Money "backing" republicans is the amount of outside money supporting republicans plus the money spent opposing democrats, and vice versa.</b></p>
<div id="{{div_name_2}}" class="chart_container" style="width: 507px; height: 330px;" ></div>


<H2>NON COMMITTEE BY AFFILIATION</H2>
<p><b></b></p>
<div id="{{div_name_5}}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<H2>Super PAC spending affiliation weekly</H2>
<p><b></b></p>
<div id="{{div_name_6}}" class="chart_container" style="width: 507px; height: 330px;" ></div>


<H2>Party spending affiliation weekly</H2>
<p><b></b></p>
<div id="{{div_name_7}}" class="chart_container" style="width: 507px; height: 330px;" ></div>
{% endblock %}

{% block js %}
{{ block.super }}


<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/highcharts.js"></script>

{% load cache %}
{% cache 1 'all_ie_chart'  %}
{% all_ies_chart div_name_9 %}
{% endcache %}

{% load cache %}
{% cache 2 'presidential_all_ie_party_general'  %}
{% presidential_all_ie_party_general div_name_1 %}
{% endcache %}

{% load cache %}
{% cache 2 'senate_all_ie_party_general'  %}
{% senate_all_ie_party_general div_name_3 %}
{% endcache %}


{% load cache %}
{% cache 1 'house_all_ie_party_general'  %}
{% house_all_ie_party_general div_name_2 %}
{% endcache %}


{% load cache %}
{% cache 1 'all_ies_party_weekly'  %}
{% all_ies_party_weekly div_name_4 %}
{% endcache %}

{% load cache %}
{% cache 1 'noncommittee_spending_by_affiliation'  %}
{% noncommittee_spending_by_affiliation div_name_5 %}
{% endcache %}

{% load cache %}
{% cache 1 'superpac_partisan_general_weekly'  %}
{% superpac_partisan div_name_6 %}
{% endcache %}


{% load cache %}
{% cache 1 'party_spending_by_affiliation'  %}
{% party_spending_by_affiliation div_name_7 %}
{% endcache %}


{% endblock %}