{% extends "outside_spending/buckley_base.html" %}

{% load buckley %}
{% load humanize %}
{% load charts %}

{% block title %}{{ committee.name }} - {{ block.super }}{% endblock %}

{% block body %}{{ block.super }} {% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>{{ committee.name }}</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "outside_spending/tabs.html" %}


<H2>INDEPENDENT EXPENDITURES</H2>
<p><b>ALL independent expenditures</b></p>
<div id="{{div_name_9}}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<p><b>super PAC (O)</b></p>
<div id="{{div_name}}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<p><b>Non-Committees (I)</b></p>
<div id="{{div_name_2 }}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<p><b>Non-Party (N, Q)</b></p>
<div id="{{div_name_3 }}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<p><b>Party (Y,Z)</b></p>
<div id="{{div_name_4 }}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<H2>SUPERPAC SPENDING BY PARY</H2>

<p><b>Overall spending by superpac orientation</b></p>
<div id="{{div_name_5 }}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<p><b>Overall contributions by superpac orientation</b></p>
<div id="{{div_name_6 }}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<p><b>Primary election spending by superpac orientation</b></p>
<div id="{{div_name_7 }}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<p><b>General election spending by superpac orientation</b></p>
<div id="{{div_name_8 }}" class="chart_container" style="width: 507px; height: 330px;" ></div>

<p><b>Presidential general election spending by superpac orientation</b></p>
<div id="{{div_name_10 }}" class="chart_container" style="width: 507px; height: 330px;" ></div>

{% endblock %}

{% block js %}
{{ block.super }}


<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/highcharts.js"></script>

{% load cache %}
{% cache 30 'all_ie_chart'  %}
{% all_ies_chart div_name_9 %}
{% endcache %}

{% load cache %}
{% cache 30 'superpac_chart'  %}
{% superpac_chart div_name %}
{% endcache %}


{% load cache %}
{% cache 10 'noncommittee_spending'  %}
{% noncommittee_spending div_name_2 %}
{% endcache %}



{% load cache %}
{% cache 10 'nonparty_chart'  %}
{% nonparty_spending div_name_3 %}
{% endcache %}

{% load cache %}
{% cache 10 'party_chart'  %}
{% party_spending div_name_4 %}
{% endcache %}

{% load cache %}
{% cache 10 'superpac_by_parties'  %}
{% superpac_partisan div_name_5 %}
{% endcache %}

{% load cache %}
{% cache 10 'superpac_contribs'  %}
{% superpac_partisan_contribs div_name_6 %}
{% endcache %}


{% load cache %}
{% cache 10 'superpac_primary'  %}
{% superpac_partisan_primary div_name_7 %}
{% endcache %}


{% load cache %}
{% cache 10 'superpac_general'  %}
{% superpac_partisan_general div_name_8 %}
{% endcache %}

{% load cache %}
{% cache 10 'superpac_general_presidential'  %}
{% superpac_partisan_general_presidential div_name_10 %}
{% endcache %}


{% endblock %}