{% extends "outside_spending/buckley_base.html" %}

{% block title %}Competitive Races - {{ block.super }}{% endblock %}

{% block body %}expendituresHome fullWidth {% endblock %}


{% load humanize %}
{% load media %}

{% block breadcrumb %}
<li>Races</li>
{% endblock %}


{% block content %}
    {% include "outside_spending/tabs.html" %}

    <h2>
        Competitive races
    </h2>
    <p>In the below "general election outside support" is the total amount of outside money helping a candidate in a general election; in other words, the sum of expenditures helping the candidate and opposing their opponent. Candidate fundraising is total receipts reported through October 17; it does not include last-minute contributions. The race-wide totals include spending by and against primary candidates. </p>



    {% for race in races %}
	<div style="margin-top:40px;">
    <h3 style="margin-bottom:0px;"><a href="{{race.get_absolute_url}}">{{ race.race_name }}</a></h3>
	Cook rating: {{ race.cook_rating}}
      <br> Total outside money: ${{ race.total_ind_exp|floatformat:0|intcomma }}
	<br>Total candidate fundraising: ${{ race.total_receipts|floatformat:0|intcomma }}
	<table id="competitiveracetable">
	<thead>
        <tr>
            <th style="padding:2px; line-height:16px">Candidate</th>
            <th style="padding:2px; line-height:16px">General election outside support</th>
            <th style="padding:2px; line-height:16px">Candidate fundraising</th>
        </tr>
    </thead>

	<tbody>
	{% ifequal race.state 'ME' %}
	<tr><td style="padding:2px; line-height:16px"><a href="/outside-spending/candidate/dill-cynthia-ann/S2ME00083/">KING, ANGUS (I)</a> </td><td style="padding:2px; line-height:16px">*</td><td style="padding:2px; line-height:16px">$2,542,779</td></tr>
	<tr><td style="padding:2px; line-height:16px"><a href="/outside-spending/candidate/dill-cynthia-ann/S2ME00083/">DILL, CYNTHIA ANN (D)</a> </td><td style="padding:2px; line-height:16px">*</td><td style="padding:2px; line-height:16px">$161,833</td></tr>
		<tr><td style="padding:2px; line-height:16px"><a href="/outside-spending/candidate/summers-charles-edward-jr/S2ME00133/">SUMMERS, CHARLES EDWARD JR (R)</a> </td><td style="padding:2px; line-height:16px">*</td><td style="padding:2px; line-height:16px">$1,125,418</td></tr>
	
	{% else %}
	<tr><td style="padding:2px; line-height:16px">{% if race.demcand.cand_is_gen_winner %}<b>winner</b> {% endif %}<a href="{{ race.demcand.get_absolute_url }}">{{ race.demcand }} (D)</a> {% ifequal 'I' race.demcand.seat_status %}(Incumbent){% endifequal %}</td><td style="padding:2px; line-height:16px">${{ race.total_pro_dem_general|floatformat:0|intcomma }}</td><td style="padding:2px; line-height:16px">${{ race.demcand.cand_ttl_receipts|floatformat:0|intcomma }}</td></tr>
	<tr><td style="padding:2px; line-height:16px">{% if race.repcand.cand_is_gen_winner %}<b>winner</b> {% endif %}<a href="{{ race.repcand.get_absolute_url }}">{{ race.repcand }} (R)</a> {% ifequal 'I' race.repcand.seat_status %}(Incumbent){% endifequal %}</td><td style="padding:2px; line-height:16px">${{ race.total_pro_rep_general|floatformat:0|intcomma }}</td><td style="padding:2px; line-height:16px">${{ race.repcand.cand_ttl_receipts|floatformat:0|intcomma }}</td></tr>
	{% endifequal %}
	</tbody>
	</table>
	{% ifequal race.state 'ME' %}Because there are three prominent candidates in this race it's hard to say who outside spending has benefitted. For example, the <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/maine-freedom/C00527408/">Maine Freedom Fund</a> claims to support Cynthia Dill, a Democrat, but because the PAC's treasurer, <a href="http://query.nictusa.com/cgi-bin/fecimg/?C00527408">Michael G. Adams</a> is <a href="http://rga-org.myrga.org/index.php?option=com_content&view=article&id=8&Itemid=11">general counsel for the Republican Governor's Association</a> it is assumed the PAC is actually trying to siphon off Angus King's support.{% endifequal %}
	</div>
	
    {% endfor %}


{% endblock content %}

{% block js %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>

{% endblock %}
