{% extends "outside_spending/buckley_base.html" %}

{% block title %}Competitive races: spending and results- {{ block.super }}{% endblock %}

{% block body %}expendituresHome fullWidth {% endblock %}


{% load humanize %}
{% load media %}

{% block breadcrumb %}
<li>Competitive races: spending and results</li>
{% endblock %}


{% block content %}
    {% include "outside_spending/tabs.html" %}

    <h2>
        Competitive races: spending and results
    </h2>
    <p>
		The listings below describe the money landscape in congressional races described as the country's most competitive by the non-partisan Cook Political Report. We're updating this page as more results become official.
		<ul> 
		<li><strong>Total outside money</strong> represents all outside spending for the entire 2012 campaign cycle, <em>including</em> the primary. </li>
		<li><strong>General candidate fundraising</strong> represents the total receipts raised by the candidates who ran in the general election.</li>
		<li>  <strong>General election outside support</strong> represents the total amount of outside money helping a candidate in the fall campaign: the sum of expenditures supporting that candidate and opposing his or her rival. </li>
		<li><strong>Candidate fundraising</strong> represents the total amount collected by a candidates' committees through Oct. 17; it does not include last-minute contributions. </li></p>



    {% for race in races %}
	<div style="margin-top:40px;">
    <h3 style="margin-bottom:0px;"><a href="{{race.get_absolute_url}}">{{ race.race_name }}</a></h3>
	Cook rating: {{ race.cook_rating}}
      <br> Total outside money: ${{ race.total_ind_exp|floatformat:0|intcomma }}
	<br>General candidate fundraising: ${{ race.total_receipts_gen_candidates|floatformat:0|intcomma }}
	{% if race.winner %}{% else %}<br><b>This race has not yet been decided</b>{% endif %}
	<table id="competitiveracetable">
	<thead>
        <tr>
            <th style="padding:2px; line-height:16px; width: 330px;">Candidate</th>
            <th style="padding:2px; line-height:16px; width: 300px;">General election outside support</th>
            <th style="padding:2px; line-height:16px">Candidate fundraising</th>
        </tr>
    </thead>

	<tbody>
	{% ifequal race.state 'ME' %}
	<tr><td style="padding:2px; line-height:16px"><a href="/outside-spending/candidate/dill-cynthia-ann/S2ME00083/">KING, ANGUS (I)</a> </td><td style="padding:2px; line-height:16px">*</td><td style="padding:2px; line-height:16px">$2,542,779</td></tr>
	<tr><td style="padding:2px; line-height:16px"><a href="/outside-spending/candidate/dill-cynthia-ann/S2ME00083/">DILL, CYNTHIA ANN (D)</a> </td><td style="padding:2px; line-height:16px">*</td><td style="padding:2px; line-height:16px">$161,833</td></tr>
		<tr><td style="padding:2px; line-height:16px"><a href="/outside-spending/candidate/summers-charles-edward-jr/S2ME00133/">SUMMERS, CHARLES EDWARD JR (R)</a> </td><td style="padding:2px; line-height:16px">*</td><td style="padding:2px; line-height:16px">$1,125,418</td></tr>
	
	{% else %}
	<tr><td style="padding:2px; line-height:16px">{% if race.demcand.cand_is_gen_winner %}<b>winner</b> {% endif %}<a href="{{ race.demcand.get_absolute_url }}">{{ race.demcand }} (D)</a> {% ifequal 'I' race.demcand.seat_status %}(Incumbent){% endifequal %}</td><td style="padding:2px; line-height:16px">${{ race.total_pro_dem_general|floatformat:0|intcomma }}</td><td style="padding:2px; line-height:16px">${{ race.demcand.cand_ttl_receipts|floatformat:0|intcomma }}</td></tr>
	<tr><td style="padding:2px; line-height:16px">{% if race.repcand.cand_is_gen_winner %}<b>winner</b> {% endif %}<a href="{{ race.repcand.get_absolute_url }}">{{ race.repcand }} (R)</a> {% ifequal 'I' race.repcand.seat_status %}(Incumbent){% endifequal %}</td><td style="padding:2px; line-height:16px">${{ race.total_pro_rep_general|floatformat:0|intcomma }}</td><td style="padding:2px; line-height:16px">${{ race.repcand.cand_ttl_receipts|floatformat:0|intcomma }}</td></tr>
	{% endifequal %}
	</tbody>
	</table>
	{% ifequal race.state 'ME' %}<br>* Because there are three prominent candidates in this race it is hard to say who outside spending has benefitted. For example, the <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/maine-freedom/C00527408/">Maine Freedom Fund</a> claims to support Cynthia Dill, a Democrat, but because the PAC's treasurer, <a href="http://query.nictusa.com/cgi-bin/fecimg/?C00527408">Michael G. Adams</a> is <a href="http://rga-org.myrga.org/index.php?option=com_content&view=article&id=8&Itemid=11">general counsel for the Republican Governor's Association</a> it is assumed the PAC is actually trying to siphon off support from Angus King.{% endifequal %}
	</div>
	
    {% endfor %}


{% endblock content %}

{% block js %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>

{% endblock %}
