{% extends "outside_spending/buckley_base.html" %}

{% load humanize %}

{% block title %}Recent Independent Expenditures{% endblock %}

{% block body %}  fullWidth expendituresIes{% endblock %}

{% block breadcrumb %}
<li>Recent independent expenditures</li>
{% endblock breadcrumb %}

{% block content %}

    {% include "outside_spending/tabs.html" %}


    <h2>
        Recent independent expenditures
    </h2>
    <p>{{ explanatory_text|safe }}</p>

    {% if ies %}
    <p class="tip">Click on a race, committee or candidate name for more details</p>

   
    <table id="expenditures">
        <thead>
            <tr>
                <th>Date</th>
                <th>Race</th>
                <th>Committee</th>
                <th>Support/Oppose</th>
                <th>Candidate</th>
                <th>State</th>
                <th>Amount</th>
                <th>Purpose</th>
            </tr>
        </thead>
        <tbody>
        {% for ie in ies %}    
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ ie.expenditure_date }}</td>
                <td><a href="{{ie.candidate.get_race_url}}">{{ ie.candidate.race }}</a></td>
                <td><a href="{{ie.committee.get_absolute_url}}">{{ ie.committee.name }}</a></td> 
                <td>{{ ie.support_or_oppose }}</td>
                <td><a href="{{ie.candidate.get_absolute_url}}">{{ ie.candidate.fec_name }} {{ ie.candidate.display_party }}</a></td> 
                <td>{% if ie.state %}{{ ie.state }}{% endif %}</td>
                <td>${{ ie.expenditure_amount|intcomma }}</td>                               
                <td>{{ ie.expenditure_purpose }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>    
        {% endif %}

{% endblock content %}
