{% extends "outside_spending/buckley_base.html" %}

{% load buckley %}
{% load humanize %}

{% block title %}Non-committee independent expenditures{% endblock %}

{% block body %}{{ block.super }} {% endblock %}

{% block breadcrumb %}{{ block.super }}
{% endblock breadcrumb %}

{% block content %}
    {% include "outside_spending/tabs.html" %}

    <h2>
        Non-committee independent expenditures
    </h2>

<div><span class="amountLine">
	Total: ${{ total_spent|intcomma}}
	<br>Against Democrats: ${{ total_dem_oppose|intcomma}} In favor of Republicans ${{ total_rep_support|intcomma}}
	<br>Against Republicans ${{ total_rep_oppose|intcomma}} In favor of Democrats ${{ total_dem_support|intcomma}}
</div>




<a name="spending"></a>
{% if expenditures %}
<div class="space_above"><h3>Independent Expenditures </h3></div>
<p>{{ explanatory_text_details|safe }}</p>
<table id="expenditure_details" class="tablesorter">
       <thead>
           <tr>
               <th class="sort">Date</th>
               <th class="sort">Committee</th>
               <th class="sort">Candidate</th>
               <th class="sort">Support/Oppose</th>
               <th class="sort">Amount</th>
               <th class="sort">State</th>                   
               <th class="sort">Purpose</th>
           </tr>
       </thead>
       <tbody>
       {% for ie in expenditures %}    
           <tr class="{% cycle 'odd' 'even' %}">
               <td>{{ ie.expenditure_date }}</td>
               <td><a href="{{ie.committee.get_absolute_url}}">{{ ie.committee.name }}</a></td>
               <td><a href="{{ie.candidate.get_absolute_url}}">{{ ie.candidate.fec_name }}</a> {{ ie.candidate.display_party}}</td>                
               <td>{{ ie.support_or_oppose }}</td>
               <td>${{ ie.expenditure_amount|intcomma }}</td>   
               <td>{% if ie.state %}{{ ie.state }}{% endif %}</td>                                               
               <td>{{ ie.expenditure_purpose }}</td>
           </tr>
       {% endfor %}
       </tbody>
       </table>
       {% endif %}







{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/jquery.tablesorter.min.js"></script>

{% with '[3,1]' as sortdir %}
{% include "outside_spending/tablesorter.html" %}
{% endwith %}
{% with '[0,1]' as sortdir %}
{% include "outside_spending/tablesorter_expenditure_details.html" %}
{% endwith %}
{% with '[1,1]' as sortdir %}
{% include "outside_spending/tablesorter_contribs.html" %}
{% endwith %}
{% comment %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>
{% endcomment %}
{% endblock %}
