{% extends "outside_spending/buckley_base.html" %}

{% load humanize %}

{% block title %}File downloads - {{ block.super }}{% endblock %}

{% block body %}{{ block.super }} filedownloads {% endblock %}

{% block breadcrumb %}
<li>File downloads</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "outside_spending/tabs.html" %}

    <h2>
        File downloads  (.csv format)
    </h2>
    <p>Files are available for download throughout this site; all that are available are aggregated on this page below. Please read the <a href="http://reporting.sunlightfoundation.com/super-pac/data/about/year-end/2011/">detailed information about the data</a> before using them. 
    <br>Jump to: <a href="#super-pacs">Super PACs</a>&nbsp;|&nbsp;<a href="#states">States</a>&nbsp;|&nbsp;<a href="#races">Races</a></p>


<div class="clear"></div>

<div class="space_above"><h3>Complete files</h3>
<p>The contribution file includes all contributions to all super PACs during the 2012 election cycle; the independent expenditure files include all reported independent expenditures--both those made by super PACs and not.</p>
    </div>

<span class="amountLine"><a href="/outside-spending/csv/all/expenditures/" onClick="javascript: _gaq.push(['_trackPageview', '/outside-spending/csv/all/expenditures/']);">Independent Expenditures</a></span><br>
<span class="amountLine"><a href="/outside-spending/csv/all/" onClick="javascript: _gaq.push(['_trackPageview', '/outside-spending/csv/all/']);">Contributions</a></span><br>

<a name="states"></a>
<div class="space_above"><h3>State Files</h3></div>
<p>Donor files include all donors to super PACs; expenditure files include all independent expenditures made in the listed state where a state is listed on the disclosure notice. Although the FEC requires PACs to assign a state to each independent expenditure made, many expenditures are missing this information. </p>
    
{% for state in states %}
<p>{{ state}}: <span class="amountLine"><a href="/outside-spending/csv/state/expenditures/{{ state.state }}" onClick="javascript: _gaq.push(['_trackPageview', '/outside-spending/csv/state/expenditures/{{ state.state }}']);">Expenditures</a></span>&nbsp;|&nbsp;<span class="amountLine"><a href="/outside-spending/csv/state/{{ state.state }}" onClick="javascript: _gaq.push(['_trackPageview', '/outside-spending/csv/state/{{ state.state }}']);">Donors</a></span></p>
{% endfor %}

<a name="races"></a>
<div class="space_above"><h3>Expenditures by race</h3></div>

{% for race in races %}
<p>{{ race.race_name }}: <span class="amountLine"><a href="/outside-spending/csv/race/expenditures/{{ race.office }}/{{race.state}}/{{race.district}}/" onClick="javascript: _gaq.push(['_trackPageview', '/outside-spending/csv/race/expenditures/{{ race.office }}/{{race.state}}/{{race.district}}/']);">Expenditures</a></span></p>
{% endfor %}

<a name="super-pacs"></a>
<div class="space_above"><h3>Contributions / Expenditures by committee</h3></div>
<p>Super PACS, hybrid super PACs and other groups that have recorded independent expenditures in the 2012 cycle are shown below. </p>
    
{% for committee in committees %}
<p><a href="{{committee.get_absolute_url}}" onClick="javascript: _gaq.push(['_trackPageview', '{{committee.get_absolute_url}}']);">{{ committee.name}}</a>: <span class="amountLine"><a href="{{committee.superpachackdonorscsv}}">Donors</a> {% if committee.cash_on_hand_date %}(As of {{committee.cash_on_hand_date}}){% endif %}</span>&nbsp;|&nbsp;
<span class="amountLine"><a href="{{committee.superpachackcsv}}" onClick="javascript: _gaq.push(['_trackPageview', '{{committee.superpachackcsv}}']);">Expenditures</a></span>&nbsp;|&nbsp;<span class="amountLine"><a href="http://query.nictusa.com/cgi-bin/fecimg/?{{committee.fec_id}}">FEC filings</a></span>
</p>
{% endfor %}

{% endblock content %}

{% block js %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>

{% endblock %}
