{% extends "outside_spending/buckley_base.html" %}

{% load humanize %}
{% load media %}


{% block title %}Non-committee FEC filers{% endblock %}

{% block body %}{{ block.super }} {% endblock %}

{% comment %}
{% block breadcrumb %}{{ block.super }}
{% endblock %}
{% endcomment %}

{% block content %}
    {% include "outside_spending/tabs.html" %}

<h2>
   Non-committee FEC filers
</h2>
<div>
    <span class="amountLine">Total Independent Expenditures:</span><span class="amount">${{totals.total|intcomma}}</span>

<br><span class="amountLine"><b>Negative: {{ neg_percent|floatformat:0}}%</b> </span>&nbsp;&nbsp;<span class="amountLine">Opposes Democrats: </span><span class="amount">${{ totals.oppose_dems|intcomma }}</span> &nbsp; <span class="amountLine">Opposes Republicans: </span><span class="amount">${{ totals.oppose_reps|intcomma }}</span>
<br>
<span class="amountLine"><b>Positive: {{ pos_percent|floatformat:0}}%</b> </span>&nbsp;&nbsp;<span class="amountLine">Supports Democrats: </span><span class="amount">${{ totals.support_dems|intcomma }}</span> &nbsp; <span class="amountLine">Supports Republicans: </span><span class="amount">${{ totals.support_reps|intcomma }}</span>

</div>


<p style="margin-top:10px;">{{ explanatory_text|safe }}</p>


{% if noncommittees %}

<p class="tip">Click on each noncommittee's name in the left column to see breakdowns of their spending, including aggregate amounts spent supporting or opposing individual candidates, and a chronological list of all their individual independent expenditure filings with the Federal Election Commission.</p>
<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Non-Committee</th>
            <th class="sort">Independent expenditures</th>
            <th class="sort">Oppose Republicans</th>
            <th class="sort">Support Democrats</th>
            <th class="sort">Oppose Democrats</th>
            <th class="sort">Support Republicans</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for noncommittee in noncommittees %}
            
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{{ noncommittee.get_absolute_url }}">{{ noncommittee.name }}</a></td>
                    <td>{% if noncommittee.total_indy_expenditures%}${{ noncommittee.total_indy_expenditures|intcomma }}{% endif %}</td>
                    <td>${{noncommittee.ie_oppose_reps|intcomma}}</td>
					<td>${{noncommittee.ie_support_dems|intcomma}}</td>
					<td>${{noncommittee.ie_oppose_dems|intcomma}}</td>
					<td>${{noncommittee.ie_support_reps|intcomma}}</td>
                    <td><a href="http://query.nictusa.com/cgi-bin/fecimg/?{{ noncommittee.fec_id }}">FEC filings</a></td>
                </tr>
            
        {% endfor %}
    </tbody>
</table>



{% endif %}

{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/jquery.tablesorter.min.js"></script>

{% with '[1,1]' as sortdir %}
{% include "outside_spending/tablesorter.html" %}
{% endwith %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>

{% endblock %}