{% extends "outside_spending/buckley_base.html" %}


{% load humanize %}
{% load charts %}

{% block title %}Overview - {{ block.super }}{% endblock %}

{% block body %}{{ block.super }} expendituresOverview {% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>{{ committee.name }}</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "outside_spending/tabs.html" %}

    <h2>
        Overview: 2011-12 outside spending
    </h2>

<div>
    <span class="amountLine">
        Total independent expenditures made, 2012 cycle: </span><span class="amount">${{total_ies|intword}}</span><br>
		<span class="amountLine">Total electioneering communications made, 2012 cycle: </span><span class="amount">${{total_ecs|intword}}</span>
</div>

<div class="space_above">
<h2>All Independent Expenditures</h2>
<span class="amountLine" style="margin-top:0px; padding-top:0px;">
        Total supporting a candidate: </span><span class="amount"> ${{supporting_ies|intword}}</span><span class="amountLine">
    <br>Total opposing a candidate: </span><span class="amount"> ${{opposing_ies|intword}}</span>

	
<div id="{{div_name_0}}" class="chart_container" style="width: 100%; height: 330px;" ></div>
<p>This includes independent expenditures by Super PAC's, party committees, non-party committees, and non-profit groups that haven't registered as political groups with the Federal Election Commission but file reports on their spending.</p>

	<h2>Super PACs</h2>
	<span class="amountLine">
	    Number of Super PACs: </span><span class="amount">{{total_sps}}</span>
	<br><span class="amountLine">Total independent expenditures made by Super PACs 2012 cycle: </span><span class="amount">${{total_sp_ies|intword}}</span>
	<br><span class="amountLine">Total itemized contributions to Super PACs, 2012 cycle:</span> <span class="amount">{% if total_contribs %}${{total_contribs|intword}}{% endif %}</span>
	<br><span class="amountLine">Total contributions to Super PACs from organizations (not individuals):</span><span class="amount"> {% if total_organizational %}${{total_organizational|intword}}{% endif %}</span>

	<div id="{{div_name_1}}" class="chart_container" style="width: 100%; height: 330px;" ></div>
	<p>For more details, see the <a href="/outside-spending/superpacs/">Super PAC</a> page, or the <a href="/outside-spending/super-pacs/donating-organizations/">organizational donors to Super PAC page</a>. Contribution totals listed above and on the chart do not include unitemized contributions to Super PACs.</p>
	
	
	<h2>Noncommittees</h2>
    <span class="amountLine">Total independent expenditures:</span><span class="amount"> ${{noncommittee_ies|intword}}</span>
	
	<div id="{{div_name_2 }}" class="chart_container" style="width: 100%; height: 330px;" ></div>
<p>Noncommittees are groups--typically 501(c)4s--that haven't registered as political groups with the FEC, but do report their independent expenditures. Among the biggest of these groups are <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/league-of-conservation-voters-inc/C90005786/">The League of Conservation Voters Inc.</a>, <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/american-action-network-inc/C90011230/">American Action Network</a> and the <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/us-chamber-of-commerce/C90013145/">US Chamber of Commerce.</a>Typically they do not report donors. For more details, see the <a href="/outside-spending/noncommittees/">noncommittees</a> page. Note that some groups also file separate reports under different FEC ID's; some entities also operate Super PACs or committees that make electioneering communications. </p>

    <h2>Party Committees</h2>
	<span class="amountLine">Independent expenditures by party committees:</span><span class="amount"> ${{party_ies|intword}}</span>
	<div id="{{div_name_4 }}" class="chart_container" style="width: 100%; height: 330px;" ></div>
	<p>Under FEC rules party committees can make independent expenditures, provided that they don't coordinate with a candidate. Party committees spending independently include the <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/republican-national-committee/C00003418/">Republican National Committee</a> and <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/national-republican-congressional-committee/C00075820/">National Republican Congressional Committee</a>. These are subject to contribution caps--unlike Super PACs they cannot take million dollar contributions from individuals. Party committees largely stay out of the fray during the primary elections, but play a larger role in the general election. These committees disclose their donors on FEC filings, though they are not displayed on Follow The Unlimited Money, which only lists Super PAC donors. </p>
	
	
	<h2>Nonparty Committees</h2>
	<span class="amountLine">Independent expenditures by nonparty committees: </span><span class="amount"> ${{nonparty_ies|intword}}</span>
	<div id="{{div_name_3 }}" class="chart_container" style="width: 100%; height: 330px;" ></div>
	<p>Nonparty committees are political action committees which are subject to traditional contribution limits and are neither official party committees or candidate committees. More prominent nonparty committees making independent expenditures include <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/republican-majority-campaign/C00442319/">Republican Majority Campaign</a>, <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/seiu-cope-service-employees-international-union-c/C00004036/">Seiu Cope (Service Employees International Union Committee on Political Education)</a>, <a href="http://reporting.sunlightfoundation.com/outside-spending/committee/national-association-of-realtors-political-action/C00030718/">National Association of Realtors Political Action Committee </a>. These committees disclose their donors on FEC filings, though they are not displayed on Follow The Unlimited Money, which only lists Super PAC donors.</p>

            
</div>


{% endblock content %}

{% block js %}
{{ block.super }}


<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/highcharts.js"></script>


{% load cache %}
{% cache 7200 'all_ie_chart'  %}
{% all_ies_chart div_name_0 %}
{% endcache %}

{% load cache %}
{% cache 7200 'superpac_chart'  %}
{% superpac_chart div_name_1 %}
{% endcache %}


{% load cache %}
{% cache 7200 'noncommittee_spending'  %}
{% noncommittee_spending div_name_2 %}
{% endcache %}



{% load cache %}
{% cache 7200 'nonparty_chart'  %}
{% nonparty_spending div_name_3 %}
{% endcache %}

{% load cache %}
{% cache 7200 'party_chart'  %}
{% party_spending div_name_4 %}
{% endcache %}



{% endblock %}
