{% extends "outside_spending/buckley_base.html" %}

{% block title %}States - {{ block.super }}{% endblock %}

{% block body %}fullWidth {% endblock %}


{% load humanize %}
{% load media %}

{% block breadcrumb %}
<li>States</li>
<li>Independent expenditures in {{ state_name }}</li>
{% endblock %}

{% block content %}
    {% include "outside_spending/tabs.html" %}

    <h2>
        Outside spending in {{ state_name }}
    </h2>
    <p>{{ explanatory_text|safe }}</p>


<p class="tip">Select a race to see details.</p>

<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Race</th>
            <th class="sort">Independent Expenditures</th>
            <th class="sort">Electioneering Communications</th>           
        </tr>
    </thead>
    <tbody>
        {% if this_state.total_pres_ind_exp %}
        <tr class="odd">
            <td>President (<a href="/outside-spending/president-state-detail/{{this_state.state}}/">{{this_state}} only)</a></td>
            <td>${{ this_state.total_pres_ind_exp|intcomma }}</td>
            <td>{% if this_state.total_ec %}${{ this_state.total_ec|intcomma }}{% else %}$0{% endif %}</td>
        </tr>        
        {% endif %}
        
        {% for race in races %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td><a href="{{race.get_absolute_url}}">{{ race.race_name }}</a></td>
            <td>${{ race.total_ind_exp|intcomma }}</td>
            <td>{% if race.total_ec %}${{ race.total_ec|intcomma }}{% else %}$0{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>





{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/jquery.tablesorter.min.js"></script>

{% with '[1,1]' as sortdir %}
{% include "outside_spending/tablesorter.html" %}
{% endwith %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>

{% endblock %}
