{% extends "outside_spending/buckley_base.html" %}

{% load humanize %}
{% load buckley %}

{% block title %}Subscribe to FEC filing alerts{% endblock %}

{% block body %}  {{ block.super }} expendituresNotification {% endblock %}

{% block css %}
{{ block.super }}
<style type="text/css">

#form_filings .filing_check {
	margin:0px;
	padding:0px;
	width: 50px;
	}
#form_filings .filing_label {
	margin:0px;
	padding:0px;
	font-size: 14px;
	width:270px;
}

#form_filings .filing_label_big {
	margin:0px;
	padding:0px;
	width:300px;
	font-size: 14px;
	font-weight: bold;
}

#form_filings .filing_radio {
	margin:0px;
	padding:0px;
	width: 50px;
	}
		
#search_results .filing_label {
	margin:0px;
	padding:0px;
	width:270px;
}		
	
#form_filings .check_indent {
	margin-left: 30px;
}	



</style>
{% endblock %}

{% block breadcrumb %}
<li>Subscribe to alerts</li>
{% endblock breadcrumb %}

{% block content %}

    {% include "outside_spending/tabs.html" %}


    <h2>
        Get notified about new campaign finance reports
    </h2>
    <div class="amountLine clear">
    <p>Sign up to receive notifications any time a particular committee you're interested in files a new electronic report with the Federal Election Commission. Notifications are provided through <a href="http://scout.sunlightfoundation.com/">Scout</a>, the Sunlight Foundation's search and monitoring tool covering state and federal legislation, the congressional record, and federal regulations.</p>
	<p>You can sign up to receive notifications about all filings, or only certain types. You can set up as many alerts as you'd like. If you have any trouble setting up the alerts you want, email <a href="mailto:jfenton@sunlightfoundation.com">jfenton@sunlightfoundation.com</a></p>
	</div>
    <hr />
	<div id="selected_committees"><p>No committees selected</p></div>
	
	<div class="fullwidth">
		
	<div id="form_filings" style="float:right; width: 337px;">

	<p>
	<b>Step 2. What kind of reports?</b>
	</p>
	<p>
	<input type="radio" name="filing_types" id="all" class="filing_radio" />
	<label for="all" class="filing_label_big">All filings</label>
	
	<br>
	<input type="radio" name="filing_types" id="only_selected" class="filing_radio" />
	<label for="only_selected" class="filing_label_big">Only the ones chosen below:</label>
	
	<fieldset class="check_indent">
	<input type="checkbox" class="filing_check" id="monthly" /><label class="filing_label" for="check">Monthly/quarterly filings</label>
	<br><input type="checkbox" class="filing_check" id="ie" /><label class="filing_label" for="check1">24/48-hour independent expenditures</label>
	<br><input type="checkbox" class="filing_check" id="ec" /><label class="filing_label" for="check2">Electioneering communications </label>
	<br><input type="checkbox" class="filing_check" id="F6" /><label class="filing_label" for="check3">48-hour contribution reports</label>
	</fieldset>
	</p>




	</div>
	
	
	
	
	
	<div style="float:left; width: 550px;">
	<div style="height: 90px;">	
	<p><b>1. Which committees?</b></p>	

		
	<form id="searchform">
	    <input type="text" id="searchbox" value="Committee or candidate" style="width: 200px;"  />
	    <button class="searchBtn" type="submit" id="search_committees">
	      <span>Search!</span>
	    </button>
	  </form>	
	</div>
	
	
	<div id="search_results">No committees chosen. </div>
		
	</div>
	<div style="clear:both" />
	</div>


{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

var selected_committees = [];

function get_amendment_list(form, include_new, include_amended) {
	var results = [];
	var needshyphen = false;
	if (include_new) {
		results.push(form + "N");
	}
	if (include_amended) {
		results.push(form)
	}
	return results;
}

function hyphenate(form_list, needs_hyphen) {
	if (needs_hyphen) {
		form_list += form_list + "-";
	} 
	return form_list;	
}

function get_feed_url() {
	committee_list = "";
	num_committees = selected_committees.length;
	for (i=0; i<num_committees; i++) {
		if (i>0) {
			committee_list += "-";
		}
		committee_list += selected_committees[i].fecid;
	}
	url_committee = "committee";
	if (num_committees > 1) {
		url_committee = "committees";
	} 
	feedurl = "http://reporting.sunlightfoundation.com/outside-spending/recent-FEC-filings/feeds/" + url_committee + "/" + committee_list + "/" 

	if($("#only_selected").is(":checked")) {
		form_list = "";
		var needs_hyphen = false;
		
		if ($("#monthly").is(":checked")) {
			form_list += "F3N-F3A-F3T-F3XN-F3XA-F3XT-F3PN-F3PA-F3PA";
			needs_hyphen = true;
		}
		if ($("#ie").is(":checked")) {
			form_list = hyphenate(form_list, needs_hyphen);
			form_list += "F24N-F24A-F5N-F5A";
			needs_hyphen = true;
		}
		if ($("#ec").is(":checked")) {
			form_list = hyphenate(form_list, needs_hyphen);
			form_list += "F9N-F9A";
			needs_hyphen = true;
		}
		if ($("#F6").is(":checked")) {
			form_list = hyphenate(form_list, needs_hyphen);
			form_list += "F6N-F6A";
			needs_hyphen = true;
		} 
		
		if (needs_hyphen==false) {
			alert("You haven't picked any forms. Please pick some forms and then submit.");
			return false;
		}
		feedurl += "forms/" + form_list + "/";
		
	}
	
	return feedurl;
	
	
}

function regen_committees_selected_list() {
	$('#selected_committees').html("");
	var update_html = "";
	
	
	if (selected_committees.length == 0)
	{
		current_html = "<p>No committees selected</p>";
		$('#selected_committees').html(current_html);
		return false;
	} else {
		
		var committee_ref = "this committee";
		if (selected_committees.length > 1) {
			committee_ref = "these committees";
		}
		current_html = "<p>You've selected " + selected_committees.length + " committees (shown below). &nbsp;&nbsp;<a href='' style='font-size:18px;' id='gotoscout'>Get alerts about " + committee_ref + "</a>";
		for (i=0; i<selected_committees.length; i++) {
			this_committee = selected_committees[i];
			this_committee_row="<br> [<a class='selected_committee_display' name='" + this_committee.committee_name + "' href='' data-fecid='" + this_committee.fecid +"'> Unselect </a> ]&nbsp;&nbsp;<b>" + this_committee.committeename + "</b>";
			current_html += this_committee_row;
		}
		current_html += "</p>";
		$('#selected_committees').html(current_html);
		$('#gotoscout').click(function() {
				submit_goto_scout();
		        return false;
		    });
		$('.selected_committee_display').click(function() {
		        remove_from_selections($(this).data('fecid'));
		        return false;
		    });
	}
}

function remove_from_selections(this_fecid) {
	pruned_selections = []
	for (i=0; i<selected_committees.length; i++) {
		if (selected_committees[i].fecid != this_fecid) {
			pruned_selections.push(selected_committees[i]);
		}
	}
	if (pruned_selections.length==0) {
		selected_committees = [];
	} else {
		selected_committees = pruned_selections;
	}
	regen_committees_selected_list();	
}

function submit_add_to_array(this_fecid, this_name) {
	if (selected_committees.length == 10) {
		alert("No more than 10 committees can be selected.");
		return;
	}
	
	// is it already in the array?
	for (i=0; i<selected_committees.length; i++) {
		if (selected_committees[i].fecid == this_fecid) {
			alert(this_name + " is  already selected.");
			return;
		}
	}
	var this_committee = {
		fecid: this_fecid,
		committeename: this_name
	}
	selected_committees.push(this_committee);
	regen_committees_selected_list();
	}


function gotoscout(feedurl) {
	scouturl = "http://scout.sunlightfoundation.com/import/feed?url=" + encodeURIComponent(feedurl);
	
	var gotoscout = confirm("You're being sent to Scout to subscribe to feeds for your selections. If you don't have an account with Scout you'll be prompted to create one.");
	if (gotoscout) {
		window.location = scouturl;
		return false;
	}
	return false;
}

function submit_goto_scout() {
	gotoscout(get_feed_url());
	return false;
}
	


$(document).ready(function () {
	$(".filing_check").attr("disabled", "disabled");
	
	$("#all").attr("checked", "checked");
	$(".filing_check").attr("checked", "");
	
	$('.filing_radio').change(function(){
		if($("#only_selected").is(":checked") ) {	
			$(".filing_check").attr("disabled", "");
		} else {
			$(".filing_check").attr("disabled", "disabled");
			$(".filing_check").attr("checked", "");	
		}	
	});	
	$("#search_committees").bind('click', function() {
		var searchterm = $("#searchbox")[0].value;
		if ( (searchterm.length < 4) || ( searchterm == 'Committee or candidate' )) {
			alert('Please enter at least 3 characters to search for!');	
			return false;
		} else {
			var searchurl = "/outside-spending/committee-search-html/?name=" + encodeURI(searchterm)
			//alert('Search url: ' + searchurl);
			
			$('#search_results').load(searchurl, function(thisdata) {
			  //alert('Got data!');
				$('.subscribe_to_committee').click(function() {
				        submit_add_to_array($(this).data('fecid'), $(this).attr('name'));
				        return false;
				    });
				$('.go_to_committee_feed').click(function() {
				        submit_goto_feed($(this).data('fecid'));
				        return false;
				    });			
			
			});
			
			return false;
			restore
			
		}
	});

	$("#searchbox").focus(function () {
        if ($(this)[0].value === 'Committee or candidate') {
            $(this).val('');
        }
    });
});

</script>
{% endblock %}

