<div id="filterExpenditures">
        <ul>
            <li id="filter_states">
                <a href="/outside-spending/states/">States</a>
            </li>
            <li id="filter_race">
                <a href="/outside-spending/races/">Races</a>
            </li>
            
            <li id="filter_candidate">
                <a href="/outside-spending/candidates/">Candidates</a>
            </li>

            <li id="filter_committee">
                <a href="/outside-spending/super-pacs/">Super PACs</a>
            </li>
            <li id="filter_ies">
                <a href="/outside-spending/independent-expenditures/">Recent Spending</a>
            </li>
            
            <li id="filter_ec">
                <a href="/outside-spending/electioneering-communications/">Electioneering</a>
            </li>            
            
            <li id="filter_files">
                <a href="/outside-spending/super-pacs/donating-organizations/">Organizational giving</a>
            </li>
            <li id="filter_dl">
                <a href="/outside-spending/file-downloads/">Downloads</a>
            </li>            
        </ul> 
        <div class="clear"></div>
</div>
{#        <p style="margin-top: -15px; font-style: oblique; font-family: Georgia, 'Times New Roman', Times, serif; text-align: right;">Last update: {{ outside_spending_updated|date:"N j, P" }}</p> #}
