{% extends "base.html" %}
{% load media %}
{% load timestamp %}

{% block title %}Follow the Unlimited Money - {{ block.super }}{% endblock %}





{% block css %}

<!-- Temporary style adds for superpac etc tabs -->

<style type="text/css">
#filterExpenditures li:hover, body.expendituresCommittee li#filter_committee, body.expendituresOverview li#filter_overview, body.expendituresCandidate li#filter_candidate, body.expendituresRace li#filter_race, body.expendituresNotification li#filter_notification, body.expendituresStates li#filter_states, body.expendituresOrganizational li#filter_og, body.expendituresFiles li#filter_files, body.expendituresIes li#filter_ies,  body.more_links li#filter_more,  body.electioneeringFiles li#filter_ec, body.newestFilings li#filter_newfilings, body.newCommittees li#filter_newCommittees {  background-color: #2a5f65; border-top: 1px solid #134045; border-left: 1px solid #134045; border-right: 1px solid #134045; }
#filterExpenditures li:hover a, body.expendituresCommittee li#filter_committee a, body.expendituresOverview li#filter_overview a, body.expendituresCandidate li#filter_candidate a, body.expendituresRace li#filter_race a, body.expendituresNotification li#filter_notification a, body.expendituresStates li#filter_states a, body.expendituresOrganizational li#filter_og a, body.expendituresIes li#filter_ies a, body.expendituresFiles li#filter_files a, body.more_links li#filter_more a, body.electioneeringFiles li#filter_ec a, body.newestFilings li#filter_newfilings a, body.newCommittees li#filter_newCommittees a { color: #fff;}

.space_above { margin-top: 15px; }

.update_notice { width: 200px; margin: 0 0 0 0; padding: 0 0 0 0; float:right; font-style: oblique; font-size: 95%; font-family: Georgia, Times New Roman, Times, serif;  line-height: 18px; color: #7e7774;}

div.share {
		    margin: 0 0 0 0;
		    min-height: 20px;
		    padding: 0 0 0 0;
    	}
.readable {
	color: #111111;
	font-size: 14px;
}

</style>




{% endblock %}

{% block body %}fullWidth{% endblock %}
{% block main_content %}


<div id="columns">
    <div id="fullColumn">
        <h2 id="featureHeader">Follow the Unlimited Money</h2>
        <div id="featureMainNav">
            <ul>
<!--				<li id="expenditures"><a href="/outside-spending/overview/">Overview</a></li>  -->
                <li id="expenditures"><a href="/outside-spenders/2014/file-downloads/">Download data</a></li>
                <li id="about"><a href="http://reporting.sunlightfoundation.com/super-pac/data/about/2012-june-update/">About this data</a></li>
                <li id="stories" class="last"><a href="http://reporting.sunlightfoundation.com/tag/Super%20PAC/">Stories</a></li>
            </ul>  
            {% block mainsearchbox %}
            <form id="expenditureSearch" action="/outside-spenders/2014/search/" method="GET">
                <input id="searchbox" {% if terms %}value="{{ terms }}"{% else %}value="Search for a candidate or committee"{% endif %} type="text" name="q" />
                <button class="goBtn" type="submit" value="Search" >
                  <span>Go</span>
                </button>
            </form>
			{% endblock %}
            
            <div class="clear"></div>  
        </div>
        
        <div id="breadcrumbs">
            <ul>
                {% block breadcrumb %}
                <li>
                    <a href="/outside-spending/super-pacs/">Super PACs</a>
                </li>
                {% endblock breadcrumb %}
            </ul>

            <div class="share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="sunfoundation" data-count="none"  data-text="Track the latest #superpac and other outside group spending">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                <div class="update_notice">
                    {% updatetime %}
                </div>

            </div>
            	
            	
            <div class="clear"></div>
            
        </div>
        

        
        
    {% block content %}
    {% endblock content %}
        
        <div id="expendituresSource" class="tip">
            <span>Data source:</span>
            <ul>
                <li><a href="http://www.fec.gov/blog/disclosure/entry/update_on_new_spending_data">Federal Election Commission</a></li>
                <li id="downloadFEC"><a href="http://www.fec.gov/data/IndependentExpenditure.do?format=csv&election_yr=2012">Download FEC independent expenditure data</a></li>
                <li id="downloadFEC"><a href="ftp://ftp.fec.gov/FEC/ec_exp_2012.csv">Download FEC electioneering communication data</a></li>
            </ul>
        </div>
    </div>
</div>



{% endblock main_content %}

