{% extends "outside_spending_2014/buckley_base.html" %}

{% block title %}{{ cycle }} Races - {{ block.super }}{% endblock %}

{% block body %}expendituresHome fullWidth expendituresRace{% endblock %}


{% load humanize %}
{% load media %}

{% block breadcrumb %}
<li>Races</li>
{% endblock %}

{% block content %}
    {% include "outside_spending_2014/tabs.html" %}

    <h2>
        {{cycle}} Federal races with outside spending
    </h2>
    <p>{{ explanatory_text|safe }}</p>
{% if races %}

<p class="tip">Select a race to see details.</p>

<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Race</th>
            <th class="sort">Total Independent Expenditures</th>
        </tr>
    </thead>
    <tbody>
    {% for race in races %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{{race.get_absolute_url}}">{{ race.race_name }}</a></td>
        <td>${{ race.total_ind_exp|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>



{% else %}
<br/><br/>No spending has been reported for this cycle.
{% endif %}

{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/jquery.tablesorter.min.js"></script>

{% with '[1,1]' as sortdir %}
{% include "outside_spending/tablesorter.html" %}
{% endwith %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>

{% endblock %}
