<div id="filterExpenditures" style="margin-bottom: 0px;">
        <ul>
            <li id="filter_committee">
                <a href="/outside-spenders/2014/super-pacs/">Super PACs</a>
            </li>
            <li id="filter_states">
                <a href="/outside-spenders/2014/states/">States</a>
            </li>
            
            <li id="filter_candidate">
                <a href="/outside-spenders/2014/candidates/">Candidates</a>
            </li>

            <li id="filter_race">
                <a href="/outside-spenders/2014/races/">Races</a>
            </li>

            <li id="filter_ies">
                <a href="/outside-spenders/2014/independent-expenditures/">Expenditures</a>
            </li>
            <li id="filter_newfilings">
                <a href="/fec-alerts/">Newest filings</a>
            </li>            
            <li id="filter_notification">
                <a href="/fec-alerts/subscribe-to-alerts/">FEC Alerts</a>
            </li>
            <li id="filter_newCommittees">
                <a href="/fec-alerts/new-committees/">New Committees</a>
            </li>
        </ul> 
        <div class="clear"></div>
</div>
<div style="margin:0px; padding:0px;">Showing data from the 2013-2014 election cycle. See the <a href="/outside-spending-2012/super-pacs/">2011-2012 home page</a>.</div>

