{% extends "base.html" %}
{% load media %}

{% block body %}fullWidth{% endblock %}

{% block css %}
    {% css "css/finance.css" %}
{% endblock %}

{% block main_content %}
<div id="columns">
    <div id="fullColumn">
        <h2 class="title"><a href="/buriedtreasure/">Buried Treasure</a> <span>What we don't know about money in America</span></h2>
        <ul id="featureNav">
            <li class="last"><a href="mailto:buriedtreasure@sunlightfoundation.com">Suggest a Story</a></li>
        </ul>    
        <div class="clear" id="financialFeature">
            <div id="ltColumn">
                <p>The federal government maintains vast treasure troves of important financial data, but discloses little. It holds the power to compel corporate America to report much more, but rarely does.</p>
                <p><b>This page serves as hub for our reporting on this financial data. Who has it? Why it is important?</b> What is publicly available? How can you get it?</p>
                <p>On this site you will find stories, links to databases and other resources. Have an idea for a story? <a href="mailto:buriedtreasure@sunlightfoundation.com">Let us know</a>.</p>
            </div>
            <div id="rtColumn">
                <img alt="filing cabinet with files flying out" src="{% media_url %}/img/img_financial.jpg"/> 
            </div>
            <div class="clear"></div>
        </div>
        <div id="internalLtColumn"> 
            <ol class="moduleLists">
                {% for post in page_obj.object_list %}
                    {% include "findatcat/_post.html" %}
                {% endfor %}
            </ol>
            {% include 'paginator.html' %}
        </div>
        <div id="internalRtColumn">
            <h3 class="withTip">Browse our Financial Reporting</h3>
            <p class="tip">Find more of what your looking for when you browse our reports by specific categories</p>
            <ul class="categoriesPlain">
                {% for cat in categories %}
                    <li>
                        <a href="{% url findatcat_category cat.slug %}">
                            {{ cat.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
        
{% endblock %}

