{% extends "base.html" %}
{% load comments %}
{% load lede %}
{% load media %}

{% block body %}fullWidth{% endblock %}

{% block css %}
    {% css "css/finance.css" %}
{% endblock %}

{% block main_content %}
<div id="columns">
    <div id="fullColumn">
        <h2><a href="#">Name of Project</a></h2>
        <ul id="featureNav">
            <li><a href="#">Resources</a></li>
            <li class="last"><a href="#">Suggest a Story</a></li>
        </ul>    
        <div class="clear" id="financialFeature">
            <div id="ltColumn">
                <p>[DATE]…The financial world is in turmoil; the economic forecasts are beyond grim. Unemployment rates are among the highest seen in decades. Millions of Americans are estimated to be “underwater” in their mortgages—owing more on their homes than their properties are worth. Retirement funds are dwindling. The threat of a double dip recession looms.</p>
                <p>In the midst of all this tumult, a person seeking simple information about aspects of their financial life is often thwarted. While the federal government maintains vast treasure troves of relevant financial data, and wields the power to compel corporate America to report much more, not all of this information is disclosed.</p>
                <p><b>This page serves as hub for our reporting on financial data—who has it, why it is important</b>, whether it is publicly available and whether it’s in a format that is easily accessible. You will find stories, links to databases and other resources.</p>
            </div>
            <div id="rtColumn">
                <img alt="filing cabinet with files flying out" src="{% media_url %}/img/img_financial.jpg"/>
                <div id="callOut">
                    <span class="tip">Have an idea for a story you’d like us to investigate on financial data?</span>
                    <a class="tip" href="#">Give us a tip</a>
                </div>   
            </div>
            <div class="clear"></div>
        </div>
        <div id="internalLtColumn"> 
            <ol class="moduleLists">
                {% for post in page_obj.object_list %}
                    <li class="module posts">
                        <h2><a href="{% url blogdor_post post.date_published.year post.slug %}">{{ post.title }}</a></h2>
                        <span class="postMeta">
                            {%autoescape off%}{{post.shortbyline}}{%endautoescape%}
                            <span class="postdate">{{post.date_published|date:"M j, Y"}}</span>
                            <span class="posttime">{{post.date_published|date:"P"}}</span>
                            {% if comment_count %}<span class="posttime"><a href="{% url blogdor_post post.date_published.year post.slug %}#comments">{{ comment_count}} comment{{comment_count|pluralize}}</a></span>{%endif%}
                        </span>
                        {{ post|lede|safe }}
                    </li>
                {% endfor %}
            </ol>

            {% include 'paginator.html' %}
        </div>
        <div id="internalRtColumn">
            <h3 class="withTip">Browse our Financial Reporting</h3>
            <p class="tip">Find more of what your looking for when you browse our reports by specific categories</p>
            <ul class="categoriesPlain">
                <li><a href="#">Conflict of interest <span>(campaign finance, lobbying)</span></a></li>
                <li><a href="#">Consumer Banking <span>(bank fees, bank health, credit and debit cards)</span></a></li>
                <li><a href="#">Enforcement <span>(SEC investigative records, investment advisers, registration)</span></a></li>
                <li><a href="#">FOIA <span>(Fed data, other examples)</span></a></li>
                <li><a href="#">Health Care <span>(Medicare spending, etc...)</span></a></li>
                <li><a href="#">Home Ownership <span>(Mortgages, foreclosure, appraisal)</span></a></li>
                <li><a href="#">Investment <span>(Investment advisers, broker-dealers, pensions)</span></a></li>
                <li><a href="#">Insurance</a></li>
                <li><a href="#">Student Loans</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
        
{% endblock %}

