{%extends 'resource.html'%}
{%load smart_if%}{%load tags%}{%load humanize%}
{%block title%}Sunlight's Recovery Explorer{%endblock%}
{%block head%}
		<style type="text/css" title="currentStyle"> 			
			@import "http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/millions/dataTables-1.6/media/css/demo_table.css";
		</style>
<script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
		<script type="text/javascript" language="javascript" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/millions/jquery.dataTables.js"></script> 
		<script type="text/javascript" language="javascript" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/millions/jquery.tablesorter.pager.js"></script> 
<link rel="stylesheet" href="http://assets.sunlightfoundation.com/external/reporting/recovery/reporting_recovery.css" type="text/css" media="screen, projection">
<script type="text/javascript">
$(document).ready(function() {
	$('#tablesorter').dataTable();
} );

function gotochart() {
    s = "";
    $("select").each(function(){
        s+= this.name+'='+this.value+'&';
    });
    window.location = "/recovery?"+s;
}

function requireconstraints() {
    constrictions = 0;
    jQuery("select",this).each(function(){   if (jQuery(this).val()!=null && jQuery(this).val()!='') constrictions++; });  
    if(constrictions>1) document.forms[0].detailbtn.disabled=false; else document.forms[0].detailbtn.disabled=true;
}
</script>
<style>
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
</style>
{%endblock%}

{%block content%}
{%if award_key%}
Recipients, subrecipients and vendors for award # {{award_key}}
{%else%}

<form method="get" action="/recovery/detail/" name="recoveryform"> 
	<fieldset> 
	  <legend>View Only</legend> 
 
<ul id="options_1"> 
{%for f in filterparams%}
<li>{{f|cleankey}}<br/><select name="{{f}}" onchange="requireconstraints()">
{%isfilterselected f %}
{%for tt in ttlist%}
<option value="{{tt.name}}"{%if tt.selected%} selected{%endif%}>{{tt.name}}</option>
{%endfor%}
</select>
</li>
{%endfor%}
</ul>
<input type="submit" value="View items" name="detailbtn"/><input type="button" onclick="gotochart()" value="Back to chart"/>
</fieldset></form>
{% endif %}


<table id="tablesorter" class="tablesorter" style="clear:both">
<thead><tr>
<th>    Prime<br/>/Sub</th>
<th>    Awarding agency  </th>
<th>    Recipient  </th>
<th>State/dist.</th>
<th>    G/C/L  </th>
<th>    Date  </th>
<th>    Award Descrip  </th>
<th>    Amount  </th>
<th>    Name  </th>
<th>    Project Descrip  </th>
<th>    Job creation  </th>
<th>    # of jobs </th>
<th>    Total received </th>
<th>    Total spent </th>
<th>    Infra. spent </th>
<th>    Infra. rationale </th>
<th>    Perf. state</th>
<th>    Performance city </th>
<th>    Project Type</th>
<th> Other info</th>
</tr></thead>

{%for r in recs%}
<tr>
<td>{%if award_key%}{{    r.recipient_role }}{%else%}<a href="?award_key={{r.award_key}}">{{r.recipient_role}}</a>{%endif%}</td>
<td>{{    r.awarding_agency_name  }}</td>
<td>{%ifequal r.recipient_role 'P'%}<a href="/recovery/recipient/?name={{ r.recipient_namee  }}">{{r.recipient_namee}}</a>{%else%}{{r.recipient_namee}}{%endifequal%}</td>
<td><a href="http://www.opensecrets.org/races/summary.php?id={{r.recipient_state}}{%if r.recipient_cong_dist < 10%}0{%endif%}{{r.recipient_cong_dist}}&cycle=2010">{{r.recipient_state}}{{r.recipient_cong_dist}}</a></td>
<td>{{    r.award_type  }}</td>
<td>{{    r.award_date|slice:":10"  }}</td>
<td>{{    r.award_description   }}</td>
<td>${%ifequal r.recipient_role 'P'%}{{    r.award_amount|floatformat:0|intcomma  }}{%else%}{{    r.local_amount|floatformat:0|intcomma  }}{%endifequal%}</td>
<td>{{    r.project_name  }}</td>
<td>{{    r.project_description  }}</td>
<td>{{    r.job_creation   }}</td>
<td>{{    r.number_of_jobs }}</td>
<td>${{    r.total_fed_arra_received|floatformat:0|intcomma  }}</td>
<td>${{    r.total_fed_arra_exp|floatformat:0|intcomma   }}</td>
<td>${{    r.total_infrastructure_exp|floatformat:0|intcomma   }}</td>
<td>{{    r.infrastrucutre_rationale  }}</td>
<td>{{    r.pop_state_cd  }}</td>
<td>{{    r.pop_city }}</td>
<td>{{    r.project_activity_desc }}</td>
<td>Award #: {{    r.award_number  }}
<br/>Subaward #: {{    r.sub_award_number  }}
</tr>
{%endfor%}

</table>

{%endblock%}
