{% extends "rebuckley/buckley_base.html" %}

{% load humanize %}
{% load buckley %}

{% block title %}{{ race_name }} - {{ block.super }}{% endblock %}

{% block body %}{{ block.super }} expendituresRace{% endblock %}

{% block breadcrumb %}
<li><a href="/super-pacs/races/">Races</a></li>
<li>{{ race_name }}</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "rebuckley/tabs.html" %}

    

    <h2>Super PAC spending by race: {{ race_name }}</h2>
    <div>
    <span class="amountLine">Total super PAC independent expenditures in this race: </span><span class="amount">${{race_aggregate.total_ind_exp|intcomma}}</span>
</div>
<p>{{ explanatory_text|safe }}</p>
<p class="tip">Select a super PAC or a candidate to see details.</p>
{% if candidates %}
<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Candidate</th>            
            <th class="sort">Super PAC</th>
            <th class="sort">Support/oppose</th>
            <th class="sort">Amount</th>

        </tr>
    </thead>
    <tbody>
    {% for candidate_pac in candidates %}
    <tr>
    <td><a href="{{ candidate_pac.candidate.get_absolute_url }}">{{ candidate_pac.candidate.fec_name }} {{ candidate_pac.candidate.display_party }}</a> </td>
    <td><a href="{{candidate_pac.committee.get_superpac_url}}">{{ candidate_pac.committee.name }}</a></td>    
    <td>{{ candidate_pac.support_or_oppose }}</td>
    <td>{% if candidate_pac.total_ind_exp %}${{ candidate_pac.total_ind_exp|intcomma }}{% endif %}</td>   
    </tr>                
    {% endfor %}    
    </tbody>
</table>

{% else %}
<br/><br/>No candidates have been supported by independent expenditures this cycle.
{% endif %}




{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/jquery.tablesorter.min.js"></script>

{% with '[3,1]' as sortdir %}
{% include "rebuckley/tablesorter.html" %}
{% endwith %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>

{% endblock %}
