{% extends "rebuckley/superpachac_base.html" %}
{% load humanize %}
{% load media %}

{% block title %}Super PACs{% endblock %}
{% block page_title %}Presidential Super PACs{% endblock %}

{% block main_content %}
<table id="expendituresData" class="tablesorter">
    <thead>

        <tr>
            <th class="sort">Committee</th>
            <th class="sort">Supporting</th>
            <th class="sort">Presidential Spending</th>
            <th class="sort">Total Contributions</th>
            <th class="sort">Cash&nbsp;on&nbsp;hand</th>
        </tr>
    </thead>

    <tbody>
        {% for sp in superpacs %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{% if sp.has_linkable_url %}<a href="{{sp.profile_url}}" target="null">{% endif %}{{ sp.name_to_show }}{% if sp.has_linkable_url %}</a>{% endif %}</td>
            <td>{% if sp.supporting %}{{sp.supporting}}{% endif %}</td>
            <td>${{ sp.total_presidential_indy_expenditures|intcomma }}<br><a href="{{sp.superpachackcsv}}">download .csv</a></td>
            <td>{% if sp.total_contributions %}${{ sp.total_contributions|intcomma}}{% endif %}{% if sp.has_contributions %}<br><a href="{{ sp.superpachackdonorscsv}}">download .csv</a>{% endif %}</td>
            <td>{% if sp.cash_on_hand %}${{ sp.cash_on_hand|intcomma }}<br>as of {{sp.cash_on_hand_date}}{% endif %}<br>&nbsp;</td>
            
            
            
        </tr>
        {% endfor %}
        
        

        
</tbody>
</table>
<div style="text-align:right; margin:10px; margin-right:25px; width:590px;"><span style="font-size:18px; text-align:right;"><b>Total presidential independent expenditures: ${{total.total_spent|intcomma}}</b></span></div>
<div style="margin-top:20px;">
<p style="font-size: 10px; margin:10px; margin-bottom:5px;">Source: FEC; Sunlight Foundation analysis</p>
<p style="font-size: 10px; margin:10px; margin-top:5px; margin-bottom:5px;">Note: Spending totals on this chart reflect independent expenditures only, not all disbursements.</p>
</div>

</div>


<script type="text/javascript">
$(document).ready(function()
    {
	$.tablesorter.addParser({ 
		id: 'nocomma', 
		is: function(s) { 
			// return false so this parser is not auto detected 
			return false; 
		}, 
		format: function(s) { 
			return s.replace(/,/,'');
		}, 
		type: 'numeric' 
	}); 

    $("#expendituresData").tablesorter({
		widgets: ['zebra'],
		sortList: [[2,1]]

        });
    }
);

</script>

{% endblock %}