<div id="filterExpenditures">
        <ul>
            <li id="filter_states">
                <a href="/super-pacs/states/">States</a>
            </li>
            <li id="filter_race">
                <a href="/super-pacs/races/">Races</a>
            </li>
            
            <li id="filter_candidate">
                <a href="/super-pacs/candidates/">Candidates</a>
            </li>

            <li id="filter_committee">
                <a href="/super-pacs/all/">Super PACs</a>
            </li>
            <li id="filter_president">
                <a href="/super-pacs/presidential/">Presidential Expenditures</a>
            </li>
            <li id="filter_ies">
                <a href="/super-pacs/independent-expenditures/">Recent Independent Expenditures</a>
            </li>
            <li id="filter_files">
                <a href="/super-pacs/file-downloads/">File Downloads</a>
            </li>            
        </ul> 
        <div class="clear"></div>
</div>
{#        <p style="margin-top: -15px; font-style: oblique; font-family: Georgia, 'Times New Roman', Times, serif; text-align: right;">Last update: {{ outside_spending_updated|date:"N j, P" }}</p> #}
