{% extends "base.html" %}

{% load humanize %}

{% block body %}expendituresAbout separateNav{% endblock %}

{% block content %}
    <h2 id="featureHeader">Follow the Unlimited Money</h2>
    <div id="featureMainNav">
        <ul>
            <li id="expenditures"><a href="{% url buckley_index %}">Latest Independent Expenditures</a></li>
            <li id="about"><a href="{% url buckley_about %}">About</a></li>
            <li id="stories" class="last"><a href="{% url buckley_stories %}">Stories</a></li>
        </ul>  
        <form id="expenditureSearch" action="{% url buckley_search %}" method="GET">
            <input id="searchbox" {% if terms %}value="{{ terms }}"{% else %}value="Search for a candidate or committee"{% endif %} type="text" name="q" />
            <button class="goBtn" type="submit" value="Search" >
              <span>Go</span>
            </button>
        </form>
        <div class="clear"></div>
    </div>
    <h2>About this project</h2>
    {{ about_text.content|safe }}
{% endblock content %}

{% block sidebar %}
    <div class="mainModule sideExpenditures">
        <h3>Latest Independent Expenditures</h3>
        {% regroup latest_expenditures by expenditure_date as date_list %}
        {% for date_expenditures in date_list %}
            <h4>{{ date_expenditures.grouper|date:"N j" }}</h4>
            <ul>
                {% for expenditure in date_expenditures.list %}
                <li><a href="{{ expenditure.committee.get_absolute_url }}">{{ expenditure.committee }}</a> spent <a href="{{ expenditure.get_absolute_url }}">${{ expenditure.expenditure_amount|intcomma }}</a> in {% ifequal expenditure.support_oppose 'S' %}support of{% else %}opposition to{% endifequal %} <a href="{{ expenditure.candidate.get_absolute_url }}">{{ expenditure.candidate }}</a> in the <a href="{% url buckley_race_detail race=expenditure.candidate.race  %}">{{ expenditure.candidate.full_race_name }} race</a>.</li>
                {% endfor %}
            </ul>
        {% endfor %}
        <a class="viewAll" href="/independent-expenditures/">View All Expenditures</a>

    </div>
    <div class="mainModule sideStories">
        <h3>Latest Stories</h3>
        <ul>
        {% for story in stories %}
            <li><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></li>
        {% endfor %}
        </ul>
        <a class="viewAll" href="/independent-expenditures/stories/">View All Stories</a>
    </div>
{% endblock sidebar %}
