{% extends "buckley/buckley_base.html" %}

{% block content %}
<h2>About this project</h2>
<p>The Sunlight Foundation Reporting Group has put together a database and widget tracking independent expenditure data from the Federal Elections Commission to show where money is being spent and who this unlimited type of spending is helping or hurting the most.</p>

<p>The information displayed below is made available as it is reported to the FEC, which is within 24 or 48 hours of the expenditure being made, or near real-time. The widget displays an itemized list of each independent expenditure with details regarding what the money is spent on and who is doing the spending. The widget also aggregates how much each group has spent on IEs or how much money has been spent to support or oppose individual candidates. It will even show how independent expenditure money is distributed in a single race.</p>

<p>The data housed in our widget is that of any group making independent expenditures and not only the newly-forming independent expenditure committees. If you'd like to find a list of IE-only committees, read here.</p>

<p>The Sunlight Foundation Reporting Group has been reporting on the new developments in campaign finance in the post-Citizens United world on the state level and the federal level. Citizens United opened the doors for corporations and labor unions to spend freely in support or opposition of any candidate or issue as long as the spending is done independently of a campaign. This led to political groups asking for permission from the FEC to receive unlimited comtributions from individuals, corporations and labor unions. The political groups were given the ability to receive unlimited contributions, thus creating groups with unprecedented abilities to influence elections.</p>
{% endblock content %}
