<style type="text/css">
    * { font-family: Helvetica, Arial, sans-serif;
    }
    table {
        border-collapse: collapse;
    }
    table th, table td {
        border: 1px solid gray;
        padding: 5px;
    }
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
            var row;
            var item;
            var crp_url;
            $.getJSON('/independent-expenditures/api/candidates/{{ params.crp_id }}.json', {}, function(data) {
                for (i in data['top_contributors']) {
                    item = data['top_contributors'][i];
                    row = '<tr>';
                    row += '<td>' + item['rank'] + '</td>';
                    row += '<td>' + item['contributor'] + '</td>';
                    row += '<td>$' + item['total'] + '</td>';
                    row += '<td>$' + item['individuals'] + '</td>';
                    row += '<td>$' + item['pacs'] + '</td>';
                    $("#candidate tbody").append(row);
                }

                crp_url = 'http://www.opensecrets.org/politicians/contrib.php?cycle=2010&cid=' + data['crp_id'];
                if (data['incumbent'] == 1) {
                    crp_url += '&type=C';
                } else {
                    crp_url += '&type=I';
                }
                $("h1#candidate_name").html('<a href="' + crp_url + '">' + data['candidate'] + '</a>');
            });

    });
</script>

<h1 id="candidate_name"></h1>

<table id="candidate">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Contributor</th>
            <th>Total</th>
            <th>Individuals</th>
            <th>PACs</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

