{% extends "base.html" %}
{% block body %}fullWidth{% endblock %}
{% block main_content %}
<div id="columns">
    <div id="fullColumn">
        <h2 id="featureHeader">Follow the Unlimited Money</h2>
        <div id="featureMainNav">
            <ul>
                <li id="expenditures"><a href="/independent-expenditures/">Latest Independent Expenditures</a></li>
                <li id="about"><a href="/independent-expenditures/about">About</a></li>
                <li id="stories" class="last"><a href="#">Stories</a></li>
            </ul>  
            <form id="expenditureSearch" action="{% url buckley_search %}" method="GET">
                <input id="searchbox" {% if terms %}value="{{ terms }}"{% else %}value="Search for a candidate or committee"{% endif %} type="text" name="q" />
                <button class="goBtn" type="submit" value="Search" >
                  <span>Go</span>
                </button>
            </form>
            <div class="clear"></div>  
        </div>
        
        <div id="breadcrumbs">
            <ul>
                {% block breadcrumb %}
                <li>
                    <a href="{% url buckley_index %}">Independent expenditures home</a>
                </li>
                {% endblock breadcrumb %}
            </ul>
            <div class="clear"></div>
        </div>
        
    {% block content %}
    {% endblock content %}
        
        <div id="expendituresSource" class="tip">
            <span>Data source:</span>
            <ul>
                <li><a href="http://www.fec.gov/blog/disclosure/entry/update_on_new_spending_data">Federal Election Commission</a></li>
                <li id="downloadFEC"><a href="ftp://ftp.fec.gov/FEC/ind_exp_2010.csv">Download this data from the FEC</a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>

{% endblock main_content %}
