{% extends "buckley/buckley_base.html" %}

{% load humanize %}

{% block content %}

<h2>{{ object }}{% if object.party %} ({{ object.party }}){% endif %}</h2>
<h3><a href="{% url buckley_race_detail race=object.race %}">{{ object.full_race_name }}</a></h3>

<li>Independent expenditure money supporting: ${{ object.total_supporting|intcomma }}</li>
<li>Independent expenditure money opposing: ${{ object.total_opposing|intcomma }}</li>

<br>

{% if object.committees_supporting %}
<strong>Committees supporting</strong>
{% for committee in object.committees_supporting %}
    {% if committee.slug %}
    <li><a href="{{ committee.get_absolute_url }}">{{ committee }}</a> (<a href="{% url buckley_candidate_committee_detail candidate_slug=object.slug committee_slug=committee.slug %}">expenditure details</a>)</li>
    {% endif %}
{% endfor %}
{% endif %}

<br>

{% if object.committees_opposing %}
<strong>Committees opposing</strong>
{% for committee in object.committees_opposing %}
    {% if committee.slug %}
        <li><a href="{{ committee.get_absolute_url }}">{{ committee }}</a> (<a href="{% url buckley_candidate_committee_detail candidate_slug=object.slug committee_slug=committee.slug %}">expenditure details</a>)</li>
    {% endif %}
{% endfor %}
{% endif %}

{% endblock content %}
