{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% load buckley %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url buckley_candidate_list %}">Candidates</a></li>
<li>{{ object }}</li>
{% endblock breadcrumb %}

{% block content %}
    <h2 class="withDetail">{{ object }}{% if object.party %} ({{ object.party }}){% endif %}</h2>
    <span class="raceDetail"><a href="{% url buckley_race_detail race=object.race %}">{{ object.full_race_name }}</a></span>
    <div class="amountLine clear">
        <ul>
            <li>Independent expenditure money supporting: <span class="amount">${{ object.total_supporting|intcomma }}</span> </li>
            <li>Independent expenditure money opposing: <span class="amount">${{ object.total_opposing|intcomma }}</span> </li>
        <ul>
    </div>

    <div class="clear"></div>

    <table id="expendituresData" class="tablesorter">
        <thead>
            <tr>
                <th>Committee</th>
                <th>Support/oppose</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for committee in object.committees_supporting %}
            <tr  class="{% cycle 'odd' 'even' %}">
                <td><a href="{% url buckley_candidate_committee_detail candidate_slug=object.slug committee_slug=committee.slug %}">{{ committee.name }}</a></td>
                <td>Support</td>
                <td>${{ committee|committee_candidate_support_money:object|intcomma }}</td>
            </tr>
            {% endfor %}
            {% for committee in object.committees_opposing %}
            <tr>
                <td><a href="{% url buckley_candidate_committee_detail candidate_slug=object.slug committee_slug=committee.slug %}">{{ committee.name }}</a></td>
                <td>Oppose</td>
                <td>${{ committee|committee_candidate_oppose_money:object|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "buckley/tablesorter.html" %}


{% endblock content %}
