{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% load buckley %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block body %}{{ block.super }} expendituresCandidate{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url buckley_candidate_list %}">Candidates</a></li>
<li>{{ object }}</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "buckley/tabs.html" %}

    <a style="display: block; float: right;" href="{% url buckley_candidate_detail_feed slug=object.slug %}"><img src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/img/feed-icon-14x14.png" alt="RSS" title="Subscribe to an RSS feed of outside spending filings that mention {{ object }}" style="border: 0;" /></a>

    <h2 class="withDetail">{{ object }}{% if object.party %} ({{ object.party }}){% endif %}
        {% if cycle %}
        - {{ cycle }} cycle
        {% endif %}
    </h2>

    <span class="raceDetail"><a href="{% url buckley_race_detail race=object.race %}">{{ object.full_race_name }}</a></span>

    <div class="amountLine clear">
    {% if object.winner %}<p class="tip">Winner</p>{% endif %}
        <ul>
            <li>Independent expenditure money supporting: <span class="amount">${{ object.total_supporting|intcomma }}</span> </li>
            <li>Independent expenditure money opposing: <span class="amount">${{ object.total_opposing|intcomma }}</span> </li>
            {% if object.sole_electioneering_total %}
            <li>Electioneering communications: <span class="amount">${{ object.sole_electioneering_total|intcomma }}</span> <a href="#asterisk">*</a>
            {% endif %}
        <ul>
    {% if object.transparencydata_id %}
    <br>
    View more data about this candidate at <a target="_new" href="{{ object.influence_explorer_url }}">Influence Explorer</a>
    {% endif %}
    </div>


    <div class="clear"></div>

    <table id="expendituresData" class="tablesorter">
        <thead>
            <tr>
                <th class="sort">Committee</th>
                <th class="sort">Support/oppose</th>
                <th class="sort">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for row in object.sole_all_committees_with_amounts %}
            <tr class="{% cycle 'odd' 'even' %}">
                {% if row.committee.slug %}
                <td>
                    {% if cycle %}
                        <a href="{% url buckley_cycle_candidate_committee_detail cycle=cycle candidate_slug=object.slug committee_slug=row.committee.slug %}">{{ row.committee.name }}</a>
                    {% else %}
                        <a href="{% url buckley_candidate_committee_detail candidate_slug=object.slug committee_slug=row.committee.slug %}">{{ row.committee.name }}</a>
                    {% endif %}
                </td>
                {% else %}
                    <td>{{ row.committee.name }}</td>
                {% endif %}
                <td>{% ifequal row.support_oppose '*' %}<a href="#asterisk">*</a>{% else %}{{ row.support_oppose }}{% endifequal %}</a></td>
                <td>${{ row.amount|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if object.joint_electioneering %}
    <div class="clear" style="margin-top:40px;"></div>
    <a href="{% url buckley_multi_candidate_ecs slug=object.slug %}">View electioneering communications mentioning {{ object }} and other candidates</a>
    {% endif %}

    {% with '[4,1]' as sortdir %}
    {% include "buckley/tablesorter.html" %}
    {% endwith %}


    {% include "buckley/electioneering_asterisk.html" %}

{% endblock content %}
