{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% load media %}
{% load buckley %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url buckley_candidate_list %}">Candidates</a></li>
<li><a href="{% url buckley_candidate_detail slug=candidate.slug %}">{{ candidate }}</a></li>
<li>Expenditures by {{ committee }}</li>
{% endblock breadcrumb %}

{% block content %}
    <h2 id="searchTitle">Independent expenditures by <a href="{% url buckley_committee_detail slug=committee.slug %}">{{ committee }}</a> for/against <a href="{% url buckley_candidate_detail slug=candidate.slug %}">{{ candidate }}</a>{% if candidate.party %} ({{ candidate.party }}){% endif %}</h2>
    <div class="amountLine">
        Total indepdent expenditures: <span class="amount">${{ committee|committee_candidate_money:candidate|intcomma }}</span>
    </div>
    <table id="expendituresData" class="tablesorter">
        <thead>
            <tr>
                <th>Expenditure date</th>
                <th>Support/Oppose</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Payee</th>
            </tr>
        </thead>
        <tbody>
            {% for expenditure in object_list %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ expenditure.expenditure_date|date:"n/j/y" }}</td>
                <td>{% if expenditure.support_oppose == 'O' %}Oppose{% else %}Support{%endif %}</td>
                <td>{% if expenditure.expenditure_amount < 0 %}-&nbsp;{% endif %}${{ expenditure.expenditure_amount|absolute_value|intcomma }}</td>
                <td>{{ expenditure.expenditure_purpose }}</td>
                <td>{{ expenditure.payee }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "buckley/tablesorter.html" %}
{% endblock content %}
