{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% load media %}

{% block title %}{{ block.super }} - Candidates{% endblock %}

{% block body %}{{ block.super }} expendituresCandidate{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>Candidates</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "buckley/tabs.html" %}

    <h2>Candidates</h2>
    <p>Select a candidate to see details.
    <br>
    <table id="expendituresData" class="tablesorter">
        <thead>
            <tr>
                <th class="sort">Candidate</th>
                <th class="sort">Party</th>
                <th class="sort">Race</th>
                <th class="sort">Total independent expenditures</th>
                <th class="sort">Independent expenditures supporting</th>
                <th class="sort">Independent expenditures opposing</th>
            </tr>
        </thead>
        <tbody>

    {% for candidate in object_list %}
    <tr>
        <td><a href="{{ candidate.get_absolute_url }}">{{ candidate.last_first }}</a></td>
        <td>{{ candidate.party }}</td>
        <td>{{ candidate.full_race_name }}</td>
        <td>${{ candidate.total_expenditures|intcomma }}{% if candidate.electioneering_total %} *{% endif %}</td>
        <td>${{ candidate.expenditures_supporting|intcomma }}</td>
        <td>${{ candidate.expenditures_opposing|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% with '[3,1]' as sortdir %}
    {% include "buckley/tablesorter.html" %}
    {% endwith %}

{% endblock content %}
