{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% load media %}

{% block breadcrumb %}{{ block.super }}
<li>Committees</li>
{% endblock %}

{% block content %}
<h2>Committees</h2>
<p class="tip">Select a committee to see details.</p>
<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Committee</th>
            <th class="sort">Total spent on independent expenditures</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for committee in object_list %}
            {% if committee.total %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{{ committee.get_absolute_url }}">{{ committee }}</a></td>
                    <td>${{ committee.total|intcomma }}</td>
                    <td><a href="http://query.nictusa.com/cgi-bin/fecimg/?{{ committee.fec_id }}">FEC filings</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% with '[1,1]' as sortdir %}
{% include "buckley/tablesorter.html" %}
{% endwith %}

{% endblock content %}
