{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% load media %}

{% block breadcrumb %}{{ block.super }}
<li>Committees</li>
{% endblock %}

{% block content %}
<h2>Committees</h2>
<p class="tip">Select a committee to see details.</p>
<table id="expenditures" class="tablesorter">
    <thead>
        <tr>
            <th>Committee</th>
            <th>Total spent on independent expenditures</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for committee in object_list %}
            {% if committee.total %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{{ committee.get_absolute_url }}">{{ committee }}</a></td>
                    <td>${{ committee.total|intcomma }}</td>
                    <td><a href="http://query.nictusa.com/cgi-bin/fecimg/?{{ committee.fec_id }}">FEC filings</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% js "js/jquery.tablesorter.min.js" %}
<script type="text/javascript">
$(document).ready(function()
    {
        $("#expenditures").tablesorter();
    }
);
</script>

{% endblock content %}
