{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% load media %}

{% block title %}{{ block.super }} - Committees{% endblock %}

{% block body %}{{ block.super }} expendituresCommittee{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>Committees</li>
{% endblock %}

{% block content %}
    {% include "buckley/tabs.html" %}

<h2>Committees</h2>
<p class="tip">Select a committee to see details.</p>
<p style="font-weight: bold;"><a href="{% url buckley_letter_list %}">View all committes intending to accept unlimited contributions.</a></p>
<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Committee</th>
            <th class="sort">Independent expenditures</th>
            <th class="sort">Electioneering communications</th>
            {#<th class="sort">IE-only letter</th>#}
            <th class="sort">Contributions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for committee in object_list %}
            {% if committee.total %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{{ committee.get_absolute_url }}">{{ committee }}</a></td>
                    <td>${{ committee.ie_total|intcomma }}</td>
                    <td>${{ committee.ec_total|intcomma }}</td>
                    {#<td>{% if committee.ieonly_url %}<a href="{{ committee.ieonly_url }}">Yes</a>{% endif %}</td>#}
                    {% if committee.slug %}
                    <td>{% if committee.contribution_set.count %}<a href="{% url buckley_committee_contribution_list slug=committee.slug %}">Donors</a>{% endif %}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td><a href="http://query.nictusa.com/cgi-bin/fecimg/?{{ committee.fec_id }}">FEC filings</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% with '[1,1]' as sortdir %}
{% include "buckley/tablesorter.html" %}
{% endwith %}

{% endblock content %}
