{% extends "buckley/buckley_base.html" %}

{% load buckley %}
{% load humanize %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block body %}{{ block.super }} expendituresCommittee{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url buckley_committee_list %}">Committees</a></li>
<li>{{ object }}</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "buckley/tabs.html" %}

<h2>{{ object }}</h2>

{% if object.ieonly_url %}
<p class="tip">This committee has <a href="{{ object.ieonly_url }}">filed a letter indicating that it will acception donations of unlimited amounts</a></p>
{% endif %}
<div class="amountLine">
    Total amount spent on independent expenditures: <span class="amount">${{ object.total|intcomma }}</span>
</div>
<div class="clear"></div>

<div class="clear"></div>


<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Race</th>
            <th class="sort">Candidate</th>
            <th class="sort">Party</th>
            <th class="sort">Support/oppose</th>
            <th class="sort">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in object.all_candidates_with_amounts %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ candidate.candidate.race }}</td>
            <td><a href="{% url buckley_candidate_committee_detail candidate_slug=candidate.candidate.slug committee_slug=object.slug %}">{{ candidate.candidate }}</a></td>
            <td>{{ candidate.candidate.party }}</td>
            <td>{{ candidate.support_oppose }}</td>
            <td>${{ candidate.amount|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "buckley/tablesorter.html" %}

{% endblock content %}
