{% extends "buckley/buckley_base.html" %}

{% load buckley %}
{% load humanize %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block body %}{{ block.super }} expendituresCommittee{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url buckley_committee_list %}">Committees</a></li>
<li>{{ object }}</li>
{% endblock breadcrumb %}

{% block content %}
    {% include "buckley/tabs.html" %}

<h2>{{ object }}</h2>

{% if object.ieonly_url %}
<p class="tip">This committee has <a href="{{ object.ieonly_url }}">filed a letter indicating that it will acception donations of unlimited amounts</a></p>
{% endif %}
<div class="amountLine">
    Total outside spending: <span class="amount">${{ object.total|intcomma }}</span>
</div>
<div class="clear"></div>

<div class="clear"></div>


<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Race</th>
            <th class="sort">Candidate</th>
            {#<th class="sort">Party</th>#}
            <th class="sort">Support/oppose</th>
            <th class="sort">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for candidates, data in object.combined_all_candidates_with_amounts %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ data.race }}</td>
            <td>{% spaceless %}
                {% for candidate in candidates %}
                    {% if data.slugs %}
                        <a href="{% url buckley_candidate_committee_detail candidate_slug=data.slugs committee_slug=object.slug %}">
                    {% else %}
                        <a href="{% url buckley_candidate_committee_detail candidate_slug=candidate.slug committee_slug=object.slug %}">
                    {% endif %}
                    {{ candidate }}</a>
                    {% if candidate.party %} ({{ candidate.party }}){% endif %}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
                </a>
                {% endspaceless %}</td>
            <td>{% ifequal data.support_oppose '*' %}<a href="#asterisk">{{ data.support_oppose }}</a>{% else %}{{ data.support_oppose }}{% endifequal %}</td>
            <td>${{ data.amount|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include "buckley/tablesorter.html" %}

    {% include "buckley/electioneering_asterisk.html" %}

{% endblock content %}
