    <div class="clear" style="margin-top: 40px;"></div>
    <p id="asterisk">
    <p id="asterisk">* This data includes <a href="http://www.fec.gov/pages/brochures/electioneering.shtml">electioneering communications</a>, which are broadcast communications not otherwise reported as independent expenditures. Electioneering communication reports do not state whether the communication was in support of or in opposition to the candidate, and they sometimes refer to multiple candidates. In cases where a communication mentions more than one candidate, the amount is included in race totals only if both candidates are running in the same race.
    </p>
