{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% load media %}

{% block title %}Super PACs: Political committees intending to accept unlimited amounts - {{ block.super }}{% endblock %}

{% block body %}{{ block.super }} expendituresLetters{% endblock %}

{% block breadcrumb %}{{ block.super }}
<li>Committees intending to accept unlimited amounts</li>
{% endblock %}


{% block content %}
{#  {% include "buckley/tabs.html" %}  #}

	<h2>Revamping For 2012</h2>

	<p>
	Nope, that wasn't a Christmas grinch who stole your Follow the Unlimited Money Tracker -- it was some technical gremlins. Because of changes in the way the Federal Election Commission publishes its data, our tracker has been posting some inaccurate information. Sunlight regrets the inconvenience, and we're taking our tool offline for a bit to get our computers back in sync with the FEC's. In the meantime, we've compiled a summary of  independent-expenditure-only committees, along with links to the FEC pages that document their activities to date <a href="http://sunlightfoundation.com/superpacs/">here</a>. Our friends at the Center for Responsive Politics also have a resource for tracking spending by Super PACs, available <a href="http://www.opensecrets.org/pacs/superpacs.php?cycle=2012">here</a>. Below is a list of all the super PACs, including those operating in other races.
	</p>


<h2>Committees intending to accept unlimited amounts</h2>
<div class="rssBlock rssIcon">
    <a href="{% url buckley_letter_feed %}">Subscribe to a feed of this data</a>
</div>
<p>The following committees, popularly known as Super PACs, have filed letters with the FEC stating their intention to accept contributions of unlimited amounts.</p>
<p class="tip">Click on a committee name to see its letter.</p>

<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Committee</th>
            <th class="sort">Date letter filed</th>
            <th class="sort">Outside spending</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
                <td>{{ object.date_letter_submitted|date:"n/j/y" }}</td>
                <td>{% if object.has_expenditures %}<a href="{{ object.has_expenditures.get_absolute_url }}">${{ object.has_expenditures.total|intcomma }}</a>{% else %}$0{% endif %}</td>
                <td><a target="new" href="http://images.nictusa.com/cgi-bin/fecimg/?{{ object.pk }}">View all FEC filings</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% with '[1,1]' as sortdir %}
{% include "buckley/tablesorter.html" %}
{% endwith %}

{% endblock %}
