{% extends "buckley/buckley_base.html" %}

{% load media %}

{% block breadcrumb %}{{ block.super }}
<li>Committees intending to accept unlimited amounts</li>
{% endblock %}


{% block content %}

<h2>Committees intending to accept unlimited amounts</h2>
<div id="rssIcon">
    <a href="{% url buckley_letter_feed %}">Subscribe to a feed of this data</a>
</div>
<p>The following committees have filed letters with the FEC stating their intention to accept contributions of unlimited amounts.</p>
<p class="tip">Click on a committee name to see its letter.</p>

<table id="expendituresData" class="tablesorter">
    <thead>
        <tr>
            <th>Committee</th>
            <th>Date letter filed</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
                <td>{{ object.date_letter_submitted|date:"n/j/y" }}</td>
                <td>{% if object.has_expenditures %}<a href="{{ object.has_expenditures.get_absolute_url }}">View expenditures</a>{% endif %}</td>
                <td><a target="new" href="http://images.nictusa.com/cgi-bin/fecimg/?{{ object.pk }}">View all FEC filings</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include "buckley/tablesorter.html" %}

{% endblock %}
