{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% block body %}expendituresHome fullWidth{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}

<h2>Latest independent expenditures</h2>
{% include "buckley/tabs.html" %}

<table id="expenditures">
    <thead>
        <tr>
            <th>Date</th>
            <th>Race</th>
            <th>Committee</th>
            <th>Support/Oppose</th>
            <th>Candidate</th>
            {#<th>Party</th>#}
            <th>Amount</th>
            <th>Purpose</th>
        </tr>
    </thead>
    <tbody>
    {% for expenditure in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ expenditure.expenditure_date|date:"n/j/y" }}</td>
            <td>{% if expenditure.race %}<a href="{% url buckley_race_detail race=expenditure.race %}">{{ expenditure.race }}</a>{% else %}Multiple *{% endif %}</td>
            <td><a href="{{ expenditure.committee.get_absolute_url }}">{{ expenditure.committee }}</a></td>
            <td>{% if expenditure.electioneering_communication %}*{% else %}{% if expenditure.support_oppose == 'O' %}Oppose{% else %}Support{%endif %}{% endif %}</td>
            {% spaceless %}
            <td>
                {% if expenditure.electioneering_communication %}
                    {% for candidate in expenditure.electioneering_candidates.all %}
                    <a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a>{% if candidate.party %} ({{ candidate.party }}){% endif %}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                <a href="{{ expenditure.candidate.get_absolute_url }}">{{ expenditure.candidate }}</a>{% if candidate.party %} ({{ candidate.party }}){% endif %}
                {% endif %}
            </td>
            {% endspaceless %}
            <td>{% if not expenditure.electioneering_communication %}<a href="{% url buckley_candidate_committee_detail candidate_slug=expenditure.candidate.slug committee_slug=expenditure.committee.slug %}#{{ expenditure.id }}">{% endif %}${{ expenditure.expenditure_amount|intcomma }}{% if not expenditure.electioneering_communication %}</a>{% endif %}</td>
            <td>{{ expenditure.expenditure_purpose }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if page_obj.has_other_pages %}
<div id="paginator" style="width: 250px; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;">
  {% if page_obj.has_previous %} <a style="margin-right: 20px;" class="paginatorPrevious" href="?page={{ page_obj.previous_page_number }}">&lt;&lt;Previous</a>{% endif %}
  {% if page_obj.has_next %} 
<a class="paginatorNext" href="?page={{ page_obj.next_page_number }}">Next &gt;&gt;</a>{% endif %}
</div>
<div class="clear"></div>
{% endif %}

{% endblock content %}
