{% extends "buckley/buckley_base.html" %}

{% load humanize %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url buckley_race_list %}">Races</a></li>
{% if election_type %}
<li><a href="{% url buckley_race_detail race=short_race %}">{{ race }}</a></li>
<li>{{ election_type|capfirst }}</li>
{% else %}
<li>{{ race }}</li>
{% endif %}
{% endblock breadcrumb %}

{% block content %}

<h2>Independent expenditures - {{ race }}{% if election_type %} ({{ election_type }}){% endif %}</h2>
<br>
<strong>Candidates</strong><br>
{% for candidate in candidates %}
<a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a>: ${{ candidate.total_supporting|intcomma }} independent expenditures in support; ${{ candidate.total_opposing|intcomma }} independent expenditures in opposition<br>
{% endfor %}
<br>
<strong>Total independent expenditures in race:</strong> ${{ total_spent|intcomma }}
<br>
{% if election_types %}
<br>
<strong>Elections:</strong> {% for e in election_types %}<a href="{% url buckley_race_election_type_detail race=short_race, election_type=e.slug %}">{{ e.election_type }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
<br>
{% endif %}
<br>

<table id="expenditures">
    <thead>
        <tr>
            <th>Date</th>
            <th>Election</th>
            <th>Committee</th>
            <th>Support/Oppose</th>
            <th>Candidate</th>
            <th>Party</th>
            <th>Amount</th>
            <th>Purpose</th>
        </tr>
    </thead>
{% for expenditure in object_list %}
<tr>
    <td>{{ expenditure.expenditure_date|date:"n/j/y" }}</td>
    <td>{{ expenditure.election_type_for_detail_page }}</td>
    <td><a href="{{ expenditure.committee.get_absolute_url }}">{{ expenditure.committee }}</a></td>
    <td>{% if expenditure.support_oppose == 'O' %}Oppose{% else %}Support{%endif %}</td>
    <td><a href="{{ expenditure.candidate.get_absolute_url }}">{{ expenditure.candidate }}</a></td>
    <td>{{ expenditure.candidate.party }}</td>
    <td>${{ expenditure.expenditure_amount|intcomma }}</td>
    <td>{{ expenditure.expenditure_purpose }}</td>
</tr>
{% endfor %}
</table>

{% if page_obj.has_other_pages %}
<div id="paginator" style="width: 250px; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;">
  {% if page_obj.has_previous %} <a style="margin-right: 20px;" class="paginatorPrevious" href="?page={{ page_obj.previous_page_number }}">&lt;&lt;Previous</a>{% endif %}
  {% if page_obj.has_next %} 
<a class="paginatorNext" href="?page={{ page_obj.next_page_number }}">Next &gt;&gt;</a>{% endif %}
</div>
<br />
{% endif %}


{% endblock content %}
