{% extends "buckley/buckley_base.html" %}

{% load humanize %}
{% load media %}

{% block breadcrumb %}{{ block.super }}
<li>Races</li>
{% endblock %}

{% block content %}

<h2>Races</h2>
<p>Select a race to see details.
<br>
<table id="expenditures" class="tablesorter">
    <thead>
        <tr>
            <th>Race</th>
            {#<th>Amount spent on independent expenditures</th>#}
            <th>General</th>
            <th>Primary</th>
            <th>Other</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for race in races %}
    <tr>
        <td><a href="{% url buckley_race_detail race=race.race %}">{{ race.full_race }}</a></td>
        <td>${{ race.amounts.G|intcomma }}</td>
        <td>${{ race.amounts.P|intcomma }}</td>
        <td>${{ race.amounts.other|intcomma }}</td>
        <td>${{ race.total|intcomma }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% js "js/jquery.tablesorter.min.js" %}
<script type="text/javascript">
$(document).ready(function()
    {
        $("#expenditures").tablesorter();
    }
);
</script>

{% endblock content %}
