{% extends "buckley/buckley_base.html" %}

{% load humanize %}

{% block breadcrumb %}{{ block.super }}
<li>Search</li>
{% endblock %}

{% block content %}
<h2>Search Results for &#8220;{{ terms }}&#8221;</h2>

{% ifequal num_results 0 %}
<h3>No results found</h3>
{% endifequal %}
{% if candidates %}
<h3>Candidates</h3>
<table id="expenditures" class="tablesorter">
    <thead>
        <tr>
            <th class="sort">Candidate</th>
            <th class="sort">Party</th>
            <th class="sort">Race</th>
            <th class="sort">Total independent expenditures</th>
            <th class="sort">Independent expenditures supporting</th>
            <th class="sort">Independent expenditures opposing</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in candidates %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{{ candidate.get_absolute_url }}">{{ candidate.last_first }}</a></td>
            <td>{{ candidate.party }}</td>
            <td>{{ candidate.full_race_name }}</td>
            <td>${{ candidate.total|intcomma }}</td>
            <td>${{ candidate.total_supporting|intcomma }}</td>
            <td>${{ candidate.total_opposing|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<br><br>

{% if committees %}
<h3>Committees</h3>
<table id="expenditures" class="tablesorter">
    <thead>
        <tr>
            <th>Committee</th>
            <th>Total spent on independent expenditures</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for committee in committees %}
            {% if committee.total %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td><a href="{{ committee.get_absolute_url }}">{{ committee }}</a></td>
                    <td>${{ committee.total|intcomma }}</td>
                    <td><a href="http://query.nictusa.com/cgi-bin/fecimg/?{{ committee.fec_id }}">FEC filings</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}

