{% extends "buckley/buckley_base.html" %}

{% load humanize %}

{% block content %}
<h2>Search Results for &#8220;{{ terms }}&#8221;</h2>

<form id="expenditureSearch" action="{% url buckley_search %}" method="GET">
    <label for="q">Search for another candidate or committee</label>
    <input id="searchbox" type="text" name="q" value="{{ terms }}" />
    <button class="searchBtn" type="submit" value="Search" >
      <span>Search</span>
    </button>
</form>

{% ifequal num_results 0 %}
<h3>No results found</h3>
{% endifequal %}
{% if candidates %}
<h3>Candidates</h3>
<table id="expenditures" class="tablesorter">
    <thead>
        <tr>
            <th>Candidate</th>
            <th>Party</th>
            <th>Race</th>
            <th>Total independent expenditures</th>
            <th>Independent expenditures supporting</th>
            <th>Independent expenditures opposing</th>
        </tr>
    </thead>
    <tbody>
        {% for candidate in candidates %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td><a href="{{ candidate.get_absolute_url }}">{{ candidate.last_first }}</a></td>
            <td>{{ candidate.party }}</td>
            <td>{{ candidate.full_race_name }}</td>
            <td>${{ candidate.total|intcomma }}</td>
            <td>${{ candidate.total_supporting|intcomma }}</td>
            <td>${{ candidate.total_opposing|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<br><br>

{% if committees %}
<h3>Committees</h3>
<table id="expenditures" class="tablesorter">
    <thead>
        <tr>
            <th>Committee</th>
            <th>Total spent on independent expenditures</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for committee in committees %}
            {% if committee.total %}
                <tr>
                    <td><a href="{{ committee.get_absolute_url }}">{{ committee }}</a></td>
                    <td>${{ committee.total|intcomma }}</td>
                    <td><a href="http://query.nictusa.com/cgi-bin/fecimg/?{{ committee.fec_id }}">FEC filings</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}

