<div id="filterExpenditures">
    <span>Browse by</span>
        <ul>
            <li id="filter_candidate">
                <a href="{% url buckley_candidate_list %}">Candidate</a>
            </li>
            <li id="filter_race">
                <a href="{% url buckley_race_list %}">Race</a>
            </li>
            <li id="filter_committee">
                <a href="{% url buckley_committee_list %}">Committee</a>
            </li>
            <li id="filter_letters">
                <a href="{% url buckley_letter_list %}">Committees that intend to accept unlimited contributions</a>
            </li>
        </ul> 
        <div class="clear"></div>
</div>

