{% extends "base.html" %}

{% block title %}{{ block.super }}: Follow the Unlimited Money - Overview{% endblock %}

{% block body %}expendituresTotals separateNav{% endblock %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function () {
        $("#searchbox").focus(function () {
            if ($(this)[0].value === 'Search for a candidate or committee') {
                $(this).val('');
            }
        });
    });
</script>

<script type="text/javascript">
var outsideSpending; 
$(document).ready(function() {
      var total = {{ total.total }};
      outsideSpending = new Highcharts.Chart({
         chart: {
            renderTo: 'outside-spending-pie',
            defaultSeriesType: 'pie',
            backgroundColor: '#f1f1ef',
            width: '300',
            height: '220',
            margin: [10, 0, 10, 0]
         },
         title: {
              text: "",
             style: {
               display: 'none',
               position: 'absolute',
               left: '0',
               top: '0'
           }
         },
        tooltip: {
                 formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ Math.round((this.y/total)*100) +' %';
                 }
              },
        credits: { enabled: false },
        legend: { enabled: false },
        colors: [ '#668D3C', '#A7B272'],
        series: [{
                 type: 'pie',
                 name: 'Outside spending',
                 data: [
                    ['Independent expenditures',   {{ total.ie_total }}],
                    ['Electioneering communications',       {{ total.ec_total }}],
                 ]
              }]
      });

      var partyTotal = {{ total.republican_support_total }} + {{ total.republican_oppose_total }} + {{ total.democrat_support_total }} + {{ total.democrat_oppose_total }};
    partyVsNonparty = new Highcharts.Chart({
        chart: {
            renderTo: 'party-pie',
            defaultSeriesType: 'pie',
            backgroundColor: '#f1f1ef',
            width: '275',
            height: '200',
            margin: [10, 0, 10, 0]
        },
        title: {
               text: "",
              style: {
                display: 'none',
                position: 'absolute',
                left: '0',
                top: '0'
            }
        },
        tooltip: {
                 formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ Math.round((this.y/partyTotal)*100) +' %';
                 }
      },
      credits: { enabled: false },
      legend: { enabled: false },
      colors: [ '#668D3C', '#A7B272'],
        series: [{
            type: 'pie',
            name: 'Outside spending by candidate party',
            data: [
            ['Supporting Republicans/<br/>Opposing Democrats', {{ total.republican_support_total }} + {{ total.democrat_oppose_total }}],
            ['Supporting Democrats/<br/>Opposing Republicans', {{ total.democrat_support_total }} + {{ total.republican_oppose_total }}]
            ]
        }]
    });

    var partyCommitteeTotal = {{ total.republican_support_party }} + {{ total.republican_oppose_party }} + {{ total.democrat_support_party }} + {{ total.democrat_oppose_party }};
    var nonpartyCommitteeTotal = {{ total.republican_support_nonparty }} + {{ total.republican_oppose_nonparty }} + {{ total.democrat_support_nonparty }} + {{ total.democrat_oppose_nonparty }};
    partyCommitteeVsNonpartyCommittee = new Highcharts.Chart({
        chart: {
            renderTo: 'party-committee-pie',
            defaultSeriesType: 'pie',
            backgroundColor: '#f1f1ef',
            width: '275',
            height: '200',
            margin: [10, 0, 10, 0]
        },
        title: {
               text: "",
              style: {
                display: 'none',
                position: 'absolute',
                left: '0',
                top: '0'
            }
        },
        tooltip: {
                 formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ Math.round((this.y/partyTotal)*100) +' %';
                 }
      },
       credits: { enabled: false },
       legend: { enabled: false },
       colors: [ '#668D3C', '#A7B272'],
        series: [{
            type: 'pie',
            name: 'Outside spending by candidate party',
            data: [
            ['Party committees', partyCommitteeTotal],
            ['Non-party committees', nonpartyCommitteeTotal]
            ]
        }]
    });

    nonPartyCommitteeChart = new Highcharts.Chart({
        chart: {
            renderTo: 'non-party-committee-barchart',
            defaultSeriesType: 'bar',
            backgroundColor: '#f1f1ef',
            margin: [0, 0, 0, 280],
            height: 250,
            width: 580
        },
        title: {
               text: "",
              style: {
                display: 'none',
                position: 'absolute',
                left: '0',
                top: '0'
            }
        },
        colors: [ '#668D3C'],
        credits: { enabled: false },
        xAxis: {
         categories: [
            {% for committee in top_nonparty_committees|slice:"5" %}
            "{{ committee.committee|safe }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
         ],
          labels: {
            align: 'right',
            style: {
                font: 'normal 10px Verdana, sans-serif'
            }
         }
      },
        yAxis: {
                 min: 0,
                 title: {
                    text: 'Amount spent'
                 }
              },
       plotOptions: {
         column: {
            stacking: 'normal'
         }
        },

        tooltip: {
                 formatter: function() {
                    return '$' + Highcharts.numberFormat(this.y, 0) + '';
                 }
      },
        series: [
                { data: [{% for committee in top_nonparty_committees|slice:"5" %}{{ committee.amount }}{% if not forloop.last %},{% endif %}{% endfor %}],
                dataLabels: {
                    enabled: true,
                    color: '#668D3C',
                    align: 'right',
                    x: 50,
                    y: -5,
                    formatter: function() {
                                   return '$' + Highcharts.numberFormat(this.y/1000000, 2) + 'M';
                                },
                    style: {
                        font: 'normal 11px Verdana, sans-serif'
                    }           
                },
                }
                
                ],
        legend: { enabled: false }
    });

    partyCommitteeChart = new Highcharts.Chart({
        chart: {
            renderTo: 'party-committee-barchart',
            defaultSeriesType: 'bar',
            backgroundColor: '#f1f1ef',
            margin: [0, 0, 0, 280],
            height: 250,
            width: 580
        },
        title: {
               text: "",
              style: {
                display: 'none',
                position: 'absolute',
                left: '0',
                top: '0'
            }
        },
        colors: [ '#668D3C'],
        credits: { enabled: false },
        xAxis: {
         categories: [
            {% for committee in top_party_committees|slice:"5" %}
            "{{ committee.committee|safe }}"{% if not forloop.last %},{% endif %}
            {% endfor %}
         ],
          labels: {
            align: 'right',
            style: {
                font: 'normal 10px Verdana, sans-serif'
            }
         }
      },
        yAxis: {
                 min: 0,
                 title: {
                    text: 'Amount spent'
                 }
              },
       plotOptions: {
         column: {
            stacking: 'normal'
         }
        },

        tooltip: {
                 formatter: function() {
                    return '$' + Highcharts.numberFormat(this.y, 0) + '';
                 }
      },
        series: [
                { data: [{% for committee in top_party_committees|slice:"5" %}{{ committee.amount }}{% if not forloop.last %},{% endif %}{% endfor %}],
                dataLabels: {
                    enabled: true,
                    color: '#668D3C',
                    align: 'right',
                    x: 50,
                    y: -5,
                    formatter: function() {
                                   return '$' + Highcharts.numberFormat(this.y/1000000, 2) + 'M';
                                },
                    style: {
                        font: 'normal 11px Verdana, sans-serif'
                    }           
                },
                }
                
                ],
        legend: { enabled: false }
    });

    raceChart = new Highcharts.Chart({
        chart: {
            renderTo: 'race-barchart',
            defaultSeriesType: 'bar',
            backgroundColor: '#f1f1ef',
            margin: [0, 0, 0, 100],
            height: 250,
            width: 580
        },
        title: {
               text: "",
              style: {
                display: 'none',
                position: 'absolute',
                left: '0',
                top: '0'
            }
        },
        colors: [ '#668D3C'],
        credits: { enabled: false },
        xAxis: {
         categories: [
            {% for race in top_races|slice:"5" %}
            '{{ race.race }}'{% if not forloop.last %},{% endif %}
            {% endfor %}
         ],
      },
        yAxis: {
                 min: 0,
                 title: {
                    text: 'Amount spent'
                 }
              },
       plotOptions: {
         column: {
            stacking: 'normal'
         }
        },

        tooltip: {
                 formatter: function() {
                    return '<b>$' + Highcharts.numberFormat(this.y, 0) + '';
                 }
      },
        series: [
                { data: [{% for race in top_races|slice:"5" %}{{ race.amount }}{% if not forloop.last %},{% endif %}{% endfor %}],
                dataLabels: {
                    enabled: true,
                    color: '#fff',
                    align: 'right',
                    x: -5,
                    y: -5,
                    formatter: function() {
                                   return '$' + Highcharts.numberFormat(this.y/1000000, 2) + 'M';
                                },
                    style: {
                        font: 'normal 11px Verdana, sans-serif'
                    }           
                },
                }
                ],
        legend: { enabled: false }
    });

    candidateChart = new Highcharts.Chart({
        chart: {
            renderTo: 'candidate-barchart',
            defaultSeriesType: 'bar',
            margin: [0, 0, 0, 130],
            backgroundColor: '#f1f1ef',
            height: 250,
            width: 580
        },
        title: {
               text: "",
              style: {
                display: 'none',
                position: 'absolute',
                left: '0',
                top: '0'
            }
        },
        colors: [ '#668D3C'],
        credits: { enabled: false },
        xAxis: {
         categories: [
            {% for candidate in top_candidates|slice:"5" %}
            '{{ candidate.candidate }}'{% if not forloop.last %},{% endif %}
            {% endfor %}
         ],
          labels: {
            align: 'right',
            style: {
                font: 'normal 10px Verdana, sans-serif'
            }
         }
      },
        yAxis: {
                 min: 0,
                 maxPadding: 0.3,
                 title: {
                    text: 'Outside spending for/against'
                 }
              },
       plotOptions: {
         column: {
            stacking: 'normal'
         }
        },

        tooltip: {
                 formatter: function() {
                    return '<b>$' + Highcharts.numberFormat(this.y, 0) + '';
                 }
      },
        series: [
                { data: [{% for candidate in top_candidates|slice:"5" %}{{ candidate.amount }}{% if not forloop.last %},{% endif %}{% endfor %}],
                dataLabels: {
                    enabled: true,
                    color: '#fff',
                    align: 'right',
                    x: -5,
                    y: -5,
                    formatter: function() {
                                   return '$' + Highcharts.numberFormat(this.y/1000000, 2) + 'M';
                                },
                    style: {
                        font: 'normal 11px Verdana, sans-serif'
                    }           
                },
                }
                ],
        legend: { enabled: false }
    });

});
</script>


{% load media %}
{% load humanize %}

{% js "js/highcharts.js" %}

<style type="text/css">
    /*table { border-collapse: collapse; }*/
    /*td, th { border: 1px solid black; padding: 4px; }*/
    h3 { text-align: center; }
</style>
<h2 id="featureHeader">Follow the Unlimited Money</h2>
<div id="featureMainNav">
    <ul>
        <li id="expenditures"><a href="{% url buckley_index %}">Latest Outside Spending</a></li>
        <li id="overview"><a href="{% url buckley_totals %}">Overview</a></li>
        <li id="about"><a href="{% url buckley_about %}">About</a></li>
        <li id="stories" class="last"><a href="{% url buckley_stories %}">Stories</a></li>
    </ul>  
    <form id="expenditureSearch" action="{% url buckley_search %}" method="GET">
        <input id="searchbox" {% if terms %}value="{{ terms }}"{% else %}value="Search for a candidate or committee"{% endif %} type="text" name="q" />
        <button class="goBtn" type="submit" value="Search" >
          <span>Go</span>
        </button>
    </form>
    <div class="clear"></div>
</div>

<div class="mainModule">
    <h3>${{ total.total|intcomma }}<br>total outside spending - 2010 cycle</h3>
    <h4>Type of spending</h4>
    <div id="outside-spending-pie"></div>
    <dl id="spendingKey">
        <dt><span class="color1">color block</span>Independent expenditures</dt>
        <dd>${{ total.ie_total|intcomma }}</dd>

        <dt><span class="color2">color block</span>Electioneering communications</dt>
        <dd>${{ total.ec_total|intcomma }}</dd>
    </dl>   
    <div class="clear"></div> 
</div>
<div class="mainModule">
    <h3>Spending by committee type - 2010 cycle</h3>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>By Non-Party Committees</th>
                <th>By Party Committees</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <td><strong>Supporting Republicans</strong></td>
                <td>${{ total.republican_support_nonparty|intcomma }}</td>
                <td>${{ total.republican_support_party|intcomma }}</td>
                <td>${{ total.republican_support_total|intcomma }}</td>
            </tr>
            <tr class="even">
                <td><strong>Opposing Republicans</strong></td>
                <td>${{ total.republican_oppose_nonparty|intcomma }}</td>
                <td>${{ total.republican_oppose_party|intcomma }}</td>
                <td>${{ total.republican_oppose_total|intcomma }}</td>
            </tr>
            <tr class="odd">
                <td><strong>Supporting Democrats</strong></td>
                <td>${{ total.democrat_support_nonparty|intcomma }}</td>
                <td>${{ total.democrat_support_party|intcomma }}</td>
                <td>${{ total.democrat_support_total|intcomma }}</td>
            </tr>
            <tr class="even">
                <td><strong>Opposing Democrats</strong></td>
                <td>${{ total.democrat_oppose_nonparty|intcomma }}</td>
                <td>${{ total.democrat_oppose_party|intcomma }}</td>
                <td>${{ total.democrat_oppose_total|intcomma }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mainModule">
    <div id="party-pieWrapper">
        <h3>Outside Spending by Candidate Party -<br/>2010 cycle</h3>
        <div id="party-pie"></div>
        <dl id="spendingKey">
            <dt><span class="color1">color block</span>Supporting Republicans/<br />Opposing Democrats</dt>
            <dd>${{ pro_gop_total|intcomma }}</dd>

            <dt><span class="color2">color block</span>Supporting Democrats/<br />Opposing Republicans</dt>
            <dd>${{ pro_democrat_total|intcomma }}</dd>
        </dl>
    </div>
    <div id="party-committeeWrapper">
        <h3>Outside Spending by Committee Type -<br/>2010 cycle</h3>
        <div id="party-committee-pie"></div>
        <dl id="spendingKey">
            <dt><span class="color1">color block</span>Party committees</dt>
            <dd>${{ party_committee_total|intcomma }}</dd>

            <dt><span class="color2">color block</span>Non-party committees</dt>
            <dd>${{ non_party_committee_total|intcomma }}</dd>
        </dl>
    </div>
    <div class="clear"></div>
</div>
{% comment %}
<div class="mainModule">
    <h3>Top party-committee spenders<br />in the 2010 cycle</h3>
    <div id="party-committee-barchart"></div>
</div>
<div class="mainModule">
    <h3>Top non-party-committee spenders<br />in the 2010 cycle</h3>
    <div id="non-party-committee-barchart"></div>
</div>
<div class="mainModule">
    <h3>Top races in the 2010 cycle</h3>
    <div id="race-barchart"></div>
</div>
<div class="mainModule">
    <h3>Top candidates mentioned in the 2010 cycle</h3>
    <div id="candidate-barchart"></div>
</div>
{% endcomment %}

{% endblock content %}

{% block sidebar %}
<h4>Recent big spending</h4>
<ul id="expendituresData" class="categories">
    {% for expenditure in latest_big_expenditures|slice:"12" %}
        <li>
            <span class="expenditureDate">{{ expenditure.expenditure_date|date:"F j" }}</span>
            {% if expenditure.electioneering_communication %}
            <strong>{{ expenditure.committee }}:</strong> <span class="expenditureNumber">${{ expenditure.expenditure_amount|intcomma }}</span> electioneering communication mentioning {% for candidate in expenditure.electioneering_candidates.all %}{{ candidate }}{% if candidate.race %} ({{ candidate.full_race_name }}){% endif %}{% if not forloop.last %}, {% endif %}{%endfor %}
            {% else %}
            <strong>{{ expenditure.committee }}:</strong> <span class="expenditureNumber">${{ expenditure.expenditure_amount|intcomma }}</span> {% ifequal expenditure.support_oppose 'S' %}supporting{% endifequal %}{% ifequal expenditure.support_oppose 'O' %}opposing{% endifequal %} {{ expenditure.candidate }} {% if expenditure.candidate.race %}({{ expenditure.candidate.full_race_name }}){% endif %}
            {% endif %}
            <a class="readMoreRT" href="{{ expenditure.get_absolute_url }}#{{ expenditure.pk }}">View Details</a>
        </li>
    {% endfor %}
</ul>
{% endblock sidebar %}
