{% extends "buckley/buckley_base.html" %}

{% block content %}

{% load humanize %}

<style type="text/css">
    table { border-collapse: collapse; }
    td, th { border: 1px solid black; padding: 4px; }
</style>

<h2>Totals this election cycle</h2>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount spent</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Independent expenditures</th>
            <td>${{ ie_total|intcomma }}</td>
        </tr>
        <tr>
            <th>Electioneering communications</th>
            <td>${{ ec_total|intcomma }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>${{ total|intcomma }}</td>
        </tr>
    </tbody>
</table>
<br>
<strong>Note:</strong> ${{ ie_only_total|intcomma }} of this spending has been from "Super" PACs -- groups that have submitted a letter saying they will accept contributions of unlimited amounts.

<br><br>
<h2>Party totals this election cycle</h2>
<table>
    <thead>
        <tr>
            <th>Party</th>
            <th>Total Amount</th>
            <th>Non-Party Committees</th>
            <th>Party Committees</th>
            <th>Support/Oppose</th>
        </tr>
    </thead>
    <tbody>
        {% for p in by_party %}
{% if p.candidate__party and p.support_oppose %}
        <tr>
            <td>{{ p.candidate__party }}</td>
            <td><a href="{% url buckley_totals_by_party party=p.candidate__party support_oppose=p.support_oppose %}">${{ p.amt|intcomma }}</a></td>
            <td>${{ p.non_party_cmtes|intcomma }}</td>
            <td>${{ p.party_cmtes|intcomma }}</td>
            <td>{{ p.support_oppose }}</td>
        </tr>
{% endif %}
        {% endfor %}
    </tbody>
</table>

<br><br>

<h2>Amounts spent since {{ since }}</h2>
<table>
    <thead>
        <tr>
            <th>Committee</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for committee in committees %}
            <tr>
                <td><a href="{% url buckley_committee_detail slug=committee.committee__slug %}">{{ committee.committee__name }}</a></td>
                <td>${{ committee.amount|intcomma }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
