{% extends "buckley/buckley_base.html" %}


{% load humanize %}

{% block content %}

<style type="text/css">
    table { border-collapse: collapse; }
    td, th { border: 1px solid black; padding: 4px; }
</style>

<h2>Committees spending money in {{ support_oppose }} of {{ party }}</h2>


<table>
    <thead>
        <tr>
            <th>Committee</th>
            <th>Amount spent</th>
        </tr>
    </thead>
    <tbody>
        {% for committee in committees %}
        <tr>
            <td>{{ committee.committee__name }}</td>
            <td>${{ committee.t|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
