<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="shortcut icon" href="http://assets.sunlightfoundation.com/favicon.ico" type="image/x-icon">
<link rel="alternate" type="application/rss+xml" title="Sunlight Foundation Transparency Ecosystem" href="http://feeds.feedburner.com/SunlightFoundationReportingGroup" />
 <link rel="icon" href="http://assets.sunlightfoundation.com/favicon.ico" type="image/x-icon">
    {% css "css/main.css" %}
  <!--[if IE 6]>{%css "css/buggy.css"%}<![endif]-->
  <!--[if IE 7]>{%css "css/buggy7.css"%}<![endif]-->

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>

  <style type="text/css">
      body { width: 320px; background: none; }
      ul { list-style-type: disc; !important }
      li { margin-bottom: 15px; line-height: 15px; margin-left: 20px; }
      h3 { margin-top: 20px; margin-bottom: 10px; font-size: 95%; }
  </style>

  </head>

  <body>
      <div id="widgetHeader"></div>

<div id="ltcolumn">
    <h3 style="font-size: 110%;margin-top:15px;">Latest independent expenditures</h3>
    <strong><a target="new" href="{% url buckley_about %}">About</a> | <a target="_top" href="{% url buckley_index %}">View All</a> | <a id="toggleEmbed" href="javascript:null">Embed code</a></strong>
<a href="{% url buckley_expenditures_feed %}"><img src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/img/feed-icon-14x14.png" style="border:none; display: block; float: right; margin-top: 4px;"/></a>

<input type="text" size="50" value="<script type='text/javascript' src='http://127.0.0.1:8000/independent-expenditures/embed'></script>" id="embedCode" style="display: none;" />

{% load humanize %}

{% regroup object_list by date as spending_list %}


{% for date in spending_list %}
<h3{% ifequal forloop.counter0 0 %} style="margin-top:10px;"{% endifequal %}>{{ date.grouper|date:"F j, Y" }}</h3>
<ul>
{% for spending in date.list %}
<li><a target="_top" href="{{ spending.committee.get_absolute_url }}">{{ spending.committee.name }}</a> spent&nbsp;${{ spending.amount|intcomma }}<br />in {{ spending.support_oppose }} <a target="_top" href="{{ spending.candidate.get_absolute_url }}">{{ spending.candidate }}</a>{% if spending.candidate.party %} ({{ spending.candidate.party }}){% if spending.candidate.race %} in the <a target="_top" href="{% url buckley_race_detail race=spending.candidate.race %}">{{ spending.candidate.full_race_name }}{% ifequal spending.candidate.office 'H' %} House{% endifequal %}</a> race{% endif %}{% endif %}</li>
{% endfor %}
</ul>
{% endfor %}
</div>

<br>
<strong><a target="_top" href="{% url buckley_index %}">View all independent expenditures</a></strong>

<script type="text/javascript"> 
var embedder, embedder_host;

var matches_embedder_host = location.search.match(/embedder_host=([^&\?]+)/);
if (matches_embedder_host)
embedder_host = unescape(matches_embedder_host[1]);

var matches_embedder = location.search.match(/embedder=([^&\?]+)/);
if (matches_embedder)
embedder = unescape(matches_embedder[1]);
</script> 

<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
try {
var pageTracker = _gat._getTracker("UA-1265484-45");
pageTracker._trackPageview();
} catch(err) {}</script>

<script type="text/javascript">
//if (location.hostname.match(/reporting\.sunlight/) === null) {
if (embedder && (embedder_host != location.host)) {
    pageTracker._setReferrerOverride(embedder);

    var html = '<div style="background: url(http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/img/bg_3.png) repeat 0% 0%;margin-bottom; 15px;"><a href="http://reporting.sunlightfoundation.com" target="new"><img src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/img/logo_reporting_color.png" style="border: none; margin-left: 10px;"/></a></div>';
    document.getElementById('widgetHeader').innerHTML = html;
}
$(document).ready(function () {
        $("#toggleEmbed").click(function () {
            $("#embedCode").toggle().focus().select();
        });
});
</script>

    </body>

</html>
