{% extends "willard/willard_base.html" %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block body %}{{ block.super }} reporting registrant fullWidth{% endblock %}


{% block content %}
{#{% include "willard/registration_header.html" %}#}

<style type="text/css">
    .DV-docViewer input {
        border: 1px solid #999 !important;
        border-bottom-left-radius: 16px 16px !important;
        border-bottom-right-radius: 16px 16px !important;
        border-top-left-radius: 16px 16px !important;
        border-top-right-radius: 16px 16px !important;
        display: block !important;
        float: left !important;
        background: white url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAK8AAACvABQqw0mAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTM5jWRgMAAAFlSURBVCiRbY/NqqpgFIYfjxLiyEFCfyDZpElFRF5Pt1A3FN1BNyEqRATfSFAo+keCmuQn5PEMDsXZe59nuJ718q6lANxutzIMQ4QQ7HY7bNum1+vhui7ValXhH7Q0TcvlckkQBJ9hHMfEcczpdCJN09KyrE9IC8OQIAhot9uMRiM6nQ5JkrBarQjDkFqtxpcGIQQA4/EY13WpVCpYloWqqmy3W97+za/9fg/AYDDAMAx0XccwDPr9PgBv/wm0Wi0AoihC07S/tZpGFEUAvP0n0O12AfA8D9/3ybIM3/fxPA8Ax3G+/jAcDrler6zXa5Ik4TtCCO73e2mapgKgSCnLw+HAZrMhiiKOxyPNZhPHcRBCkKYp9Xqd2WyGaZqKAiClLLMsI89zXq8XmqahqiqPx4PFYsHlcqHRaDCdTtEAdF1XftwCPJ/PcjKZMJ/PkVIipeS/i2+KolDyPP99Pp8pigLbtvkDMDKl6nkCE08AAAAASUVORK5CYII=) no-repeat 5px 5px !important;
        font-size: 11px !important;
        margin: 2px 5px 0px 0px !important;
        padding: 4px 20px 3px !important;
        width: 210px !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }
</style>
<h4>Foreign lobbying filing</h4>
<h2>{{ object.registrant_name }}</h2>
<ul>
    <li><strong>Date:</strong> {{ object.stamped|date:"F j, Y" }}</li>
    {% if object.registrant_status %}
    <li><strong>Registrant status:</strong> {{ object.registrant_status }}</li>
    {% endif %}
    {% if object.foreign_principal_name %}
    <li><strong>Foreign principal:</strong> {{ object.foreign_principal_name }}</li>
    {% endif %}
    {% if object.foreign_principal_country %}
    <li><strong>Foreign principal country:</strong> {{ object.foreign_principal_country }}</li>
    {% endif %}
</ul>
<br>
<div id="doc-viewer"></div>
<script src="http://s3.documentcloud.org/viewer/loader.js"></script>
<script>
  DV.load('http://www.documentcloud.org/documents/{{ object.doc_id }}.js', {
    width: 900,
    height: 1000,
    sidebar: false,
    container: "#doc-viewer"
  });
</script>
{% endblock %}
