{% extends "willard/willard_base.html" %}

{% load media %}
{% load humanize %}
{% load willard_filters %}

{% block content %}

{% js "js/jquery.sparkline.min.js "%}


{% block breadcrumb %}{% endblock %}

<div class="registrationList">
    <a style="display: block; float: right;margin-top:10px;" href="{% url willard_feed %}"><img src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/img/feed-icon-14x14.png" alt="RSS" title="Subscribe to an RSS feed of the latest lobbyist registrations" style="border: 0;" /></a>
    <h2 style="font-size:1.75em;">Latest registrations</h2>
    {% for dategroup in object_list %}
    <h3 style="margin-bottom: 8px;font-size:1.25em;">{{ dategroup.date|date:"F j" }}</h3>
    <ul style="margin-bottom: 40px;">
        {% for registration in dategroup.registrations %}
            {% include "willard/registration_list_item.html" %}
        {% endfor %}
    </ul>
    {% endfor %}
</div>

<div style="width:500px;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue, velit lacinia interdum vehicula, mauris ligula tempus elit, at suscipit erat urna eget leo. Donec nec erat massa, congue porttitor nisi. Suspendisse potenti. Cras eleifend gravida leo, quis rhoncus nibh dignissim non. Cras faucibus sodales imperdiet. Nunc sagittis faucibus adipiscing. Nam rhoncus cursus ligula et commodo.</p>
    <br />
    <h3 style="text-align: center; font-size: 1.5em;">Past 12 months of registrations</h3>
    <div id="monthLineChart" style="width:525px;height:300px;"></div>
    <h3 style="text-align: center; font-size: 1.25em;">Browse by issue</h3>
    <ul class="issueChart" style="width: 475px;">
        {% for issue in issues %}
        <li>
            <a href="{{ issue.get_absolute_url }}">
                <span style="display: block; float: left; width: 350px;">{{ issue.issue }}</span>
                <span class="inlinesparkline">{{ issue.counts_by_month }}</span>
            </a>
            <span class="count">{{ issue.num|intcomma }}</span>
            <span class="index" style="width: {{ issue.num|percentage:past_year_count|intcomma }}%"></span>
        </li>
        {% endfor %}
    </ul>
</div>



<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/highcharts.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'monthLineChart',
                width: '525',
                height: '300',
                defaultSeriesType: 'line',
                marginTop: -25,
                marginLeft: 50,
                animation: false,
                backgroundColor: '#f1f1ef'
            },
            credits: { enabled: false },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    marker: { 
                        radius: 3
                    },
                    lineWidth: 2,
                    /*color: '#457B80',*/
                    color: '#2a5f65',
                    shadow: false
                }
            },
            legend: {
                        enabled: false
                {% comment %}
                layout: 'horizontal',
                borderWidth: 0,
                itemWidth: 200,
                width: 500
                {% endcomment %}
            },
            title: {
                text: '',
                style: { display: 'none', position: 'absolute', left: '0', top: '0', }
            },
            tooltip: {
                borderRadius: 0,
                borderWidth: 0,
                formatter: function() {
                    return '<b>' + this.point.name + ': ' + this.y + ' registrations</b>';
                }
            },
            yAxis: {
                min: 0,
                     title: { text: 'Number of registrations',
                              style: { color: '#414042' }
                     }
            },
            xAxis: {
                categories: [
                {% for month, registrations in registrations_by_month %}
                '{{ month.month_initial }}'{% if not forloop.last %},{% endif %}
                {% endfor %}
                ],
                    title: { text: 'Month',
                        style: { color: '#414042' }
                    }
            },

            series: [
            {
                name: 'Lobbyist registrations',
                data: [
                      {% for month, registrations in registrations_by_month %}
                      {
                        y: {{ registrations }},
                        name: '{{ month.month_name }} {{ month.year }}'
                      }{% if not forloop.last %},{% endif %}
                      {% endfor %}
                      ]
            }
            {% comment %}
            {% for issue, months in issue_counts %}
            {
                name: '{{ issue }}',
                data: [
                    {% for month in months %}
                    {{ month }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    ]
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
            {% endcomment %}
            ]

        });

        // Create inline sparklines
        $('.inlinesparkline').sparkline('html', {
                                fillColor: false,  
                                spotRadius: 0,
                                lineColor: '#414042'
                                //lineColor: '#ff0000'
                            });

    });
</script>

{% endblock content %}
