{% extends "willard/willard_base.html" %}

{% block content %}
<div style="float: right;">
    <div id="monthLineChart"></div>
    <br/><br/>
    <h2>Browse lobbying issues</h2>
    <ul id="issueList">
        {% for issue in issues %}
        <li><a href="{{ issue.get_absolute_url }}">{{ issue.issue }}</a></li>
        {% endfor %}
    </ul>
</div>

<div id="registrationList" style="width: 350px;">
    <h2>Latest lobbyist registrations</h2>
    {% regroup object_list by signed_date as date_list %}
    {% for dategroup in date_list|slice:"10" %}
    <h3 style="margin-bottom: 5px;">{{ dategroup.grouper|date:"F j" }}</h3>
    <ul style="margin-bottom: 40px;">
        {% for registration in dategroup.list %}
        <li>
        <strong>Registrant:</strong> <a target="_new" href="{{ registration.organization.ie_url }}">{{ registration.organization.name }}</a>
        <br/>
        <strong>Client:</strong> <a target="_new" href="{{registration.client.ie_url }}">{{ registration.client.name }}</a>
        <br/>
        <strong>Issues:</strong> {% for issue_code in registration.issues.all %}<a href="{{ issue_code.get_absolute_url }}">{{ issue_code.issue }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
        <br/>
        <strong>Specific issue:</strong> {{ registration.specific_issues }}
        {% if not forloop.last %}<hr style="margin: 15px 0px;"/>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/highcharts.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'monthLineChart',
                width: '500',
                height: '400',
                defaultSeriesType: 'line',
                backgroundColor: '#f1f1ef'
            },
            credits: { enabled: false },
            legend: { 
                layout: 'horizontal',
                borderWidth: 0,
                itemWidth: 200,
                width: 500
                //y: -40,
                //x: 90
            },
            title: { 
                text: 'Lobbyist registrations by issue - past year'
                /*
                style: {
                    display: 'none',
                    position: 'absolute',
                    left: '0',
                    top: '0',
                }
                */
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.y +' registrations</b>';
                }
            },
            yAxis: {
                min: 0,
                title: { text: 'Number of registrations' }
            },
            xAxis: {
                categories: [
                {% for month in months %}
                '{{ month }}'{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            },

            series: [
            {% for issue, months in issue_counts %}
            {
                name: '{{ issue }}',
                data: [
                    {% for month in months %}
                    {{ month }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                    ]
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
            ]

        });

    });
</script>

{% endblock content %}
