{% extends "willard/willard_base.html" %}

{% load humanize %}
{% load willard_filters %}

{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/highcharts.js"></script>

<script type="text/javascript">
    var months = ['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D'];
    $(document).ready(function () {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'monthLineChart',
                width: '500',
                height: '300',
                backgroundColor: '#f1f1ef',
                animation: false,
                defaultSeriesType: 'line'
            },
            title: { 
                text: '',
                style: {
                    display: 'none',
                    position: 'absolute',
                    left: '0',
                    top: '0',
                }
            },
            tooltip: {
                borderRadius: 0,
                borderWidth: 0,
                formatter: function() {
                    return '<b>'+ this.y +' lobbyist registrations</b>';
                }
            },
            xAxis: {
                categories: [
                {% for month in month_counts %}
                    months[{{ month.month }}-1]{% if not forloop.last %},{% endif %}
                {% endfor %}
                ],
                title: { text: 'Month' }
            },
            yAxis: {
                min: 0,
                title: { text: 'Number of registrations' }
            },
            legend: { enabled: false },
            credits: { enabled: false },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    marker: { 
                        radius: 3
                    },
                    lineWidth: 2,
                    shadow: false
                }
            },
            series: [{data: [
            {% for month in month_counts %}
                {y: {{ month.count }} }
                {% if not forloop.last %},{% endif %} 
            {% endfor %}
            ]}]

        });

    });
</script>

<h2>{{ issue.issue }}</h2>

<div style="float: right;">
<div id="monthLineChart"></div>
<h5>Top registrants over the past year</h5>
<ul class="issueChart">
    {% for registrant in top_registrants %}
    <li>
        <a href="{{ registrant.get_absolute_url }}">{{ registrant }}</a>
        <span class="count">{{ registrant.num|intcomma }}</span>
        <span class="index" style="width: {{ registrant.num|percentage:past_year_count|intcomma }}%"></span>
    </li>
{% endfor %}
</ul>
</div>

<div id="registrationList" style="width: 350px;">
    {% regroup page_obj.object_list by signed_date as date_list %}
    {% for dategroup in date_list %}
        <h3 style="margin-bottom: 5px;">{{ dategroup.grouper|date:"F j" }}</h3>
        <ul style="margin-bottom: 40px;">
            {% for registration in dategroup.list %}
                {% include "willard/registration_list_item.html" %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>

{% endblock content %}
