{% extends "willard/willard_base.html" %}

{% block body %}reporting issues fullWidth{% endblock %}

{% load humanize %}
{% load willard_filters %}

{% block breadcrumb %}{{ block.super }}
<li><a href="{% url willard_issue_list %}">Lobbying issues</a></li>
<li>{{ issue.issue }}</li>
{% endblock breadcrumb %}

{% block content %}
<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/highcharts.js"></script>

<script type="text/javascript">
    var months = ['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A', 'S', 'O', 'N', 'D'];
    $(document).ready(function () {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'monthLineChart',
                width: '525',
                height: '300',
                backgroundColor: '#f1f1ef',
                animation: false,
                defaultSeriesType: 'line',
                marginTop: -25,
                marginLeft: 50,
            },
            title: { 
                text: '',
                style: {
                    display: 'none',
                    position: 'absolute',
                    left: '0',
                    top: '0',
                }
            },
            tooltip: {
                borderRadius: 0,
                borderWidth: 0,
                formatter: function() {
                    return '<b>'+ this.y +' lobbyist registrations</b>';
                }
            },
            xAxis: {
                categories: [
                {% for month in month_counts %}
                    months[{{ month.month }}-1]{% if not forloop.last %},{% endif %}
                {% endfor %}
                ],
                    title: { text: 'Month', 
                             style: { color: '#414042' } 
                    }
            },
            yAxis: {
                min: 0,
                     title: { text: 'Number of registrations',
                              style: { color: '#414042' }
                     }
            },
            legend: { enabled: false },
            credits: { enabled: false },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    marker: { 
                        radius: 3
                    },
                    lineWidth: 2,
                    color: '#2a5f65',
                    shadow: false
                }
            },
            series: [{data: [
            {% for month in month_counts %}
                {y: {{ month.count }} }
                {% if not forloop.last %},{% endif %} 
            {% endfor %}
            ]}]

        });

    });
</script>

<h3>Lobbying issue: {{ issue.issue }}</h3>

<div class="registrationList">
    <h4>Latest registrations</h4>
    <span>(<a href="{% url willard_issue_detail_all slug=issue.slug %}">View all</a>)</span>
    <div class="rssIcon rssBlock">
        <a href="{% url willard_issue_detail_feed slug=issue.slug %}">Subscribe</a>
    </div>
    {% regroup registrations by received.date as date_list %}
    {% for dategroup in date_list %}
        <h3 style="margin-bottom: 8px;font-size:1.25em;">{{ dategroup.grouper|date:"F j" }}</h3>
        <ul style="margin-bottom: 40px;">
            {% for registration in dategroup.list %}
                {% include "willard/registration_list_item.html" %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>

<div style="width:500px;">
    <h4>Past 12 months</h4>
    <div id="monthLineChart"></div>
    {% if top_registrants %}
    <h3 style="text-align: center; font-size: 1.25em;">Top registrants</h3>
    <ul class="issueChart">
        {% for registrant in top_registrants %}
        <li>
            <a href="{{ registrant.get_absolute_url }}">{{ registrant }}</a>
            <span class="count">{{ registrant.num|intcomma }}</span>
            <span class="index" style="width: {{ registrant.num|percentage:past_year_count|intcomma }}%"></span>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}


{% endblock content %}
