{% extends "willard/willard_base.html" %}

{% load humanize %}
{% load willard_filters %}

{% block content %}

<h1>{{ organization }}</h1>

<ul class="issueChart">
    {% with organization.registration_set.count as total %}
        {% for issue in organization.issue_counts_for_org_slug %}
        <li>
            <a href="{{ issue.get_absolute_url }}">{{ issue.issue }}</a>
            <span class="count">{{ issue.num|intcomma }}</span>
            <span class="index" style="width: {{ issue.num|percentage:total|intcomma }}%"></span>
        </li>
        {% endfor %}
    {% endwith %}
</ul>

<div id="registrationList" style="width: 350px;">
    {% for registration in object_list %}
    <ul style="margin-bottom: 40px;">
        {% include "willard/registration_list_item.html" %}
    </ul>
    {% endfor %}
</div>

{% endblock %}
