<li>
    <dl>
        {% if showdate %}
        <dt class="odd">Filing date</dt>
        <dd class="odd">{{ registration.received|date:"F j, Y" }}</dd>
        {% endif %}
        
        <dt>Registrant</dt>
        <dd><a href="{{ registration.registrant.get_absolute_url }}">{{ registration.registrant }}</a></dd>

        <dt class="odd">Client</dt>
        <dd class="odd"><a href="{{ registration.client.get_absolute_url }}">{{ registration.client }}</a></dd>

        <dt>Issues</dt>
        <dd>
            <ul>
                {% for issue_code in registration.denormalized_issues %}
                <li>&bull;&nbsp;<a href="{{ issue_code.get_absolute_url }}">{{ issue_code.issue }}</a></li>
                {% endfor %}
            </ul>
        </dd>

        {% if registration.specific_issue %}
            <dt class="odd">Specific issue</dt>
            <dd class="odd">{{ registration.specific_issue }}</dd>
        {% endif %}
    </dl>
    <a class="readMoreRT" href="{{ registration.get_absolute_url }}">View registration »</a>
</li>

