{% extends "willard/willard_base.html" %}

{% block body %}reporting registrant fullWidth{% endblock %}

{% load humanize %}
{% load partition %}

{% block breadcrumb %}
{{ block.super }}
<li>Registrants</li>
{% endblock breadcrumb %}

{% block content %}

<h3>Lobbying registrants</h3>

{% for letter, registrants in by_letter %}
<a href="#{{ letter }}">{{ letter }}</a>
{% endfor %}

{% for letter, registrants in by_letter %}
<h3 id="{{ letter }}" class="browseHeading">{{ letter }}</h3>
<table class="browseTable">
    {% for row in registrants|columns_across:3 %}
    <tr>
        {% for registrant in row %}
        <td><a href="{{ registrant.get_absolute_url }}">{{ registrant }}</a></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endfor %}

{% endblock content %}
