{% extends "willard/willard_base.html" %}

{% load humanize %}
{% load willard_filters %}

{% block content %}

<h2>{{ object }}</h2>

<div id="monthLineChart"></div>

<ul class="issueChart">
    {% with object.registration_set.count as total %}
        {% for issue in organization.issue_counts_for_org_slug %}
        <li>
            <a href="{{ issue.get_absolute_url }}">{{ issue.issue }}</a>
            <span class="count">{{ issue.num|intcomma }}</span>
            <span class="index" style="width: {{ issue.num|percentage:total|intcomma }}%"></span>
        </li>
        {% endfor %}
    {% endwith %}
</ul>


<div class="registrationList">
    <a style="display: block; float: right;margin-top:10px;" href="{% url willard_registrant_detail_feed slug=object.slug %}"><img src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/img/feed-icon-14x14.png" alt="RSS" title="Subscribe to an RSS feed of the latest lobbyist registrations" style="border: 0;" /></a>
    <h2 style="font-size:1.75em;">Latest registrations &nbsp;&nbsp;<span style="font-size:.6em;">(<a href="{% url willard_registrant_detail_all slug=object.slug %}">View all</a>)</a></h2>
    <ul style="margin-bottom: 40px;">
        {% with 1 as showdate %}
        {% for registration in object.registration_set.select_related|slice:"25" %}
            {% include "willard/registration_list_item.html" %}
        {% endfor %}
        {% endwith %}
    </ul>
</div>


{% endblock %}
