{% extends "willard/willard_base.html" %}

{% block body %}reporting registrant fullWidth{% endblock %}

{% load humanize %}
{% load partition %}

{% block breadcrumb %}
{{ block.super }}
<li>Registrants</li>
{% endblock breadcrumb %}

{% block content %}

<h3>Lobbying registrants</h3>

<div id="timeToggle">
    <span>Jump to:</span>
    {% for letter, registrants in by_letter %}
    <a href="#{{ letter }}">{{ letter }}</a>
    {% endfor %}
</div>

{% for letter, registrants in by_letter %}
<h3 id="{{ letter }}" class="browseHeading">{{ letter }}</h3>
<ol class="browseTable">
    {% for row in registrants|columns_across:3 %}
        {% for registrant in row %}
        <li class="{% cycle 'one' 'two' 'three' %}"><a href="{{ registrant.get_absolute_url }}">{{ registrant }}</a></li>
        {% endfor %}
    {% endfor %}
</ol>
<div class="clear"></div>
{% endfor %}

{% endblock content %}
