{% extends "willard/willard_base.html" %}

{% load willard_tags %}

{% block content %}

<div id="monthLineChart"></div>

{% for date in date_list %}
<li><a href="{% url willard_date_month year=date.year, month=date.month %}">{{ date|date:"F" }}</a>
{% registration_count date month %}
</li>
{% endfor %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/highcharts.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'monthLineChart',
                width: '500',
                height: '400',
                defaultSeriesType: 'line',
                backgroundColor: '#f1f1ef'
            },
            credits: { enabled: false },
            legend: { enabled: false },
            title: { 
                text: '',
                style: {
                    display: 'none',
                    position: 'absolute',
                    left: '0',
                    top: '0',
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.y +' registrations</b>';
                }
            },
            yAxis: {
                min: 0,
                title: { text: 'Number of registrations' }
            },
            xAxis: {
                categories: [
                {% for date in date_list %}
                '{{ date|date:"F"|slice:"1" }}'{% if not forloop.last %},{% endif %}
                {% endfor %}
                ],
                title: {text: 'Month' }
            },

            series: [{data: [
            {% for date in date_list %}
                {y: {% registration_count date month %} }
                {% if not forloop.last %},{% endif %}
            {% endfor %}
            ]}
            ]

        });

    });
</script>

{% endblock content %}
