{% extends "base.html" %}

{% load media %}

{% block title %}{{ block.super }}: Lobbyist registrations{% endblock %}

{% block body %}fullWidth{% endblock %}
{% block main_content %}
{% css "css/lobbying.css" %}

<div id="columns">
    <div id="fullColumn" style="overflow:hidden;">

        <script type="text/javascript">
            $(document).ready(function () {
                $("#searchbox").focus(function () {
                    if ($(this)[0].value === 'Search for a registrant or client') {
                        $(this).val('');
                    }
                });
            });
        </script>

        <h2 id="featureHeader">Lobbyist registration tracker</h2>
        <div id="featureMainNav">
            <ul>
                <li class="issues"><a href="{% url willard_issue_list %}">Browse by issue</a></li>
                <li class="registrants"><a href="{% url willard_registrant_list %}">Browse by registrant</a></li>
                <li class="clients"><a href="{% url willard_client_list %}">Browse by client</a></li>
                <form id="expenditureSearch" action="{% url willard_search %}" method="GET">
                    <input id="searchbox" {% if terms %}value="{{ terms }}"{% else %}value="Search for a registrant or client"{% endif %} type="text" name="q" />
                    <button class="goBtn" type="submit" value="Search" >
                        <span>Go</span>
                    </button>
                </form>
                <div class="clear"></div>
            </ul>
        </div>

        <div id="breadcrumbs">
            <ul>
                {% block breadcrumb %}
                <li>
                    <a href="{% url willard_index %}">Lobbyist registrations home</a>
                </li>
                {% endblock breadcrumb %}
            </ul>
            <div class="clear"></div>
        </div>

        {% block content %}{% endblock content %}
    </div>
</div>
{% endblock main_content %}
