{% extends "base.html" %}

{% load media %}

{% block title %}{{ block.super }}: Lobbying Tracker{% endblock %}

{% block body %}fullWidth{% endblock %}
{% block main_content %}
{% css "css/lobbying.css" %}

{% block lobbyheader %}
<div id="columns">
    <div id="fullColumn" style="overflow:hidden;">
        
        <h2 id="lobbyHeader"><a href="/lobbying">Lobbying Tracker</a></h2>
        <p id="lobbyingDescript" class="tip tipLg">Follow Washington influence using Sunlight’s Lobbying Tracker tools for keeping up with K street. Keep checking this page as we add more resources and tools to LobbyTrack.</p>
{% endblock %}

        {% block content %}
        {% endblock %}
        


    </div>
</div>
{% endblock main_content %}
