{% extends "base.html" %}
{% load media %}

{% block body %}fullWidth{% endblock %}

{% block feature %}
<style type="text/css">
	#fullColumn { font-family: sans-serif; }
	#chart-container { margin: 0; padding: 0; float: left; width: auto; }
	#chart-bar { margin: 0; padding: 0; position: relative; top: -40px; left: 0; }
	#ctlbar { float: left; position: relative; left: -30px; width: 130px; background-color: #dddcd8; padding: 12px; margin: 0; } 
	.presidenttitle { display: inline-block; font-weight: bold; color: #5e5e5e; font-size: 10pt; }
	.termyears { font-style: italic; color: #939290; font-size: 9pt; }
	.yearlist { color: #5e5e5e; font-weight: normal; font-size: 11pt; }
	ul#clinton-budgets > li > input, ul#bush-budgets > li > input, ul#obama-budgets > li > input { width: auto; margin: 0 2pt 0 0; }
	span#ctlbar-title { font-weight: bold; color: #5e5e5e; font-size: 14px; }
	div.collapsable { width: auto; margin: 7px 0 0px 0; padding: 0; }
	div.collapsable div.list-bullet { display: inline-block; vertical-align: top; padding: 0; margin: 0; width: 12px; height: 12px; background: url({% media_url %}/img/budgetforecasts/icons_arrows.png) no-repeat; }
	div.collapsable div.list-bullet { background: none; }
	div.collapsable div.list-bullet-open { display: none; background-position: 0 -11px; }
	div.collapsable div.list-bullet-closed { display: none; background-position 0 0; }
	div.collapsable ul { margin: 0; padding: 0 0 0 1em; }
	div.collapsable li { list-style-type: none; list-style-image: none; }
	#loading { color: #3a7982; font-size: 120%; font-weight: bold; }
	#budget-title { margin: 0 0 12pt 0; color: #3a7982; font-size: 28pt; font-weight: 500; font-family: serif; }
	#billions-label { font-size: 10pt; font-style: italic; display: none; }
	.explain { color: #58595B; font-size: 15px; margin: 0 0 12pt 0; }
	.clear { clear: both; } 
</style>
<div id="columns">
    <div id="fullColumn" style="overflow:hidden;">
		<div id="budget-title">Spending forecasts vs. spending realities</div>
		<div id="budget-explain" class="explain">
			<p>As the Joint Select Committee on Deficit Reduction — better known as the supercommittee - nears its Nov. 23 deadline for a plan to cut $1.3 trillion from the federal deficit, we at Sunlight thought it would be worth looking at how budget plans match up to budget realities.</p>

			<p>In the chart below, you can see the annual budget deficit or surplus since 1995. What we've attempted to do is show how that lines up with budget forecasts over the years.</p>

			<p>Each year, the president submits a budget that details the upcoming year's spending and revenue expectations, but also forecasts spending and revenues for several years into the future.</p>

			<p>Because no Congress can bind a future Congress, these projections are little more than political statements designed to reassure people that the government is on a path toward fiscal responsibility.</p>

			<p>See those budget forecasts using the buttons below and you'll quickly see how far off a projected budget can be from reality. In 2008, for example, the budget forecasted a 2009 deficit of $187 billion. In reality, the deficit that year ended up being $1.419 trillion. That's nearly 10 times the projection.</p>

			<p>So, when the supercommittee comes back with a budget plan that projects balance in 10 years, you can see just how rarely projections match up with reality.</p>

			<p>Hover over the pins at the bottom of the chart to see major political/economic news that influenced the budget.</p>

			<p>Note: The federal government's fiscal year runs from Oct. 1 to the following September 30.</p>
		</div>
        <div id="ctlbar">
			<span id="ctlbar-title">Budget forecasts</span>

            <div class="collapsable">
                <div class="list-bullet list-bullet-open"></div>
                <div class="presidenttitle">
                    <span>Bill Clinton</span>
                </div>
                <ul id="clinton-budgets" class="yearlist">
                    <li><input type="checkbox" name="Clinton-1996" id="Clinton-1996" class="series-toggle">1996</li>
                    <li><input type="checkbox" name="Clinton-1997" id="Clinton-1997" class="series-toggle">1997</li>
                    <li><input type="checkbox" name="Clinton-1998" id="Clinton-1998" class="series-toggle">1998</li>
                    <li><input type="checkbox" name="Clinton-1999" id="Clinton-1999" class="series-toggle">1999</li>
                    <li><input type="checkbox" name="Clinton-2000" id="Clinton-2000" class="series-toggle">2000</li>
                    <li><input type="checkbox" name="Clinton-2001" id="Clinton-2001" class="series-toggle">2001</li>
                </ul>
            </div>

            <div class="collapsable">
                <div class="list-bullet list-bullet-open"></div>
                <div class="presidenttitle">
                    <span>George W. Bush</span>
                </div>
                <ul id="bush-budgets" class="yearlist">
                    <li><input type="checkbox" name="Bush-2002" id="Bush-2002" class="series-toggle">2002</li>
                    <li><input type="checkbox" name="Bush-2003" id="Bush-2003" class="series-toggle">2003</li>
                    <li><input type="checkbox" name="Bush-2004" id="Bush-2004" class="series-toggle">2004</li>
                    <li><input type="checkbox" name="Bush-2005" id="Bush-2005" class="series-toggle">2005</li>
                    <li><input type="checkbox" name="Bush-2006" id="Bush-2006" class="series-toggle">2006</li>
                    <li><input type="checkbox" name="Bush-2007" id="Bush-2007" class="series-toggle">2007</li>
                    <li><input type="checkbox" name="Bush-2008" id="Bush-2008" class="series-toggle">2008</li>
                    <li><input type="checkbox" name="Bush-2009" id="Bush-2009" class="series-toggle">2009</li>
                </ul>
            </div>

            <div class="collapsable">
                <div class="list-bullet list-bullet-open"></div>
                <div class="presidenttitle">
                    <span>Barack Obama</span>
                </div>
                <ul id="obama-budgets" class="yearlist">
                    <li><input type="checkbox" name="Obama-2010" id="Obama-2010" class="series-toggle">2010</li>
                    <li><input type="checkbox" name="Obama-2011" id="Obama-2011" class="series-toggle">2011</li>
                    <li><input type="checkbox" name="Obama-2012" id="Obama-2012" class="series-toggle">2012</li>
                </ul>
            </div>
        
        </div>
		<span id="billions-label" class="explain">In billions</span>
        <div id="chart-container">
			<span id="loading">Loading...</span>
        </div>
        <div class="clear"></div>
	</div>
</div>
{% endblock %}


{%block js %}
<script src="{% media_url %}/js/highstock.src.js"></script>
<script type="text/javascript">
	var balances = [
		[Date.UTC(1995, 0, 1), -163.952],
		[Date.UTC(1996, 0, 1), -107.431],
		[Date.UTC(1997, 0, 1), -21.884],
		[Date.UTC(1998, 0, 1), 69.270],
		[Date.UTC(1999, 0, 1), 125.610],
		[Date.UTC(2000, 0, 1), 236.241],
		[Date.UTC(2001, 0, 1), 128.236],
		[Date.UTC(2002, 0, 1), -157.758],
		[Date.UTC(2003, 0, 1), -377.585],
		[Date.UTC(2004, 0, 1), -412.727],
		[Date.UTC(2005, 0, 1), -318.346],
		[Date.UTC(2006, 0, 1), -248.181],
		[Date.UTC(2007, 0, 1), -160.701],
		[Date.UTC(2008, 0, 1), -458.555],
		[Date.UTC(2009, 0, 1), -1412.686],
		[Date.UTC(2010, 0, 1), -1293.489]
	];

	var events = {
		'1995': [[Date.UTC(1995, 10, 14), 'U.S. Government shuts down from Nov. 14-19 and again from Dec. 16 to Jan. 6, 1996.']],
		'1996': [[Date.UTC(1996, 7, 1), 'Welfare reform bill enacted in August, enforcing stricter requirements for welfare recipients.']],
		'2000': [[Date.UTC(2000, 2, 10), 'After peaking on March 10, the NASDAQ Composite index — largely made up of Internet start-ups — began a steep decline, known as the bursting of the dot com bubble.']],
		'2001': [[Date.UTC(2001, 8, 11), 'The first of the two Bush tax cuts goes into effect in June. Terrorists attack the World Trade Center and the Pentagon on Sept. 11. In November, the U.S. topples the Afghanistan Taliban. Enron files for bankruptcy.']],
		'2002': [[Date.UTC(2002, 6, 30), 'The Sarbanes-Oxley act was passed in order to limit accounting scandals such as Enron.']],
		'2003': [[Date.UTC(2003, 2, 19), 'U.S. invades Iraq in March.'],
				 [Date.UTC(2003, 4, 1), 'Second Bush tax cuts go into effect in May.']],
		'2004': [[Date.UTC(2004, 0, 1), 'Congress extends the first Bush tax cuts, which were due to expire in 2005.']],
		'2005': [[Date.UTC(2005, 7, 28), 'Hurricane Katrina strikes the Gulf Coast in August.']],
		'2008': [[Date.UTC(2008, 0, 1), 'In order to stem a burgeoning financial crisis, the Federal Reserve assembles a $200 billion loan program in March to let some banks borrow Treasury securities at discounted rates with mortgage-backed securities as collateral. The Federal Reserve then loans $30 billion to JPMorgan Chase so it can take over Bear Stearns, which is close to collapse. In December, President Bush announces plan to loan GM and Chrysler $17.4 billion to keep them from going insolvent.']],
		'2009': [[Date.UTC(2009, 1, 1), 'In February, President Obama signs the $787 billion stimulus package. The president says he expects the package to create 3.5 million jobs over the next two years. Both Chrysler and GM later file for bankruptcy protection. The percentage of Americans living below the poverty line reaches 14.3, the highest figure in 15 years.']],
		'2010': [[Date.UTC(2010, 2, 1), 'In March, the health care reform bill becomes law.']],
		'2011': [[Date.UTC(2011, 7, 3), 'In an agreement to reduce the deficit, President Obama and the Congress agree to form a joint congressional committee -- known as the super committee -- to make recommendations on cutting $1.5 trillion from the budget over 10 years.']]
	};


	var budgets = {
		'Clinton': {
			'1996': [
				[Date.UTC(1996, 0, 1), -196.671], 
				[Date.UTC(1997, 0, 1), -213.091], 
				[Date.UTC(1998, 0, 1), -196.376], 
				[Date.UTC(1999, 0, 1), -197.446], 
				[Date.UTC(2000, 0, 1), -194.426]
			],
			'1997': [
				[Date.UTC(1997, 0, 1), -140.091],
				[Date.UTC(1998, 0, 1), -97.952],
				[Date.UTC(1999, 0, 1), -64.403],
				[Date.UTC(2000, 0, 1), -27.549],
				[Date.UTC(2001, 0, 1), 8.265],
				[Date.UTC(2002, 0, 1), 43.902]
			],
			'1998': [
				[Date.UTC(1998, 0, 1), -120.633],
				[Date.UTC(1999, 0, 1), -117.380],
				[Date.UTC(2000, 0, 1), -87.123],
				[Date.UTC(2001, 0, 1), -36.141],
				[Date.UTC(2002, 0, 1), 16.969]
			],
			'1999': [
				[Date.UTC(1999, 0, 1), 9.519],
				[Date.UTC(2000, 0, 1), 8.530],
				[Date.UTC(2001, 0, 1), 28.190],
				[Date.UTC(2002, 0, 1), 89.745],
				[Date.UTC(2003, 0, 1), 82.783],
				[Date.UTC(2004, 0, 1), 111.500],
				[Date.UTC(2005, 0, 1), 139.000],
				[Date.UTC(2006, 0, 1), 166.800],
				[Date.UTC(2007, 0, 1), 219.000],
				[Date.UTC(2008, 0, 1), 261.300]
			],
			'2000': [
				[Date.UTC(2000, 0, 1), 117.305],
				[Date.UTC(2001, 0, 1), 134.100],
				[Date.UTC(2002, 0, 1), 186.745],
				[Date.UTC(2003, 0, 1), 182.042],
				[Date.UTC(2004, 0, 1), 207.623],
				[Date.UTC(2005, 0, 1), 231.000],
				[Date.UTC(2006, 0, 1), 283.000],
				[Date.UTC(2007, 0, 1), 320.000],
				[Date.UTC(2008, 0, 1), 354.000],
				[Date.UTC(2009, 0, 1), 393.000]
			],
			'2001': [
				[Date.UTC(2001, 0, 1), 183.998],
				[Date.UTC(2002, 0, 1), 185.903],
				[Date.UTC(2003, 0, 1), 184.636],
				[Date.UTC(2004, 0, 1), 194.960],
				[Date.UTC(2005, 0, 1), 215.445],
				[Date.UTC(2006, 0, 1), 256.000],
				[Date.UTC(2007, 0, 1), 292.000],
				[Date.UTC(2008, 0, 1), 314.000],
				[Date.UTC(2009, 0, 1), 329.000],
				[Date.UTC(2010, 0, 1), 363.000]
			]
		},
		'Bush': {
			'2002': [
				[Date.UTC(2002, 0, 1), 231.170],
				[Date.UTC(2003, 0, 1), 242.014],
				[Date.UTC(2004, 0, 1), 262.098],
				[Date.UTC(2005, 0, 1), 269.038],
				[Date.UTC(2006, 0, 1), 304.809],
				[Date.UTC(2007, 0, 1), 34.000],
				[Date.UTC(2008, 0, 1), 373.000],
				[Date.UTC(2009, 0, 1), 420.000],
				[Date.UTC(2010, 0, 1), 465.000],
				[Date.UTC(2011, 0, 1), 526.000]
			],
			'2003': [
				[Date.UTC(2003, 0, 1), -80.170],
				[Date.UTC(2004, 0, 1), -13.741],
				[Date.UTC(2005, 0, 1), 61.139],
				[Date.UTC(2006, 0, 1), 86.196],
				[Date.UTC(2007, 0, 1), 103.970]
			],
			'2004': [
				[Date.UTC(2004, 0, 1), -307.400],
				[Date.UTC(2005, 0, 1), -208.211],
				[Date.UTC(2006, 0, 1), -200.504],
				[Date.UTC(2007, 0, 1), -178.149],
				[Date.UTC(2008, 0, 1), -189.594]
			],
			'2005': [
				[Date.UTC(2005, 0, 1), -363.570],
				[Date.UTC(2006, 0, 1), -267.632],
				[Date.UTC(2007, 0, 1), -241.272],
				[Date.UTC(2008, 0, 1), -238.969],
				[Date.UTC(2009, 0, 1), -237.076]
			],
			'2006': [
				[Date.UTC(2006, 0, 1), -390.100],
				[Date.UTC(2007, 0, 1), -312.100],
				[Date.UTC(2008, 0, 1), -250.800],
				[Date.UTC(2009, 0, 1), -232.900],
				[Date.UTC(2010, 0, 1), -207.300]
			],
			'2007': [
				[Date.UTC(2007, 0, 1), -354.245],
				[Date.UTC(2008, 0, 1), -223.334],
				[Date.UTC(2009, 0, 1), -207.553],
				[Date.UTC(2010, 0, 1), -182.708],
				[Date.UTC(2011, 0, 1), -204.908]
			],
			'2008': [
				[Date.UTC(2008, 0, 1), -239.387],
				[Date.UTC(2009, 0, 1), -187.166],
				[Date.UTC(2010, 0, 1), -94.361],
				[Date.UTC(2011, 0, 1), -53.774],
				[Date.UTC(2012, 0, 1), 61.018]
			],
			'2009': [
				[Date.UTC(2009, 0, 1), -407.408],
				[Date.UTC(2010, 0, 1), -159.992],
				[Date.UTC(2011, 0, 1), -94.810],
				[Date.UTC(2012, 0, 1), 48.050],
				[Date.UTC(2013, 0, 1), 29.349]
			]
		},
		'Obama': {
			'2010': [
				[Date.UTC(2010, 0, 1), -1258.431],
				[Date.UTC(2011, 0, 1), -929.416],
				[Date.UTC(2012, 0, 1), -557.419],
				[Date.UTC(2013, 0, 1), -512.322],
				[Date.UTC(2014, 0, 1), -535.896],
				[Date.UTC(2015, 0, 1), -583.000],
				[Date.UTC(2016, 0, 1), -637.000],
				[Date.UTC(2017, 0, 1), -636.000],
				[Date.UTC(2018, 0, 1), -634.000],
				[Date.UTC(2019, 0, 1), -712.000]
			],
			'2011': [
				[Date.UTC(2011, 0, 1), -1266.680],
				[Date.UTC(2012, 0, 1), -828.452],
				[Date.UTC(2013, 0, 1), -727.328],
				[Date.UTC(2014, 0, 1), -705.779],
				[Date.UTC(2015, 0, 1), -751.852],
				[Date.UTC(2016, 0, 1), -778.000],
				[Date.UTC(2017, 0, 1), -785.000],
				[Date.UTC(2018, 0, 1), -785.000],
				[Date.UTC(2019, 0, 1), -908.000],
				[Date.UTC(2020, 0, 1), -1003.000]
			],
			'2012': [
				[Date.UTC(2012, 0, 1), -1101.237],
				[Date.UTC(2013, 0, 1), -767.531],
				[Date.UTC(2014, 0, 1), -644.553],
				[Date.UTC(2015, 0, 1), -606.730],
				[Date.UTC(2016, 0, 1), -648.703],
				[Date.UTC(2017, 0, 1), -627.000],
				[Date.UTC(2018, 0, 1), -619.000],
				[Date.UTC(2019, 0, 1), -681.000],
				[Date.UTC(2020, 0, 1), -735.000],
				[Date.UTC(2021, 0, 1), -774.000]
			]
		}
	};
</script>
<script type="text/javascript">
$(function(){
	// JAVASCRIPT 1.6 COMPATIBILITY PATCH FROM MDN
	if (!Array.prototype.filter) {  
		Array.prototype.filter = function(fun /*, thisp */)  
		{  
			"use strict";  

			if (this === void 0 || this === null)  
				throw new TypeError();  

				var t = Object(this);  
				var len = t.length >>> 0;  
				if (typeof fun !== "function")  
					throw new TypeError();  

				var res = [];  
				var thisp = arguments[1];  
				for (var i = 0; i < len; i++)  
				{  
					if (i in t)  
					{  
						var val = t[i]; // in case fun mutates this  
						if (fun.call(thisp, val, i, t))  
							res.push(val);  
					}  
				}  

			return res;  
		};  
	}

	// Production steps of ECMA-262, Edition 5, 15.4.4.19
	// Reference: http://es5.github.com/#x15.4.4.19
	if (!Array.prototype.map) {
		Array.prototype.map = function(callback, thisArg) {

			var T, A, k;

			if (this == null) {
				throw new TypeError(" this is null or not defined");
			}

			// 1. Let O be the result of calling ToObject passing the |this| value as the argument.
			var O = Object(this);

			// 2. Let lenValue be the result of calling the Get internal method 
			//    of O with the argument "length".
			// 3. Let len be ToUint32(lenValue).
			var len = O.length >>> 0;

			// 4. If IsCallable(callback) is false, throw a TypeError exception.
			// See: http://es5.github.com/#x9.11
			if ({}.toString.call(callback) != "[object Function]") {
				throw new TypeError(callback + " is not a function");
			}

			// 5. If thisArg was supplied, let T be thisArg; else let T be undefined.
			if (thisArg) {
				T = thisArg;
			}

			// 6. Let A be a new array created as if by the expression new Array(len) where Array is
			// the standard built-in constructor with that name and len is the value of len.
			A = new Array(len);

			// 7. Let k be 0
			k = 0;

			// 8. Repeat, while k < len
			while(k < len) {

				var kValue, mappedValue;

				// a. Let Pk be ToString(k).
				//   This is implicit for LHS operands of the in operator
				// b. Let kPresent be the result of calling the HasProperty internal 
				//    method of O with argument Pk.
				//   This step can be combined with c
				// c. If kPresent is true, then
				if (k in O) {

					// i. Let kValue be the result of calling the Get internal method of O with argument Pk.
					kValue = O[ k ];

					// ii. Let mappedValue be the result of calling the Call internal method of callback
					// with T as the this value and argument list containing kValue, k, and O.
					mappedValue = callback.call(T, kValue, k, O);

					// iii. Call the DefineOwnProperty internal method of A with arguments
					// Pk, Property Descriptor {Value: mappedValue, Writable: true, 
					// Enumerable: true, Configurable: true}, and false.

					// In browsers that support Object.defineProperty, use the following:
					// Object.defineProperty(A, Pk, { value: mappedValue, writable: true, 
					// enumerable: true, configurable: true });

					// For best browser support, use the following:
					A[ k ] = mappedValue;
				}
				// d. Increase k by 1.
				k++;
			}

			// 9. return A
			return A;
		};      
	}

	function wordwrap( str, width, brk, cut ) {

		brk = brk || '\n';
		width = width || 75;
		cut = cut || false;

		if (!str) { return str; }

		var regex = '.{1,' +width+ '}(\\s|$)' + (cut ? '|.{' +width+ '}|.+$' : '|\\S+?(\\s|$)');

		return str.match( RegExp(regex, 'g') ).join( brk );

	}

	function formatNumber (n, p) {
		if (n == null) {
			return '';
		} else {
			var s = n.toFixed(p);
			var re = /(\d+)(\d{3})(,|(.\d{p})?$)/;
			while (s.match(re) != null) {
				s = s.replace(re, '$1,$2$3');
			}
			return s;
		}
	}

	function surplusOrDeficit (n) {
		return (n >= 0) ? 'Surplus' : 'Deficit';
	}

	if (!Date.prototype.getMonthName) {
		Date.prototype.getMonthName = function() {
			var names = ['January', 'February', 'March', 'April',
						 'May', 'June', 'July', 'August', 'September',
						 'October', 'November', 'December'],
				month = this.getMonth(),
				name = names[month];
			return name;
		};
	}

	function formatEvent (e) {
		var event_date = new Date(e[0]),
			event_month = event_date.getMonthName().substr(0, 3),
			year = event_date.getFullYear(),
			event_text = e[1];
		return '<b>' + event_month + ':</b>' + wordwrap(event_text, 85, '<br>');
	}

	function formatEventGroup (year, group) {
		var event_labels = group.map(formatEvent),
			group_label = '<b>' + year + '</b><br>' + event_labels.join("<br>");
		return group_label;
	}

	// CHART CODE
	function formatEstimateLabel () {
		if (this.series.name == 'Event Flags') {
			return this.point.text;
		} else {
			if (this.series.name == 'Actual Balances') {
				var balance_date = new Date(this.x),
					balance_year = balance_date.getUTCFullYear();
			        lines = [
					'<b>' + balance_year + ' Actual ' + surplusOrDeficit(this.y) + ':</b>',
					'$' + formatNumber(Math.abs(this.y)) + ' billion'
					];
				return lines.join('<br>');
			} else {
				var parts = this.series.name.split(' '),
					budget_year = parts[1],
					president = parts[0],
					estimate_date = new Date(this.x),
					estimate_year = estimate_date.getUTCFullYear();
				var lines = [
					'<b>' + estimate_year + ' Estimated ' + surplusOrDeficit(this.y) + ': $' + formatNumber(Math.abs(this.y)) + ' billion</b>',
					budget_year + ' Budget Forecast (' + president + ')'
				];

				return lines.join('<br>');
			}
		}
	};

	$(document).ready(function(){
	var seriesOptions = [],
		yAxisOptions = [],
		colors = [],
		seriesCounter = 1;

	seriesOptions[0] = {
		name: 'Actual Balances',
		data: balances,
		yAxis: 0,
		dashStyle: 'solid',
		lineWidth: 1,
		color: '#303030',
		states: {
			hover: {
				lineWidth: 2
			}
		}
	};

	for (var president in budgets) {
		for (var year in budgets[president]) {
			var budget = budgets[president][year];
			seriesOptions[seriesCounter] = {
				name: president + ' ' + year,
				visible: false,
				data: budget,
				yAxis: 0,
				color: '#3a7c7b',
				states: {
				    hover: {
					    color: '#e8c72a',
						lineWidth: 2
					}
				}
			};

			seriesCounter += 1;
		}
	}

	event_series = [];
	for (var year in events) {
		event_series.push({
			x: Date.UTC(year, 3, 1),
			y: -1870,
			title: ' ',
			text: formatEventGroup(year, events[year])
		});
	}
	seriesOptions[seriesCounter] = {
		type: 'scatter',
		marker: {
			enabled: true,
			symbol: 'url({% media_url %}/img/budgetforecasts/icons_events_white.png)',
			animation: false
		},
		states: { 
			hover: { enabled: false }, 
			'': { enabled: false } 
		},
		dataLabels: {
			enabled: false,
			y: -10,
		},
		y: -10,
		shadow: false,
		id: 'event-flags',
		name: 'Event Flags',
		data: event_series
	};
	seriesCounter += 1;

	var chart_parent = document.getElementById("chart-container").parentNode,
		chart_width = $(chart_parent).width() - 154;
	Chart = new Highcharts.StockChart({
				chart: {
					animation: false,
					backgroundColor: 'none',
					plotBackgroundImage: '{% media_url %}/img/budgetforecasts/bg_vis4.png',
					renderTo: 'chart-container',
					width: chart_width,
					alignTicks: false
				},
				credits: {
					enabled: false
				},
				scrollbar: {
					enabled: false
				},
				navigator: {
					enabled: false
				},
				rangeSelector: {
					enabled: false
				},
				xAxis: {
					type: 'datetime',
					tickLength: 10,
					labels: {
						style: { 
							color: '#939290',
							fontWeight: 'bolder',
							fontStyle: 'italic',
							letterSpacing: '109%'
						},
						y: 26
					},
					min: Date.UTC(1994, 0, 1),
					max: Date.UTC(2020, 0, 1)
				},
				plotOptions: {
					line: {
						dashStyle: 'shortdash',
						dataLabels: {
							color: '#80807e'
						},
						lineWidth: 1,
						states: {
							hover: {
								enabled: true,
								color: '#00ff00',
								lineWidth: 1
							}
						}
					}
				},
				tooltip: {
					formatter: formatEstimateLabel,
					animation: false,
					crosshairs: true,
					shared: false,
					shadow: false,
					borderRadius: 0,
					borderWidth: 2,
					borderColor: '#ddded9',
					backgroundColor: '#f7f7f5',
					style: {
						color: '#80807e'
					}
				},
				yAxis: [ { alternateGridColor: null,
						   gridLineWidth: 0,
						   lineWidth: 0,
						   max: 1000,
						   min: -2000,
						   tickPixelInterval: 57,
						   opposite: false,
						   showFirstLabel: false,
						   labels: { 
							   formatter: function(){ return '$' + formatNumber(this.value, 0); },
							   style: { 
								   color: '#939290',
								   fontWeight: 'bolder',
								   fontStyle: 'italic',
								   letterSpacing: '109%'
							   },
							   x: -10,
							   align: 'right'
						   }
						 }
				],
				series: seriesOptions,
				colors: colors,
				labels: []
			});
		$("#billions-label").show();
		$("#loading").hide();

		$("input.series-toggle").click(function(event){
			var series_name = $(event.currentTarget).attr("name")
													.toLowerCase()
													.replace('-', ' '),
				matcher = function(s){ return s.name.toLowerCase() == series_name; },
				series = Chart.series.filter(matcher);
			if (series.length == 0) {
				throw ("Series not found: " + series_name);
			} else if ($(event.currentTarget).attr("checked") == true) {
				series[0].show();
				Chart.redraw();
			} else {
				series[0].hide();
				Chart.redraw();
			}
		});
	});

});
</script>
{% endblock %}
