<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{%load media%}
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sunlight Foundation Reporting Group</title>
    {%css "css/main.css"%}
    {%js "js/jquery.js"%}

    <!--script type="text/javascript" src="/media/js/labs.js"></script-->
    <script type="text/javascript" src="http://use.typekit.com/foz3kwy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!--[if IE 6]>    {%css "css/buggy.css"%}<![endif]-->
  <!--[if IE 7]>    {%css "css/buggy7.css"%}<![endif]-->

  </head>

  <body class="{%if bodyclass%}{{bodyclass}}{%else%}fullWidth{%endif%}">  
    <div id="pageMain">
      <div id="header">
        <div id="rssIcon">
          <a href="/feeds/latest/">Subscribe to our feed</a>
        </div>
        <div id="logo">
          <h1>
            <a href="/"><small>Sunlight Foundation</small>
            <big>Reporting Group</big></a>
          </h1>
        </div>
        <span id="todayDate">Friday, November 13, 2009</span>
        <div id="nav">
          <ul>
            <!--li class="firstLi" id="nav_blog"><a href="/realtime">Blog</a></li-->
            <li class="firstLi" id="nav_blog"><a href="/stories">Reports</a></li>
            <!--li id="nav_features"><a href="#">Features</a></li-->
          </ul>
        </div>
      </div>
      <div id="mainContent">
        <div id="columns">
          {%block content%}{%endblock%}
          
          {% include 'footer.html' %}
