<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media %}
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link rel="shortcut icon" href="http://assets.sunlightfoundation.com/favicon.ico" type="image/x-icon">
<link rel="alternate" type="application/rss+xml" title="Sunlight Foundation Transparency Ecosystem" href="http://feeds.feedburner.com/SunlightFoundationReportingGroup" />
 <link rel="icon" href="http://assets.sunlightfoundation.com/favicon.ico" type="image/x-icon">
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
     <title>{% block title %}{%if post%}{{post}} - {%endif%}Sunlight Foundation Reporting Group{% endblock %}</title>
    
    {%css "css/main.css"%}
 {#   <link rel="stylesheet" href="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/css/main.css" type="text/css" media="screen, projection" /> #}

  <!--[if IE 6]>{%css "css/buggy.css"%}<![endif]-->
  <!--[if IE 7]>{%css "css/buggy7.css"%}<![endif]-->
<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  </head>
  <body class="{% block body %}{% endblock %}">  
    <div id="pageMain">
      <div id="header">
        <div id="rssIcon">
          <a href="http://feeds.feedburner.com/SunlightFoundationReportingGroup">Subscribe to our feed</a>
        </div>
        <div id="logo">
          <h1>
            <a href="/"><small>Sunlight Foundation</small>
            <big>Reporting Group</big></a>
          </h1>
        </div>
        <span id="todayDate">{% now "l, F j, Y" %}</span>
        <div id="nav">
          <ul>
            <li class="firstLi" id="nav_blog"><a href="/blog">Blog</a></li>
            <li id="nav_features"><a href="/features">Featured Stories</a></li>
            <li id="nav_features"><a href="/resources">Resources</a></li>
            <li id="nav_features"><a href="/about">About</a></li>
          </ul>
        </div>
      </div>
      <div id="mainContent">
      {% block main_content %}
        <div id="columns">   
            {% block feature %}

             {% endblock %}
          <div id="ltColumn">
            {% block content %}{% endblock content %}
          </div>
          <div id="rtColumn">
            {% block sidebar %}
              
            {% endblock sidebar %}
          </div>  
          <div class="clear"></div> 
        </div> 
      {% endblock main_content %}
      </div>
    </div>
    {% load cache %}

    {% cache 1800 footer %}
    <div id="footer">
      <div id="fullWidth">
        <div id="otherPosts">
          <div class="otherProperty">
            <a href="/SLRG"><img class="reportinggroupLogo" alt="Reporting Group Logo" src="{% media_url %}/img/logo_reporting_grey.png" data-grey="{% media_url %}/img/logo_reporting_grey.png" data-color="{% media_url %}/img/logo_reporting_color.png"/></a>
            <span>Sunlight Foundation Reporting Group</span>
            <ol>
              {% for entry in SLRG %}
              <li><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></li>
              {%endfor%}
            </ol>  
          </div> 
          <div class="otherProperty">
            <a href="/FLIT"><img class="flitLogo" alt="Foreign Lobbying Influence Tracker Logo" src="{% media_url %}/img/logo_flit_grey.png" data-grey="{% media_url %}/img/logo_flit_grey.png" data-color="{% media_url %}/img/logo_flit_color.png"/></a>
            <span>Foreign Lobbying Influence Tracker</span>
            <ol>
              {% for entry in FLIT %}
              <li><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></li>
              {%endfor%}
            </ol>  
          </div> 
          <div class="otherProperty">
            <a href="/SS"><img class="subsityscopeLogo" alt="Subsidy Scope Logo" src="{% media_url %}/img/logo_subsity_grey.png" data-grey="{% media_url %}/img/logo_subsity_grey.png" data-color="{% media_url %}/img/logo_subsity_color.png"/></a>
            <span>SubsidyScope</span>
            <ol>
{% for entry in SS %}
              <li><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></li>
              {%endfor%}              
            </ol>  
          </div>
          <div class="otherProperty">
            <a href="http://blog.politicalpartytime.org"><img class="partytimeLogo" alt="Party Time Logo" src="{% media_url %}/img/logo_partytime_grey.png" data-grey="{% media_url %}/img/logo_partytime_grey.png" data-color="{% media_url %}/img/logo_partytime_color.png"/></a>
            <span>Political Party Time</span>
            <ol>
{% for entry in PT %}
              <li><a href="{{entry.link}}">{{ entry.title|safe }}</a></li>
              {%endfor%}
            </ol>  
          </div>
          <div class="clear"></div> 
        </div>
      </div>
    </div>
    {% endcache %}

    <div class="clear"></div>
    <div id="copyrightWrapper">
      <div id="copyright">
        <div id="copyrightContent">
          <a id="sunlightFoundation" href="http://www.sunlightfoundation.com/">Sunlight Foundation</a>
          <p>The Site may contain links to Internet sites that are not operated by Sunlight Foundation. These links are provided as a service and do not imply any endorsement of the activities or content of these sites, nor any association with their operators. Sunlight Foundation does not control these Internet sites and is not responsible for their content, security, or privacy practices. We urge you to review the privacy policy posted on web sites you visit before using the site or providing personal information.</p>
        </div>
      </div> 
    </div>
    {#{%js "js/jquery.js"%}#}
    {%js "js/reporting.js"%}
    {%js "js/script.js"%}
    <script src="http://services.sunlightlabs.com/brandingbar/hat_js/sunlightlabs/" type="text/javascript"></script>
    <script type="text/javascript" src="http://use.typekit.com/foz3kwy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1265484-45");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript">
var _sf_async_config={uid:980,domain:"reporting.sunlightfoundation.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
       "static.chartbeat.com/js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
  </body>
  </html>            


