<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sunlight Foundation Reporting Group</title>
    <link rel="stylesheet" href="/media/css/main.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>

    <script type="text/javascript" src="js/labs.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/foz3kwy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!--[if IE 6]><link rel="stylesheet" href="buggy.css" type="text/css" media="screen" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="buggy7.css" type="text/css" media="screen" /><![endif]-->

  </head>

  <body class="blog">
    <div id="pageMain">
      <div id="header">
        <div id="logo">
          <h1>
            <a href="/"><small>Sunlight Foundation</small>
            <big>Reporting Group</big></a>
          </h1>

        </div>
        <span id="todayDate">Friday, November 13, 2009</span>
        <div id="nav">
          <ul>
            <li class="firstLi" id="nav_blog"><a class="active" href="/realtime">Blog</a></li>
            <li id="nav_reports"><a href="/stories">Reports</a></li>
            <li id="nav_features"><a href="#">Features</a></li>

          </ul>
        </div>
      </div>
      <div id="mainContent">
{%block content%}{%endblock%}


{% include 'footer.html' %}
