<!DOCTYPE html>
{% load media %}
<html> 
<head><title id="maintitle">Sunlight Foundation Reporting Group</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <link rel="shortcut icon" href="http://assets.sunlightfoundation.com/favicon.ico" type="image/x-icon"> 

	<link href="css/document-cloud.css" media="all" rel="stylesheet" type="text/css"> 

   <!--   
     Customized document viewer for use with DocumentCloud, at http://documentcloud.org.
     Built on a version from the Chicago Tribune team, http://blog.apps.chicagotribune.com/
     Made for use at WNYC, http://wnyc.org
     This version is also kept at: https://github.com/jfkeefe/Custom-Viewer-for-DocumentCloud/blob/master/dc.html 
     Use at your own risk, improve as you see fit, and let me know if you do!
     
     To use, see: http://johnkeefe.net/a-customized-viewer-for-documentcloud 
     
     John Keefe
     john at johnkeefe.net
     http://johnkeefe.net
   -->
	 
	 <style type="text/css">
body { color: #020000; background: url({% media_url %}/img/bg_3.png) top left repeat; font-size: 82%; line-height: 23px; font-family: Georgia, "Times New Roman", Times, serif; margin: 0; padding: 0; overflow: hidden; }
#titletext { color: #414042;  font-size: 120%; margin-bottom: 5px; line-height: 39px; font-weight: normal; }
a:link { outline: none; color: #457b80; }
a:visited { outline: none; color: #457b80; }
a:hover { outline: none; color: #124a50; }
a:active { outline: none; color: #457b80; }
#header {padding:5px 12px 12px;}
#banner-logo {float:right; border:0; margin-top:3px; margin-bottom:3px;}
#document { clear: both; width: 100%; }
#document-source {margin:1px 0 3px; font-size:.8em;}
   </style>
   
	<script type="text/javascript" src="http://s3.documentcloud.org/viewer/loader.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>  
    <script type="text/javascript" src="{% media_url %}/js/jquery.url.min.js"></script>  
    <script type="text/javascript" charset="utf-8"> 

  // function called on load
	function init () {
	
	// get the document id from the url, using jquery.url.min.js
	// so from http://s3.amazonaws.com/datadesk/dc.html?doc=29933-rahm-ruling
	// we get '29933-rahm-ruling'
	var documentcloud_id = $.url.param("id");
	
	// build the documentcloud url
	var documentcloud_url = "http://www.documentcloud.org/documents/" + documentcloud_id + ".js";
	  
  // NOTE! The page doesn't make sure the document id is valid or that the document is
  // public. It probably should. If you have code to do that, let me know! 
	  
	// assign the document loader to varible 'viewer'
	var viewer = DV.load(documentcloud_url, {
        container : 'div#document',
        embedded : true,
      
        // after the document loads ...
        afterLoad : function(viewer) {
        
              // ... get its title, and put it on the page and in the title bar
              var document_title = viewer.api.getTitle();
       				$('#titletext').text(document_title);
       				$('#maintitle').text(document_title);
     				
       				// ... get its source, and put it in if it exists
       				var document_source = viewer.api.getSource();
       				var document_source_html = "Source: " + document_source

       				if(document_source != null)
       				  {
       				  $('#document-source').html(document_source_html);
       				  }
     				
       				// ... show the link to the related article, if it exists
       				var related_article_url = viewer.api.getRelatedArticle();
       				var related_html = "<a id='back-link' rel='external' href='" + related_article_url + "'>&laquo; Related story</a>";
     				
       				if(related_article_url != null)
       				  {
       				  $('#article-link').html(related_html);
       				  }
     				  
     				}
      });
	
	}
		
</script>	
	
</head> 
<body onload="init();"> 

<div id="header">  
    <a rel="external" href="http://reporting.sunlightfoundation.com"><img id="banner-logo" src="{% media_url %}/img/logo_reporting_color.png" alt="Sunlight Foundation Reporting Group"></a> 
    <p id="article-link"></p>
    <h1 id="title"><div id="titletext">&nbsp;</div></h1> 
    <p id="document-source">&nbsp;</p> 
</div>

<div id="document"></div> 
  
<script src="http://services.sunlightlabs.com/brandingbar/hat_js/sunlightlabs/" type="text/javascript"></script> 

    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1265484-45");
pageTracker._trackPageview();
} catch(err) {}</script>
<script type="text/javascript">
var _sf_async_config={uid:980,domain:"reporting.sunlightfoundation.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
       "static.chartbeat.com/js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>

</body></html>
