{%extends "posts_lede.html" %}


{%block sidebar%}
<h3>Foreign Lobbying Influence Tracker</h3>
<img src="http://media.sunlightprojects.org/farapro/images/farapro_stamp_small_trans.png" style="float:left"/>
<p>See how lobbyists representing foreign governments and government-controlled entities tried to influence federal policy in this database that lets you search the detailed disclosures required under the Foreign Agent Registration Act. The database, which we’re updating, currently covers filings made in 2008.</p>

<p>The database is available online at <a href="http://www.foreignlobbying.org">ForeignLobbying.org</a>. Here's where you'll find our original journalism--tales of international intrigue based on the oft-overlooked filings.</p>
{%include 'feedbar2.html'%}
{%endblock%}
