{%extends "posts_lede.html" %}


{%block sitespecific%}
<h3>Foreign Lobbying Influence Tracker</h3>
<img src="http://media.sunlightprojects.org/farapro/images/farapro_stamp_small_trans.png" style="float:left"/>
<p>Filings under the Foreign Agents Registration Act provide far more detail on how lobbyists interact with government officials than those required by the Lobbying Disclosure Act; they contain information on efforts by foreign governments and organizations to influence U.S. policy on trade, taxation, foreign aid, appropriations, human rights and national security.</p>

<p>Foreign Lobbyist Influence Tracker, a joint project of ProPublica and the Sunlight Foundation, digitizes information that representatives of foreign governments, political parties and government-controlled entities must disclose to the U.S. Justice Department when they seek to influence U.S. policy.</p>

<p>The database is available online at <a href="http://www.foreignlobbying.org">ForeignLobbying.org</a>. Here's where you'll find our original journalism--tales of international intrigue based on the oft-overlooked filings.</p>

{%endblock%}
