
        <div class="clear"></div></div>
        </div>


 <div id="footer"></div>   


        <div id="fullWidth">

          <div id="otherPosts">
            <div class="otherProperty">
              <h4><a href="/SLRG">Sunlight Foundation Reporting Group</a></h4>
              <ol>
{% for entry in SLRG %}
                <li><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></li>
{%endfor%}
              </ol>  
            </div> 
            <div class="otherProperty">

              <h4><a href="/FLIT">Foreign Lobbyist Influence Tracker</a></h4>
              <ol>
{% for entry in FLIT %}
                <li><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></li>
{%endfor%}              </ol>  
            </div> 
            <div class="otherProperty">

              <h4><a href="/SS">Subsidy Scope</a></h4>
              <ol>
{% for entry in SS %}
                <li><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></li>
{%endfor%}              </ol>  
            </div>
<div class="otherProperty">
              <h4><a href="http://blog.politicalpartytime.org">Political Party Time</a></h4>
              <ol>
{% for entry in PT %}
                <li><a href="{{entry.link}}">{{ entry.title|safe }}</a></li>
{%endfor%}
              </ol>  
            </div> 
       
          </div>
  
        </div> 
        <div class="clear"></div> 
      
     



<div id="copyrightWrapper">
      <div id="copyright">
        <div id="copyrightContent">
          <a id="sunlightFoundation" href="http://www.sunlightfoundation.com/">Sunlight Foundation</a>
          <p>The Site may contain links to Internet sites that are not operated by Sunlight Foundation. These links are provided as a service and do not imply any endorsement of the activities or content of these sites, nor any association with their operators. Sunlight Foundation does not control these Internet sites and is not responsible for their content, security, or privacy practices. We urge you to review the privacy policy posted on web sites you visit before using the site or providing personal information.</p>
        </div>
      </div> 
    </div>
    </div>
  </body>
</html>            
