{% extends "base.html" %}
{% load comments %}{% load lede %} {%load sidebar%}
{% load markup %}
{% load reporting_tags %}


{% block body %}home{% endblock %}

{% block content %}
  <div class="mainModule">
    <h3 class="linkedTitle"><a href="/blog">Real Time Investigations</a></h3>
    <ol class="moduleLists"> 
{%autoescape off%}
      {% for entry in blogs|dictsortreversed:"date_published"|slice:":11"  %}
      <li class="module">
        {%if entry.title%}
        <div class="post">
          <a class="title" href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a>
          <span class="postMeta">
            {{entry.shortbyline|safe}}
            <span class="postdate">{{entry.date_published|date:"M d, Y"}}</span>
            <span class="posttime">{{entry.date_published|date:"P"}}</span>
      {% if comment_count %}<span class="posttime"><a href="{% url blogdor_post entry.date_published.year entry.slug %}#comments">{{ comment_count}} comment{{comment_count|pluralize}}</a></span>{%endif%}
          </span>
          {{ entry|lede|safe }}
        </div>
        {%else%}
        <span class="tweet">
          {{ entry.text }}
          <span class="tweetDate">{{entry.date_published|date:"M d, Y P"}}</span>
        </span>
        {%endif%}
      </li>  
      {% endfor %}
    </ol>  
  </div>
{%endautoescape%}
  <div class="mainModule calendar lastItem">
    <h3>Dates we're watching</h3>
    <ol>{%get_calendar%}
      {%for event in events|slice:"2"%}
      <li class="{% cycle 'even' 'odd' %}">
        <div class="calendarDate">
          <span class="month">{{event.date|date:"M"}}</span>
          <span class="day">{{event.date|date:"d"}}</span>
        </div>  
        <span class="title">{{event.summary}}</span>
      </li>
      {%endfor%}              
    </ol>  
  </div>
{% endblock %}

{% block sidebar %}
  <div class="mainModule features">
    {% for entry in featured %}
    {% get_comment_count for entry as comment_count %}
    <div class="module">
      {% autoescape off %}
      <h2><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></h2>
      <span class="postMeta">
        {{entry.shortbyline}}
        <span class="postdate">{{entry.date_published|date:"M d, Y"}}</span>
        <span class="posttime">{{entry.date_published|date:"P"}}</span>
        {% if comment_count %}<span class="posttime"><a href="{% url blogdor_post entry.date_published.year entry.slug %}#comments">{{ comment_count}} comment{{comment_count|pluralize}}</a></span>{%endif%}
      </span>
      <!--img class="center" alt="" src="images/blogImg.jpg"/-->
      {{ entry|grafs:4|cleantags|markdown }}
      {% endautoescape %}
    </div>
    {%endfor%}             
  </div>
{% endblock %}
