{% extends "base.html" %}
{% load comments %}{% load lede %} {%load sidebar%}
{% load markup %}
{% load reporting_tags %}


{% block body %}home{% endblock %}

{% block content %}
  <div class="mainModule lastItem">
    <h3 class="linkedTitle"><a href="/blog">Real Time Investigations</a></h3>
    <ol class="moduleLists"> 
{%autoescape off%}
      {% for entry in blogs|dictsortreversed:"date_published"|slice:":11"  %}
      <li class="module">
        {%ifequal entry.feed.codename 'partytime'%}
        <div class="post">
 <a href="{{entry.link}}">{{ entry.title|safe }}</a>
          <span class="postMeta">
            By {{entry.author_name|capfirst}}
            <span class="postdate">{{entry.date_published|date:"M j, Y"}}</span>
            <span class="posttime">{{entry.date_published|date:"P"}}</span>     
          </span>
    		<p>
				{% if entry.summary %}
					{{ entry.summary }}
				{% else %}
					{{ entry.content|striptags }}
				{% endif %}
			</p>
        </div>
        {%else%}
        {%if entry.twit%}
        <span class="tweet">
          <p>{{ entry.text|twitter_link }}</p>
          <span class="tweetDate"><a href="http://www.twitter.com/{{entry.twit}}">{{entry.twit}}</a> {{entry.date_published|date:"M j, Y P"}}</span>
        </span>
        {%else%}

<div class="post">
          <a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a>
          <span class="postMeta">
            {{entry.shortbyline|safe}}
            <span class="postdate">{{entry.date_published|date:"M j, Y"}}</span>
            <span class="posttime">{{entry.date_published|date:"P"}}</span>
          </span>
          {{ entry|lede|safe }}
        </div>
        {%endif%}{%endifequal%}
      </li>  
      {% endfor %}
    </ol>  
<a class="readMoreRT" href="/blog/">there's more</a>
  </div>
{%endautoescape%}
{% endblock %}

{% block sidebar %}
  <div class="mainModule features">
    {% for entry in featured %}
    <div class="module">
      {% autoescape off %}
      <h2><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></h2>
      <span class="postMeta">
        {{entry.shortbyline}}
        <span class="postdate">{{entry.date_published|date:"M j, Y"}}</span>
        <span class="posttime">{{entry.date_published|date:"P"}}</span>
      </span>
		{% if entry.excerpt %}
			{{ entry.excerpt|safe }}
			<a class="readMoreFeature" href="{% url blogdor_post entry.date_published.year entry.slug %}">Read all about it</a>
		{% else %}
			{{ entry|grafs:3 }}
		{% endif %}
      {% endautoescape %}
    </div>
    {%endfor%}       
 
  </div>
<div class="mainModule calendar lastItem">      
  <h3>Dates we're watching</h3>
    <ol>{%get_calendar%}
      {%for event in events|slice:"2"%}
      <li class="{% cycle 'even' 'odd' %}">
        <div class="calendarDate">
          <span class="month">{{event.date|date:"M"}}</span>
          <span class="day">{{event.date|date:"d"}}</span>
        </div>  
        <span class="title">{{event.summary}}</span>
      </li>
      {%endfor%}              
    </ol>  
</div>

{% endblock %}
