{% extends "base.html" %}

{% block content %}

<div style="width: 400px; float: left; padding: 5px;">
{% autoescape off %}
<div style="border: solid black 1px;">
<strong><a href="/realtime">Real Time Investigations</a></strong>

		<ul id="stories" style="list-style-type: none">			
   			{% for entry in blogs %}
			<li>
    			<h4>{{ entry.title }}</h4>
				<p><i>{{entry.date}}</i> {{ entry.text }}</p>
			</li>	
    		{% endfor %}	
		</ul>		

	<p class="view_all"><a href="/realtime">More Blog Entries</a></p>	
</div>

<div style="border: solid black 1px;">
<strong><a href="/stories">Latest Reports</a></strong>
	
		<ul id="stories" style="list-style-type: none">			
   			{% for entry in stories %}
			<li>
    			<h4><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></h4>
				<p class="meta">{{ entry.byline }}</p>
				<p>{{ entry.lede }}</p>
			</li>	
    		{% endfor %}	
		</ul>		

	<p class="view_all"><a href="/stories">More Reports</a></p>	
</div>



</div>

<div>


		

<div valign="top">
<strong>Featured Stories</strong>
	
		<ul id="stories" style="list-style-type: none">			
   			{% for entry in featured %}
			<li>
    			<h4><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }} {%if comment_count%}({{comment_count}} comment{{comment|pluralize}}{%endif%}</a></h4>
				<p class="meta">{{ entry.byline }}</p>
				<p>{{ entry.content }}</p>
			</li>	
    		{% endfor %}	
		</ul>		
	
</div>

</div>



<div>
<div>	
<a href="/SLRG/">Sunlight Reporting Group</a>
		<ul id="stories" style="list-style-type: none">			
   			{% for entry in SLRG %}
			<li><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></h4></li>	
    		{% endfor %}	
		</ul>	
</div>	

<div>	
<a href="/FLIT/">Foreign Lobbyist Influence Tracker</a>
		<ul id="stories" style="list-style-type: none">			
   			{% for entry in FLIT %}
			<li><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></h4></li>	
    		{% endfor %}	
		</ul>	
</div>		

<div>
<a href="/SS/">SubsidyScope</a>
		<ul id="stories" style="list-style-type: none">			
   			{% for entry in SS %}
			<li><a href="{% url blogdor_post entry.date_published.year entry.slug %}">{{ entry.title|safe }}</a></h4></li>	
    		{% endfor %}	
		</ul>	
</div>	

<div>	
<a href="http://blog.politicalpartytime.org">Political PartyTime</a>
		<ul id="stories" style="list-style-type: none">			
   			{% for entry in PT %}
			<li><a href="{{entry.link}}">{{ entry.title|safe }}</a></h4></li>	
    		{% endfor %}	
		</ul>	
</div>
</div>



		

{%endautoescape%}

{% endblock %}



