{% if page_obj.has_other_pages %}
<div id="paginator">
  {% if page_obj.has_previous %} <a class="paginatorPrevious" href="?page={{ page_obj.previous_page_number }}">Previous</a>{% endif %}
  <div id="paginatorNumbers">
  {% for page in paginator.page_range %}
  {% ifequal page page_obj.number %} {{ page }}{% else %}<a href="?page={{ page }}">{{ page }}</a>{% endifequal %}
  {% endfor %}
  </div>
  {% if page_obj.has_next %} <a class="paginatorNext" href="?page={{ page_obj.next_page_number }}">Next</a>{% endif %}
</div>
{% endif %}
