{% extends "base.html" %}
{% load comments %}


{% block content %}


{%autoescape off%}
<ol>
	{% for post in page_obj.object_list %}
{% get_comment_count for post as comment_count %}
		<li>
<h2><a href="{% url blogdor_post post.date_published.year post.slug %}">{{ post.title }}</a></h2>
{{ post.byline }} {%if comment_count%}({{comment_count}} comment{{comment_count|pluralize}}){%endif%}<br/><br/>

{{ post.content }}

</li>
	{% endfor %}
</ol>
{%endautoescape%}

{% include 'paginator.html' %}


{%endblock%}
