{% extends "base.html" %}
{% load comments %}
{% load markup %}
{% load reporting_tags %}
{%load lede%}


{% block opengraphtags %}
    <meta property="og:site_name" content="Sunlight Foundation Reporting Group">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://reporting.sunlightfoundation.com{{ post.get_absolute_url }}">
    <meta property="og:locale" content="en_US">
 	<meta property="fb:admins" content="7812952">
    <meta property="og:title" content="{{post.title}}">
    <meta property="og:description" content="{% if post.excerpt %}{{ post.excerpt|striptags|safe }}{% else %}{{ post|body|striptags|truncatewords:30 }}{% endif %}">
    {% if post.fb_image_url %}<meta property="og:image" content="{{ post.fb_image_url }}">{% else %}<meta property="og:image" content="http://assets.sunlightfoundation.com/reporting/1.0/img/sunlightrg.png">{% endif %}
{% endblock %}

{% block metadescription %}{% if post.excerpt %}{{ post.excerpt|striptags|safe }}{% else %}{{ post|body|striptags|truncatewords:30 }}{% endif %}{% endblock %}


{% block headjs %}
<script type="text/javascript" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="http://assets.sunlightfoundation.com/reporting/ReportingTables/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>{% endblock %}




{% block body %}{% endblock %}



{% block content %}

  {% get_comment_list for post as comment_list %}

  {% autoescape off %}
    <div class="module posts">
        {% if not post.is_published %}
        <span style="font-weight: bold; color: red;">Note: This post is not yet published</span>
        {% endif %}
      <h2>{{post.title}}</h2>
      <span class="postMeta">
        {{post.shortbyline}}
        <span class="postdate">{{post.date_published|date:"M d Y"}}</span>
        <span class="posttime">{{post.date_published|date:"P"}}</span>
        {% if comment_list %}<span class="posttime"><a href="#comments">{{ comment_list|length}} comment{{comment_list|length|pluralize}}</a></span>{%endif%}
      </span>
      {{ post|body }}



    <!-- AddThis Button BEGIN -->
<div id="share-buttons"></div>
    <!-- AddThis Button END -->

    </div>
    <div class="module commentSection">
      <!--<h3>Comments</h3>-->
      {% if comment_list %}
        <ol id="comments">
          {% for comment in comment_list %}
            <li id="c{{ comment.pk }}">
              <span class="commentMetaAuthor">
              <a name="{{ comment.pk }}" href="#{{ comment.pk }}">#</a>
                {% if comment.user_url %}
                  <a href="{{ comment.user_url }}" rel="nofollow">{{ comment.user_name }}</a>
                {% else %}
                  {{ comment.user_name }}
                {% endif %}
              </span>
              <div class="entry-content"><p>{{ comment.comment}}</p></div>
              <div class="clear"></div>
            </li>
          {% endfor %}
        </ol>
      {% endif %}

      {% comment %}
      {% if post.days_old <= 30 %}
          {% get_comment_form for post as form %}
          <h3>Leave Us a Comment</h3>
          <form id="comment" method="post" action="{% comment_form_target %}">{% csrf_token %}
            {{form.content_type}}
            {{form.object_pk}}
            {{form.timestamp}}
            {{form.security_hash}}
            <input id="id_honeypot" name="honeypot" style="display:none">
            <ul>
              <li><label for="id_name">Name</label> <input id="id_name" class="full" type="text" name="name" maxlength="50" /></li>
              <li><label for="id_email">Email address</label> <input type="text" class="full" name="email" id="id_email" /></li>
              <li><label for="id_url">URL</label> <input type="text" name="url" class="full" id="id_url" /></li>
              <li><label for="id_comment">Comment</label> <textarea id="id_comment" class="textarea full" rows="5" cols="32" name="comment"></textarea></li>
              <li>
                <button class="submitBtn" type="submit">
                  <span>Submit</span>
                </button>
              </li>
            </ul>
          </form>
        {% else %}
            <em>Comments are closed.</em>
        {% endif %}
        {% endcomment %}
        
        
  </div>
  {%endautoescape%}
{%endblock%}

{# override older version of jquery--we've put it in the top of the page in headjs #}
{% block jquery %}
{% endblock %}

{%block sidebar%}
{% include "feedbar.html" %}
{%endblock%}
{% block js %}
{{ block.super }}

<script src="http://cdn.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
<script>
    $(document).ready(function() {
        var ua = new gigya.socialize.UserAction();
        /*ua.setLinkBack("http://sunlightfoundation.com/blog/2012/07/09/2day-in-opengov-792012/");
        ua.setTitle("2Day in #OpenGov 7/9/2012");
        ua.setDescription("NEWS ROUNDUP: Outside Spending: Forget super PACs: Anonymity now preferred by corporations: Corporations are increasingly donating money to &quot;social advocacy&quot; groups, as the anonymity offered by these organizations allows them to pursue a political goal without revealing so to their customers. (New York Times) Independent expenditures now preferred over issue ...");
        ua.addMediaItem({
            type: 'image',
            href: 'http://sunlightfoundation.com/blog/2012/07/09/2day-in-opengov-792012/',
            src: 'http://s3.amazonaws.com/sunlight-assets/site/4.0/images/opengraph-superhero.jpg'
        });
        */


        /*
         * parameter docs at:
         * http://developers.gigya.com/020_Client_API/020_Methods/socialize.showShareBarUI
         */
        var params = {
            containerID: 'share-buttons',
            layout: 'horizontal',
            shareButtons: [
                {
                    provider: 'facebook-like',
                },
                {
                    provider: 'google-plusone'
                },
                {
                    provider: 'twitter-tweet',
                    related: 'sunfoundation',
                    via: 'sunfoundation'
                },
                {
                    provider: 'email'
                }
            ],
            userAction: ua
        };
        gigya.socialize.showShareBarUI(params);
    });
</script>
{% endblock %}
