{%load comments%}{%load lede%}
{% autoescape off%}
{%if post_list%}
<ol class="moduleLists">
	{% for post in post_list %}
{% get_comment_count for post as comment_count %}
		<li class="module posts"><h2><a href="{% url blogdor_post post.date_published.year post.slug %}">{{ post.title }}</a></h2>
        <span class="postMeta">
                {{post.shortbyline}}
                <span class="postdate">{{post.date_published|date:"M j, Y"}}</span>
                <span class="posttime">{{post.date_published|date:"P"}}</span>
                {% if comment_count %}<span class="posttime"><a href="{% url blogdor_post post.date_published.year post.slug %}#comments">{{ comment_count}} comment{{comment_count|pluralize}}</a></span>{%endif%}
              </span>


{{ post|lede }}
</li>
	{% endfor %}
</ol>
{%endif%}
{%endautoescape %}

{% include 'paginator.html' %}




