{% extends "base.html" %}

{%block content%}

<style type="text/css">
.tag1 {
    font-size: 6pt;
}

.tag2 {
    font-size: 8pt;
}

.tag3 {
    font-size: 10pt;
}

.tag4 {
    font-size: 12pt;
}

.tag5 {
    font-size: 14pt;
}

.tag6 {
    font-size: 16pt;
}

.tag7 {
    font-size: 18pt;
}

.tag8 {
    font-size: 20pt;
}

.tag9 {
    font-size: 22pt;
}

.tag10 {
    font-size: 24pt;
}

.tagbox .group {
    text-align: center;
    margin-bottom: 20px;
}
</style>


{% load tagging_tags %}
<div class="tagbox">
    <div class="header">Browse our reporting by tag:</div>
    <div class="group">
        {% tag_cloud_for_model reporting.Post as entry_tags with steps=8 min_count=3 distribution=log %}
        {% for tag in entry_tags %}
            <a class="tag{{ tag.font_size }}" a href="/tag/{{tag}}">{{ tag }}</a>
        {% endfor %}
    </div>
</div>


{%endblock%}

