<style type="text/css">
.tag1 {
    font-size: 8pt;
}

.tag2 {
    font-size: 10pt;
}

.tag3 {
    font-size: 12pt;
}

.tag4 {
    font-size: 14pt;
}

.tag5 {
    font-size: 16pt;
}

.tag6 {
    font-size: 18pt;
}

.tag7 {
    font-size: 20pt;
}

.tag8 {
    font-size: 22pt;
}

.tag9 {
    font-size: 24pt;
}

.tag10 {
    font-size: 26pt;
}

.tagbox .group {
    text-align: center;
    margin-bottom: 20px;
}

#id_tags {
    width: 400px;
}
</style>


{% load tagging_tags %}
<div class="tagbox">
    <div class="group">
        {% tag_cloud_for_model reporting.Post as entry_tags with steps=10 min_count=2 distribution=log %}
        {% for tag in entry_tags %}
            <a class="tag{{ tag.font_size }}" onclick="addtag('{{tag}}')">{{ tag }}</a>
        {% endfor %}
    </div>
</div>

