<html><body>
<h3>Uploaded media</h3> <a href="/admin/reporting/upload/add/" target="_blank">Add new file</a> <a href="/adminfiles">Refresh list</a>


<table>
{%for upload in uploads%}
<tr><td>{{upload.name}}</td><td><a href="{{upload.link}}">{{upload.short}}</a></td><td><a href="#" onclick="alert('{{upload.link}}')">[url]</a></td><td><a href="#" onclick="alert('<a href=&quot;{{upload.link}}&quot;>{{upload.name}}</a>')">[link]</a></td><td><a href="#" onclick="alert('<img src=&quot;{{upload.link}}&quot; class=&quot;imgLeft&quot;/>')">[img:left]</a><td><a href="#" onclick="alert('<img src=&quot;{{upload.link}}&quot; class=&quot;imgRight&quot;/>')">[img:right]</a></tr>
{%endfor%}
</table>

</body></html>
