{% extends "mobile_test/fec_base.html" %}


{% block title %}{{ title }}{% endblock %}

{% block nav %}
<ul class="tabs"style="margin-top: 0px;">
				<li><a href="/outside-spending/FEC-alerts/#about">About</a></li>
				<li><a href="/outside-spending/FEC-alerts/#filings">Recent</a></li>
				<li><a href="/outside-spending/FEC-alerts/#more">More Filings</a></li>
</ul>
{% endblock %}

{% block pagecontent %}



            <p class="tip">{{ explanatory_text }} </p>
            <table>
		        <thead>
			        <tr id="titles">
						<th>Time filed & <br /> committee</th>
						<th>Filing & <br />coverage</th>
					</tr>
				</thead>
		        <tbody>
			        {% for filing in filings %}
			            <tr class="{% cycle 'even' 'odd' %}">
                            <td>
                                <span class="tip">{{ filing.process_time|date:"n/j, P"  }}</span>
                                <a href="{{filing.fec_all_filings}}">{{ filing.committee_name}}</a>
                            </td> 
                            <td><a href="{{filing.get_fec_url}}">{{ filing.form_type}} : {{ filing.filing_number }}</a> - {{ filing.get_form_name }}<span class="tip">{% if filing.coverage_to_date %}<br />  {{ filing.coverage_from_date|date:"n/j/y" }} - {{ filing.coverage_to_date|date:"n/j/y" }}{% endif %}</span>
                            </td>
                        </tr>
                    {% endfor %}
		        </tbody>    
		    </table>

        
      

{% endblock %}