<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>MOBILE TEST - FEC FILINGS</title>
	<meta name="description" content="">


	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    
	<link rel="stylesheet" href="http://assets.sunlightfoundation.com/reporting/mobile_testing/stylesheets/base.css">
	<link rel="stylesheet" href="http://assets.sunlightfoundation.com/reporting/mobile_testing/stylesheets/skeleton.css">
	<link rel="stylesheet" href="http://assets.sunlightfoundation.com/reporting/mobile_testing/stylesheets/layout.css">
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons should go here. -->

</head>
<body>



	<!-- start container -->
	<div class="container">
		<div class="sixteen columns">
		    


<h1 class="remove-bottom" style="margin-top: 0px; margin-bottom: 0px;">FEC filings</h1>
<h5>Last updated April 27, 4:40 p.m.</h5>
<hr />

<ul class="tabs"style="margin-top: 0px;">
							<li><a href="#about">About</a></li>
							<li><a class="active" href="#filings">Recent</a></li>
							<li><a href="#more">Search</a></li>
						</ul>
						<ul class="tabs-content">
							<li id="about">
							<p>These pages contain links to the 25 most recent electronic filings made at the FEC. For a complete list of the most recent filings, see <a href="#filings">recent</a>.</p><p>Dozens, if not hundreds, of filings are made daily. For links to more targetted collections of filings, see <a href="#more">more filings</a>.
							</li>
							
							<li class="active" id="filings">
								<p>All recent electronic FEC filings. Filings made on paper are not included. Filings are updated every 15 minutes.</p>
								<hr />
								
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00458679/781023/">781023 [F3A]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00458679/">BLAINE FOR CONGRESS 2012</a> AMENDED Monthly/quarterly report 4/1/11 - 6/30/11 
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00410589/781022/">781022 [F1A]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00410589/">CERNER CORPORATION</a> AMENDED Statement of organization  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00509083/781021/">781021 [F24N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00509083/">INDIANA VALUES SUPERPAC INC</a> 24/48 hr notice of independent/coordinated expenditures  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00461541/781020/">781020 [F3XT]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00461541/">XLHEALTH CORPORATION PAC (XLHEALTH PAC)</a> Monthly/quarterly report 4/1/12 - 4/27/12 
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00500421/781019/">781019 [F6N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00500421/">BONAMICI FOR CONGRESS</a> 48-hour notice of contributions/loans received  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00499541/781018/">781018 [F6N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00499541/">PAUL COBLE FOR CONGRESS</a> 48-hour notice of contributions/loans received  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00479105/781017/">781017 [F3T]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00479105/">BOB THOMAS FOR INDIANA</a> Monthly/quarterly report 4/1/12 - 4/27/12 
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00432948/781016/">781016 [F6N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00432948/">MCGOFF FOR CONGRESS</a> 48-hour notice of contributions/loans received  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00494096/781015/">781015 [F6N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00494096/">DAN ROBERTI FOR CONGRESS</a> 48-hour notice of contributions/loans received  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00432948/781014/">781014 [F3N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00432948/">MCGOFF FOR CONGRESS</a> Monthly/quarterly report 4/1/12 - 4/18/12 
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00007898/781013/">781013 [F3XA]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00007898/">OPEIU JB MOSS VOICE OF THE ELECTORATE (VOTE)</a> AMENDED Monthly/quarterly report 1/1/12 - 2/15/12 
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00260604/781012/">781012 [F6N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00260604/">MEL WATT FOR CONGRESS COMMITTEE</a> 48-hour notice of contributions/loans received  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00401190/781011/">781011 [F6N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00401190/">BUTTERFIELD FOR CONGRESS</a> 48-hour notice of contributions/loans received  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00468256/781010/">781010 [F6N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00468256/">BUCSHON FOR CONGRESS</a> 48-hour notice of contributions/loans received  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00117861/781007/">781007 [F3XA]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00117861/">LOCKE LORD LLP PAC</a> AMENDED Monthly/quarterly report 3/1/12 - 3/31/12 
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00401190/781006/">781006 [F6N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00401190/">BUTTERFIELD FOR CONGRESS</a> 48-hour notice of contributions/loans received  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00005561/781005/">781005 [F3XA]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00005561/">DEMOCRATIC EXECUTIVE COMMITTEE OF FLORIDA</a> AMENDED Monthly/quarterly report 6/1/11 - 6/30/11 
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00514026/781004/">781004 [F3XN]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00514026/">F N B PAC</a> Monthly/quarterly report 1/1/12 - 3/31/12 
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00005561/781003/">781003 [F3XA]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00005561/">DEMOCRATIC EXECUTIVE COMMITTEE OF FLORIDA</a> AMENDED Monthly/quarterly report 4/1/11 - 4/30/11 
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00513259/780995/">780995 [F6N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00513259/">JENNIFER ROBERTS FOR CONGRESS</a> 48-hour notice of contributions/loans received  
							</p>
						
						        
								<p>    
						            
						                April 27, 12:17 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00342733/780994/">780994 [F3XA]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00342733/">COASTAL FEDERAL CREDIT UNION PAC</a> AMENDED Monthly/quarterly report 7/1/11 - 12/31/11 
							</p>
						
						        
								<p>    
						            
						                April 26, 11:59 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00519686/780993/">780993 [F3N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00519686/">BRUCE PELLER FOR CONGRESS</a> Monthly/quarterly report 1/1/12 - 4/18/12 
							</p>
						
						        
								<p>    
						            
						                April 26, 11:59 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00506329/780992/">780992 [F3N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00506329/">COMMITTEE TO ELECT TERRY BELLAMY TO CONGRESS; THE</a> Monthly/quarterly report 4/1/12 - 4/18/12 
							</p>
						
						        
								<p>    
						            
						                April 26, 11:59 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00415075/780991/">780991 [F3XA]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00415075/">SANTA CLARA COUNTY REPUBLICAN PARTY(FED)</a> AMENDED Monthly/quarterly report 1/1/12 - 1/31/12 
							</p>
						
						        
								<p>    
						            
						                April 26, 11:59 p.m. <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00499954/780990/">780990 [F3N]</a> Filed by <a href="http://query.nictusa.com/cgi-bin/dcdev/forms/C00499954/">KEADLE FOR CONGRESS 2012</a> Monthly/quarterly report 4/1/12 - 4/18/12 
							</p>
						
						        
								
								
								
								
							</li>
							
							<li id="more"><p>Search</p>
								
							<form action="">
								
								<>
							</form>
							</li>
						</ul>




		</div>
		
    <!-- Should actually use footer instead, but... -->
		<a href="http://sunlightfoundation.com/"><div class="sixteen columns" style="background-color:#414042;">
			<img src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/1.0/img/logo_sunlightFoundation.png" />
		</div></a>
	<!-- end defacto footer -->
	
	<!-- end container -->
    </div>

	
	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://assets.sunlightfoundation.com/reporting/mobile_testing/javascripts/tabs.js"></script>
	

<!-- End Document
================================================== -->
</body>
</html>