{% extends "doddfrank/doddfrank_base.html" %}
{% load doddfrank %}

{% block body %}{{ block.super }} fdic{% endblock %}

{% block content %}

<h2>Federal Deposit Insurance Corporation</h2>
<p class="tip">The FDIC is an independent agency created by the Congress to maintain stability and public confidence in the nation's financial system by insuring deposits; examining and supervising financial institutions for safety and soundness and consumer protection; and managing receiverships. (<a href="http://www.fdic.gov/about/mission/index.html">source</a>)</p>

<h3>{{ meeting.date }}</h3>
<p><strong>Topic</strong>: {% firstof meeting.topic meeting.subcategory meeting.category %}


<div class="clear"></div>
<hr/>
<h4 style="float: left;">Participants</h4>
{% if not organizations and not attendees %}
<p class="clear">We could not find the list of persons attending this meeting nor a list of organizations represented.</p>
<div class="clear"></div>
{% endif %}

{% for org in organizations %}
    <div class="clear"></div>
    <h4 style="float: left;"><a href="{% url doddfrank_organization_detail organization_slug=org.slug %}">{{ org }}</a></h4>
    <ul style="float: right; width: 65%">
        {% for attendee in attendees %}
            {% if attendee.org == org %}
            <li>{{ attendee.name }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}

<div class="clear"></div>

{% include "doddfrank/fdic_source.html" %}

{% endblock content %}
