{% extends "doddfrank/doddfrank_base.html" %}
{% load doddfrank %}

{% block body %}{{ block.super }} federalReserve{% endblock %}

{% block content %}
<h2>Federal Reserve</h2>
<p class="tip">The Federal Reserve's main responsibilities are conducting the nation's monetary policy by influencing money and credit conditions; supervising and regulating banks and other financial institutions; maintaining the stability of the financial system and containing systemic risk; and providing financial services to the government and financial institutions. (<a href="http://www.federalreserve.gov/faqs/about_12594.htm">source</a>)</p>

<table class="agencyTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Topics</th>
            <th>Attendees</th>
            <th></th>
        </tr>
    </thead>
    {% for meeting in meetings %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td style="width: 150px;">{{ meeting.date }}</td>
        <td>{% firstof meeting.topic meeting.subcategory meeting.category %}</td>
        <td>
            {% if meeting.organizations.count %}
            {{ meeting.organizations.all|and_others }}
            {% else %}
            {{ meeting.attendees.all|and_others }}
            {% endif %}
        </td>
        <td><a href="{% url doddfrank_meeting_detail agency_slug=meeting.agency.slug id=meeting.pk %}">Details</a></td>
    </tr>
    {% endfor %}
</table>

{% include "doddfrank/fed_source.html" %}

{% endblock content %}
