{% extends "doddfrank/doddfrank_base.html" %}

{% load doddfrank %}
{% load humanize %}

{% block content %}

<h2>Recently disclosed meetings</h2>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Agency</th>
            <th>Participants</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for meeting in meetings|slice:"50" %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td>{{ meeting.meeting_time|date:"F j, Y" }}</td>
            <td>{{ meeting.agency }}</td>
            <td>
                {% if meeting.organizations %}
                {% for organization in meeting.organizations|slice:"3" %}
                {{ organization }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if meeting.organizations|length > 3 %}, others{% endif %}
                {% else %}
                    {% if meeting.attendees %}
                        {{ meeting.attendees }}
                    {% endif %}
                {% endif %}

            </td>
            <td><a href="{% url doddfrank_meeting_detail agency_slug=meeting.agency|slugify id=meeting|get_id %}">Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
