{% extends "doddfrank/doddfrank_base.html" %}

{% load doddfrank %}
{% load humanize %}

{% block body %}{{ block.super }} organizations{% endblock %}

{% block content %}

<h2>{{ organization }}</h2>

<p>{{ meetings.count|apnumber|title }} meeting{{ meetings.count|pluralize }} found</p>

<ul>
{% for meeting in meetings %}
<li>On <b>{{ meeting.date }}</b>, {{ meeting.visitor_list|and_others }} met with the <b>{{ meeting.agency.initials }}</b> to discuss <b>{% firstof meeting.topic meeting.subcategory meeting.category %}</b>
    <br/>
    <a href="{% url doddfrank_meeting_detail agency_slug=meeting.agency.slug id=meeting.pk %}">
        View Details
    </a>
    <div class="clear"></div>
    <hr/>
    </li>
{% endfor %}
</ul>

{% endblock %}
