{% extends "doddfrank/doddfrank_base.html" %}

{% load doddfrank %}
{% load humanize %}

{% block body %}{{ block.super }} organizations{% endblock %}

{% block content %}

<h2>{{ organization }}</h2>

<p>{{ meetings.count|apnumber|title }} meeting{{ meetings.count|pluralize }} found</p>

<ul>
{% for meeting in meetings %}
    <li>
    <h4>Agency: {{ meeting.agency }} - {{ meeting.date }}</h4>
    {% if meeting.topic %}
        {% firstof meeting.topic meeting.subcategory meeting.topic %}
        <br/>
    {% endif %}
        <a href="{% url doddfrank_meeting_detail agency_slug=meeting.agency.slug id=meeting.pk %}">
            View Details
        </a>
            <div class="clear"></div>
            <hr/>
    </li>
{% endfor %}
</ul>

{% endblock %}
