{% extends "doddfrank/doddfrank_base.html" %}

{% block body %}{{ block.super }} sec{% endblock %}

{% block content %}
{% load doddfrank %}
<h2>Security and Exchange Commission</h2>
<p class="tip">The SEC oversees the key participants in the securities world, including securities exchanges, securities brokers and dealers, investment advisors, and mutual funds. Here the SEC is concerned primarily with promoting the disclosure of important market-related information, maintaining fair dealing, and protecting against fraud. (<a href="http://sec.gov/about/whatwedo.shtml">source</a>)</p>
<p class="tip">Updated monthly</p>

<table class="agencyTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Topics</th>
            <th>Attendees</th>
            <th></th>
        </tr>
    </thead>
    {% for meeting in meetings %}
        <td style="width: 150px;">{{ meeting.date }}</td>
        <td>
            {{ meeting.category }}
        </td>
        <td>
            {% if meeting.organizations.count %}
            {{ meeting.organizations.all|and_others }}
            {% else %}
            {{ meeting.attendees.all|and_others }}
            {% endif %}
        </td>
        <td><a href="{% url doddfrank_meeting_detail agency_slug=meeting.agency.slug id=meeting.pk %}">Details</a></td>
    </tr>
    {% endfor %}
</table>
            <div class="clear"></div>
{% include "doddfrank/sec_source.html" %}
{% endblock content %}
