{% extends "doddfrank/doddfrank_base.html" %}

{% block body %}{{ block.super }} treasury{% endblock %}

{% block content %}

<h2>Department of Treasury</h2>
<p class="tip">The Treasury Department is the executive agency responsible for promoting economic prosperity and ensuring the financial security of the United States. (<a href="http://www.treasury.gov/about/role-of-treasury/Pages/default.aspx">source</a>)</p>


<h3>{{ meeting.date }}</h3>

{% if meeting.description %}
<h4 style="float: left;">Topics</h4>
<ul style="float: right; width: 70%">
    {% for topic in meeting.description %}
    <li>{{ topic }}</li>
    {% endfor %}
</ul>
{% endif %}

            <div class="clear"></div>
            <hr/>

{% if organizations %}
<h4 style="float: left;">Participating organizations</h4>
<ul style="float: right; width: 70%">
    {% for organization in organizations %}
    <li><a href="{% url doddfrank_organization_detail organization_slug=organization|slugify %}">{{ organization }}</a></li>
    {% endfor %}
</ul>
{% endif %}

            <div class="clear"></div>
            <hr/>

{% if attendees %}
<h4 style="float: left;">Participants</h4>
<ul style="float: right; width: 70%">
{% for attendee in attendees %}
<li>{{ attendee.name }}{% if attendee.org %} (<a href="{% url doddfrank_organization_detail organization_slug=attendee.org|slugify %}">{{ attendee.org }}</a>){% endif %}</li>
{% endfor %}
</ul>
{% endif %}

            <div class="clear"></div>
            <hr/>

{% if meeting.treasury_officials %}
<h4 style="float: left;">Treasury staff members</h3>
<ul style="float: right; width: 70%">
    {% for official in meeting.treasury_officials %}
    <li>{{ official }}
    {% endfor %}
</ul>
{% endif %}

            <div class="clear"></div>

{% include "doddfrank/treasury_source.html" %}
{% endblock %}
