{% extends "doddfrank/doddfrank_base.html" %}
{% load doddfrank %}

{% block body %}{{ block.super }} treasury{% endblock %}

{% block content %}
<h2>Treasury</h2>
<p class="tip">The Treasury Department is the executive agency responsible for promoting economic prosperity and ensuring the financial security of the United States. (<a href="http://www.treasury.gov/about/role-of-treasury/Pages/default.aspx">source</a>)</p>

<p>This page is currently not displaying up to date information. Although the Treasury Department voluntarily <a href="http://www.treasury.gov/initiatives/wsr/Pages/transparency.aspx">discloses Dodd-Frank related meetings with outside groups</a>, changes the agency makes in how its system displays the information will sometimes make our tracker inaccurate. We are working to fix this problem.</p>

<div class="clear"></div>

{% endblock content %}
