{% extends "doddfrank/doddfrank_base.html" %}
{% load doddfrank %}

{% block body %}{{ block.super }} treasury{% endblock %}

{% block content %}
<h2>Treasury</h2>
<p class="tip">The Treasury Department is the executive agency responsible for promoting economic prosperity and ensuring the financial security of the United States. (<a href="http://www.treasury.gov/about/role-of-treasury/Pages/default.aspx">source</a>)</p>

<p><b>This page is currently not displaying up to date information.</b></p>

<div class="clear"></div>

{% endblock content %}
