{% extends "doddfrank/doddfrank_base.html" %}
{% load doddfrank %}

{% block body %}{{ block.super }} treasury{% endblock %}

{% block content %}
<h2>Agency: {{ agency }}</h2>

<table class="agencyTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Participants</th>
            <th></th>
        </tr>
    </thead>
    {% for meeting in meetings %}
    <tr class="{% cycle 'even' 'odd' %}">
        <td style="width: 150px;">{{ meeting.meeting_time|date:"F j, Y" }}</td>
        <td>{% for organization in meeting.organizations|slice:"3" %}
            {{ organization }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if meeting.organizations|length > 3 %}, others{% endif %}
        </td>
        <td><a href="{% url doddfrank_meeting_detail agency_slug=meeting.agency|slugify id=meeting|get_id %}">Details</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
