{% load doddfrank %}
{% load humanize %}
<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Latest Dodd-Frank meetings - Sunlight Foundation</title>
	<meta name="description" content="">
    {% load media %}
    {% css "css/lobbywidget.css" %}
</head>
<body>	
    <div id="lobbyingWidget">
    	<header>
            <span id="foundationLogo">Sunlight Foundation</span>
            <h1><a target="_top" href="http://reporting.sunlightfoundation.com/doddfrank">Latest Dodd-Frank meetings</a></h1>
        </header>
        <div id="container">
            {% for dategroup in meetings_by_date %}
            <h2>{{ dategroup.date|date:"F j" }}</h2>
            <ul class="firstList">
                {% for meeting in dategroup.meetings %}
                {% if meeting.organizations or meeting.attendees %}
                <li>
                <ul class="secondList">
                    <li>
                    {% if meeting.organizations %}
                    <a class="listTitle" target="_top" href="{% url doddfrank_meeting_detail agency_slug=meeting.agency|slugify id=meeting|get_id %}">{% for organization in meeting.organizations|slice:"3" %}{{ organization }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if meeting.organizations|length > 3 %}, others{% endif %}
                        {% else %}
                        {% if meeting.attendees %}
                        {{ meeting.attendees }}
                        {% endif %}
                        {% endif %}
                    </a>
                    </li>
                    <li>
                        <span class="title">Agency:</span>
            <span><a target="_top" href="{% url doddfrank_agency_detail agency_slug=meeting.agency|slugify %}">{{ meeting.agency }}</a></span>
                    </li>
                </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </div> 
   </div>

   <!-- Analytics idea borrowed from Politiwidgets //-->

<script type="text/javascript"> 
  var embedder, embedder_host;
 
  var matches_embedder_host = location.search.match(/embedder_host=([^&\?]+)/);
  if (matches_embedder_host)
    embedder_host = unescape(matches_embedder_host[1]);
 
  var matches_embedder = location.search.match(/embedder=([^&\?]+)/);
  if (matches_embedder)
    embedder = unescape(matches_embedder[1]);
  
  var overriddenReferrer = null;
</script> 
 
<script type="text/javascript"> 
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
  try {
    var pageTracker = _gat._getTracker("UA-1265484-45");
    
    // if the widget is embedded in an iframe, and on an iframe hosted elsewhere, 
    // override the referer so we can track this like a regular link
    overriddenReferrer = false;
    if (embedder && (embedder_host != location.host)) {
      pageTracker._setReferrerOverride(embedder);
      overriddenReferrer = true; // for debugging purposes
      
      pageTracker._setCustomVar(
        1, // slot 1
        "Embedder Host",
        embedder_host,
        2 // session-level
      );
      
      pageTracker._setCustomVar(
        2, // slot 2
        "Embedder URL",
        embedder,
        2 // session-level
      );
    }
    
    pageTracker._setDomainName("none");
    pageTracker._setAllowLinker(true);
    pageTracker._trackPageview();
  } catch(err) {}
</script> 
  <script type="text/javascript"> 
var _sf_async_config={uid:980,domain:"reporting.sunlightfoundation.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
       "static.chartbeat.com/js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
 
</script> 
</body>
